Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

fix: test/appium/requirements.txt to reduce vulnerabilities
  test/appium/requirements.txt
Owners: @churik

Messages home tabs new UI in ui2 (#14183)
  src/quo/components/list/item.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/switcher/home_stack.cljs
  src/status_im/ui/components/chat_icon/screen.cljs
  src/status_im/ui/components/chat_icon/styles.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/toolbar_content.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community.cljs
  src/status_im/ui/screens/screens.cljs
  src/status_im/ui2/screens/chat/composer/input.cljs
  src/status_im/ui2/screens/chat/composer/mentions.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/view.cljs
  translations/en.json
Owners: none

e2e: move to EU datacenter
  fastlane/Fastfile
  test/appium/support/base_test_report.py
  test/appium/tests/__init__.py
  test/appium/tests/base_test_case.py
  test/appium/tests/cloudbase_test_api.py
  test/appium/tests/conftest.py
Owners: @jakubgs, @churik

Fix laziness and let defined in render
  src/quo2/components/tabs/tabs.cljs
Owners: none

clean
  src/quo2/components/tabs/tabs.cljs
Owners: none

Lint
  src/quo2/components/tabs/tabs.cljs
Owners: none

Fix tab not selecting and Error: No protocol method IDeref.-deref defined for type string: (#14194)
  src/quo2/components/tabs/tabs.cljs
Owners: none

fix icons2
  src/quo2/components/icons/icons.cljs
  src/quo2/screens/drawers/action_drawers.cljs
  src/status_im/ui/components/topnav.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/sort_communities.cljs
Owners: none

nix: fix shadow-cljs on M1 by upgrading to 2.11.16
  nix/deps/clojure/deps.json
  nix/deps/clojure/deps.list
  package.json
  shadow-cljs.edn
  yarn.lock
Owners: @jakubgs

rebase
  src/status_im/ui2/screens/chat/components/chat_icon.cljs
  src/status_im/ui2/screens/chat/components/reply.cljs
  src/status_im/ui2/screens/chat/components/toolbar_content.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/messages/pinned_message.cljs
  src/status_im/ui2/screens/chat/styles/chat_icon.cljs
  src/status_im/ui2/screens/chat/styles/message.cljs
  src/status_im/ui2/screens/chat/view.cljs
  translations/en.json
Owners: none

rebase
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/message/pinned_message.cljs
  src/status_im/ui/screens/chat/views.cljs
Owners: none

refactor
  src/status_im/ui2/screens/chat/components/reply.cljs
  src/status_im/ui2/screens/chat/messages/pinned_message.cljs
Owners: none

fix test
  translations/en.json
Owners: none

refactor
  src/status_im/ui/components/chat_icon/screen.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
  src/status_im/ui/screens/chat/toolbar_content.cljs
  src/status_im/ui2/screens/chat/components/chat_icon.cljs
  src/status_im/ui2/screens/chat/components/toolbar_content.cljs
  src/status_im/ui2/screens/chat/messages/pinned_message.cljs
  src/status_im/ui2/screens/chat/styles/chat_icon.cljs
  src/status_im/ui2/screens/chat/styles/message.cljs
Owners: none

migrate to ui2
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/message/pinned_message.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui2/screens/chat/components/chat_icon.cljs
  src/status_im/ui2/screens/chat/components/toolbar_content.cljs
  src/status_im/ui2/screens/chat/messages/pinned_message.cljs
  src/status_im/ui2/screens/chat/styles/message.cljs
Owners: none

refactor
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/messages/pinned_message.cljs
  translations/en.json
Owners: none

rebase
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

reformat
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

react to rn
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

Show pinned messages ui2 (#14184)
  src/status_im/ui/components/chat_icon/screen.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
  src/status_im/ui/screens/chat/toolbar_content.cljs
  src/status_im/ui2/screens/chat/components/reply.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/view.cljs
Owners: none

feat: delete for me message UI
  src/quo2/components/messages/system_message.cljs
  src/status_im/chat/models/delete_message_for_me.cljs
  src/status_im/chat/models/delete_message_for_me_test.cljs
  src/status_im/chat/models/message_list.cljs
  src/status_im/navigation/core.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

fix: system message width/height
  src/quo2/components/messages/system_message.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

feat: deleted for me message UI (#14168)
  src/quo2/components/messages/system_message.cljs
  src/status_im/chat/models/delete_message_for_me.cljs
  src/status_im/chat/models/delete_message_for_me_test.cljs
  src/status_im/chat/models/message_list.cljs
  src/status_im/navigation/core.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

docs: run tests in repl
  doc/TESTING.md
Owners: none

docs: run tests in repl (#14206)
  doc/TESTING.md
Owners: none

android: use projectDir for VERSION file path
  android/app/build.gradle
Owners: none

feat: add leave community feature to redesign
  src/quo2/components/navigation/page_nav.cljs
  src/quo2/screens/navigation/page_nav.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_options_bottom_sheet.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui/screens/screens.cljs
  translations/en.json
Owners: none

feat: add leave community feature to redesign (#14169)
  src/quo2/components/navigation/page_nav.cljs
  src/quo2/screens/navigation/page_nav.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_options_bottom_sheet.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui/screens/screens.cljs
  translations/en.json
Owners: none

main-icons2
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

Fix reactions not syncing correctly
  status-go-version.json
Owners: none

fix: test/appium/requirements.txt to reduce vulnerabilities
  test/appium/requirements.txt
Owners: @churik

fix: test/appium/requirements.txt to reduce vulnerabilities
  test/appium/requirements.txt
Owners: @churik

Shell & Bottom Tabs Migration
  src/js/worklet_factory.js
  src/quo/react_native.cljs
  src/quo2/components/navigation/top_nav.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/navigation/bottom_nav_tab.cljs
  src/status_im/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/navigation2.cljs
  src/status_im/navigation2/core.cljs
  src/status_im/navigation2/roots.cljs
  src/status_im/navigation2/screens.cljs
  src/status_im/navigation2/stack_with_switcher.cljs
  src/status_im/switcher/animation.cljs
  src/status_im/switcher/cards/messaging_card.cljs
  src/status_im/switcher/cards/styles.cljs
  src/status_im/switcher/constants.cljs
  src/status_im/switcher/home_stack.cljs
  src/status_im/switcher/shell.cljs
  src/status_im/switcher/shell_stack.cljs
  src/status_im/switcher/styles.cljs
  src/status_im/switcher/switcher.cljs
  src/status_im/switcher/switcher_container.cljs
  src/status_im/switcher/utils.cljs
  src/status_im/ui2/screens/chat/home.cljs
  translations/en.json
Owners: none

Added accessibility ids for elements in the new UI
  src/quo2/components/buttons/dynamic_button.cljs
  src/quo2/components/navigation/bottom_nav_tab.cljs
  src/quo2/components/reactions/reaction.cljs
  src/status_im/switcher/bottom_tabs.cljs
  src/status_im/ui/screens/chat/message/reactions_row.cljs
  src/status_im/ui2/screens/chat/components/reaction_drawer.cljs
  src/status_im/ui2/screens/chat/components/reply.cljs
Owners: none

Shell & Bottom Tabs Migration (#14099)
  src/js/worklet_factory.js
  src/quo/react_native.cljs
  src/quo2/components/buttons/dynamic_button.cljs
  src/quo2/components/navigation/bottom_nav_tab.cljs
  src/quo2/components/navigation/top_nav.cljs
  src/quo2/components/reactions/reaction.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/navigation/bottom_nav_tab.cljs
  src/status_im/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/navigation2.cljs
  src/status_im/navigation2/core.cljs
  src/status_im/navigation2/roots.cljs
  src/status_im/navigation2/screens.cljs
  src/status_im/navigation2/stack_with_switcher.cljs
  src/status_im/switcher/animation.cljs
  src/status_im/switcher/bottom_tabs.cljs
  src/status_im/switcher/cards/messaging_card.cljs
  src/status_im/switcher/cards/styles.cljs
  src/status_im/switcher/constants.cljs
  src/status_im/switcher/home_stack.cljs
  src/status_im/switcher/shell.cljs
  src/status_im/switcher/shell_stack.cljs
  src/status_im/switcher/styles.cljs
  src/status_im/switcher/switcher.cljs
  src/status_im/switcher/switcher_container.cljs
  src/status_im/switcher/utils.cljs
  src/status_im/ui/screens/chat/message/reactions_row.cljs
  src/status_im/ui2/screens/chat/components/reaction_drawer.cljs
  src/status_im/ui2/screens/chat/components/reply.cljs
  src/status_im/ui2/screens/chat/home.cljs
  translations/en.json
Owners: none

chore: add .zprintrc
  .zprintrc
Owners: none

fix: force-nl off in ->
  .zprintrc
Owners: none

ci: use zprint in make lint, make lint-fix, remove cljfmt
  Makefile
  indentation.edn
  nix/deps/clojure/deps.json
  nix/deps/clojure/deps.list
  nix/shells.nix
  shadow-cljs.edn
Owners: @jakubgs

style: commit showing justify in binding with map
  src/quo/components/animated/pressable.cljs
Owners: none

style: another commit
  src/quo/components/button/view.cljs
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik
