Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik

Bump endpoints
  src/status_im/browser/core.cljs
Owners: none

Bump status-go
  status-go-version.json
Owners: none

typo
  src/status_im/browser/core.cljs
Owners: none

Issue-13813: Use new endpoints for browser (#13827)
  src/status_im/browser/core.cljs
  src/status_im/multiaccounts/login/core.cljs
Owners: none

[#13835] Fix Generate keys button
  src/status_im/keycard/recovery.cljs
Owners: none

e2e: fixes
  test/appium/tests/critical/wallet_and_tx/test_wallet.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/base_view.py
Owners: @churik

feat: add token tag component (#13599)
  resources/images/icons/purchasable12@2x.png
  resources/images/icons/purchasable12@3x.png
  resources/images/icons/required_checkmark12@2x.png
  resources/images/icons/required_checkmark12@3x.png
  src/quo2/components/tag.cljs
  src/quo2/components/token_tag.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/token_tag.cljs
Owners: none

feat: add token tag component (#13599) (#13644)
  resources/images/icons/purchasable12@2x.png
  resources/images/icons/purchasable12@3x.png
  resources/images/icons/required_checkmark12@2x.png
  resources/images/icons/required_checkmark12@3x.png
  src/quo2/components/tag.cljs
  src/quo2/components/token_tag.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/token_tag.cljs
Owners: none

[test-go] Handle image in group chat
  status-go-version.json
Owners: none

ci: extrac Lint and Tests to separate job
  Makefile
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.tests
Owners: @jakubgs

add logs
  status-go-version.json
Owners: none

set default encrypted
  src/status_im/communities/core.cljs
Owners: none

ci: use different IPFS gateway for release builds
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
  nix/config.nix
  nix/status-go/default.nix
  status-go-version.json
Owners: @jakubgs

drop unused coveralls configuration and CI steps
  Makefile
  package.json
  scripts/run-coverage.sh
  yarn.lock
Owners: @jakubgs

icon-avatar component
  src/quo2/components/icon_avatar.cljs
  src/quo2/screens/icon_avatar.cljs
  src/quo2/screens/main.cljs
Owners: none

Add more colors
  src/quo2/components/icon_avatar.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/icon_avatar.cljs
Owners: none

Linting
  src/quo2/components/icon_avatar.cljs
  src/quo2/screens/main.cljs
Owners: none

Revert podfile
  ios/Podfile.lock
Owners: none

clean podfile.lock
  ios/Podfile.lock
Owners: none

Conflicto solvado
  src/quo2/components/icon_avatar.cljs
  src/quo2/foundations/colors.cljs
Owners: none

Improve colors
  src/quo2/components/avatar/avatar_themes.cljs
  src/quo2/components/icon_avatar.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/icon_avatar.cljs
Owners: none

Comments
  src/quo2/components/icon_avatar.cljs
  src/quo2/screens/icon_avatar.cljs
Owners: none

Refactor to another folder
  src/quo2/components/avatar/avatar_themes.cljs
  src/quo2/components/icon_avatar.cljs
Owners: none

Lint
  src/quo2/components/avatar/avatar_themes.cljs
  src/quo2/screens/icon_avatar.cljs
Owners: none

Merge develop
  src/quo2/screens/main.cljs
Owners: none

[13565] icon-avatar component (#13692)
  src/quo2/components/avatar/avatar_themes.cljs
  src/quo2/components/icon_avatar.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/icon_avatar.cljs
  src/quo2/screens/main.cljs
Owners: none

wallet user avatar component
  src/quo2/components/wallet_user_avatar.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/wallet_user_avatar.cljs
Owners: none

rename is-theme-dark?
  src/quo2/components/wallet_user_avatar.cljs
Owners: none

linting
  src/quo2/foundations/colors.cljs
Owners: none

comments
  src/quo2/components/wallet_user_avatar.cljs
  src/quo2/foundations/colors.cljs
Owners: none

Linting
  src/quo2/foundations/colors.cljs
Owners: none

Conflicts resolve
  src/quo2/foundations/colors.cljs
Owners: none

Clean
  src/quo2/foundations/colors.cljs
Owners: none

Lint
  src/quo2/components/wallet_user_avatar.cljs
  src/quo2/foundations/colors.cljs
Owners: none

rename colors
  src/quo2/components/wallet_user_avatar.cljs
Owners: none

Clean
  src/quo2/foundations/colors.cljs
Owners: none

Remove whitespace
  src/quo2/foundations/colors.cljs
Owners: none

Clen
  src/quo2/components/wallet_user_avatar.cljs
Owners: none

Improve colors and used quo2.text
  src/quo2/components/wallet_user_avatar.cljs
  src/quo2/foundations/colors.cljs
Owners: none

Consistent coloring
  src/quo2/foundations/colors.cljs
Owners: none
