Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @status-im/status-core, @jakubgs, @PombeirP, @status-im/status-core-ui, @vkjr, @oskarth, @mandrigin, @yenda, @jeluard, @antdanchenko, @churik

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @status-im/status-core

/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @PombeirP @jakubgs
/nix        @PombeirP @jakubgs
/.github/   @PombeirP @jakubgs

/components @status-im/status-core-ui

desktop/                        @vkjr
/desktop_files                  @vkjr
modules/react-native-desktop*/  @vkjr
modules/react-native-desktop*/  @vkjr

/doc        @oskarth @mandrigin @yenda @jeluard

/deployment @vkjr @PombeirP

/test    @antdanchenko @churik

fetch_message and e2e fix
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/views/profile_view.py
Owners: @antdanchenko, @churik

[perf] no fancy panths higherorder components
  src/status_im/chat/db.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
  src/status_im/ui/screens/desktop/main/chat/views.cljs
Owners: @status-im/status-core, @vkjr

temporary comment tests
  src/status_im/ui/screens/chat/views.cljs
  test/cljs/status_im/test/chat/db.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

no animation
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

remove progressive loading
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

remove sub
  src/status_im/ui/screens/chat/message/message.cljs
Owners: @status-im/status-core

initial num to render
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

remove stuff that could be computed in subs
  src/status_im/ui/screens/chat/message/message.cljs
Owners: @status-im/status-core

Update ko.json
  translations/ko.json
Owners: @status-im/status-core

[refactor] replace web3-prototype
  externs.js
  src/status_im/chat/models/message.cljs
  src/status_im/contact/db.cljs
  src/status_im/data_store/messages.cljs
  src/status_im/data_store/realm/schemas/account/migrations.cljs
  src/status_im/ethereum/abi_spec.cljs
  src/status_im/ethereum/core.cljs
  src/status_im/ethereum/ens.cljs
  src/status_im/ethereum/json_rpc.cljs
  src/status_im/events.cljs
  src/status_im/extensions/capacities/ethereum.cljs
  src/status_im/notifications/core.cljs
  src/status_im/protocol/core.cljs
  src/status_im/transport/message/core.cljs
  src/status_im/transport/message/protocol.cljs
  src/status_im/transport/shh.cljs
  src/status_im/transport/utils.cljs
  src/status_im/ui/screens/wallet/send/events.cljs
  src/status_im/web3/core.cljs
  src/status_im/web3/events.cljs
  test/cljs/status_im/test/sign_in/flow.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

Move files that don't change per platform to the root
  .babelrc
  .gitignore
  VERSION
  ci/android.groovy
  ci/github.groovy
  ci/ios.groovy
  ci/utils.groovy
  desktop_files/.babelrc
  ios/scripts/set_xcode_version.sh
  mobile_files/VERSION
  scripts/build-desktop.sh
  scripts/prepare-for-platform.sh
Owners: @status-im/status-core, @jakubgs, @vkjr

Some changes from the node2nix test branch that don't need to be there
  android/app/build.gradle
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  nix/desktop/realm-node/default.nix
  nix/desktop/realm-node/generate-nix.sh
  nix/desktop/realm-node/output/default.nix
  nix/desktop/realm-node/output/node-packages.nix
  nix/desktop/realm-node/output/supplement.nix
  project.clj
  scripts/add-gcroots.sh
  scripts/build-desktop.sh
  scripts/gen-deps-hash.sh
  scripts/gen_build_no.sh
  scripts/lib/setup/packages.sh
  scripts/prepare-for-platform.sh
  scripts/run-osx
  scripts/toolversion
  scripts/update-status-go.sh
  shell.nix
Owners: @status-im/status-core, @jakubgs, @vkjr, @PombeirP

[perf] no fancy panths higherorder components
  src/status_im/chat/db.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
  src/status_im/ui/screens/desktop/main/chat/views.cljs
Owners: @status-im/status-core, @vkjr

remove progressive loading
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

no animation
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

remove sub
  src/status_im/ui/screens/chat/message/message.cljs
Owners: @status-im/status-core

temporary comment tests
  src/status_im/ui/screens/chat/views.cljs
  test/cljs/status_im/test/chat/db.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

initial num to render
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

Use `initialNumToRender` property + simplify our messaging FlatList.
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

remove stuff that could be computed in subs
  src/status_im/ui/screens/chat/message/message.cljs
Owners: @status-im/status-core

more experiments on chat perfs
  src/status_im/chat/models/loading.cljs
  src/status_im/events.cljs
  src/status_im/ui/screens/chat/input/animations/expandable.cljs
  src/status_im/ui/screens/chat/input/input.cljs
  src/status_im/ui/screens/chat/styles/animations.cljs
  src/status_im/ui/screens/chat/styles/main.cljs
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

Update views.cljs
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

remove anim
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

[fix] crash on some android devices #8368
  mobile_files/package.json.orig
  mobile_files/yarn.lock
Owners: @status-im/status-core

Requirement for Faucet request received is removed
  test/appium/tests/atomic/transactions/test_daaps_transactions.py
Owners: @antdanchenko, @churik

don't rebase manual builds
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.linux
  ci/Jenkinsfile.macos
  ci/Jenkinsfile.windows
  ci/common.groovy
  ci/desktop.groovy
  ci/github.groovy
  ci/mobile.groovy
  ci/utils.groovy
Owners: @jakubgs

[perf] Minimize com.taoensso/timbre dependencies
  deps.edn
  project.clj
Owners: @status-im/status-core

[perf] move goog.i18n deps to a module
  .gitignore
  Makefile
  ci/desktop.groovy
  externs.js
  params.edn
  params_prod.edn
  prepare-modules.js
  project.clj
  src/status_im/goog/i18n.cljs
  src/status_im/goog/i18n_module.cljs
  src/status_im/i18n.cljs
  src/status_im/modules.clj
  src/status_im/ui/screens/browser/open_dapp/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/utils/datetime.cljs
  test/cljs/status_im/test/utils/datetime.cljs
Owners: @status-im/status-core, @jakubgs, @antdanchenko, @churik

Network module
  prepare-modules.js
  project.clj
  src/status_im/accounts/db.cljs
  src/status_im/accounts/login/core.cljs
  src/status_im/accounts/model.cljs
  src/status_im/chat/models.cljs
  src/status_im/chat/models/loading.cljs
  src/status_im/chat/models/message.cljs
  src/status_im/contact/core.cljs
  src/status_im/contact_code/core.cljs
  src/status_im/contact_recovery/core.cljs
  src/status_im/events.cljs
  src/status_im/extensions/capacities/network.cljs
  src/status_im/group_chats/core.cljs
  src/status_im/mailserver/core.cljs
  src/status_im/models/dev_server.cljs
  src/status_im/network/core.cljs
  src/status_im/network/events.cljs
  src/status_im/network/module.cljs
  src/status_im/network/net_info.cljs
  src/status_im/network/subs.cljs
  src/status_im/network/ui/db.cljs
  src/status_im/network/ui/edit_network/styles.cljs
  src/status_im/network/ui/edit_network/views.cljs
  src/status_im/network/ui/network_details/views.cljs
  src/status_im/network/ui/styles.cljs
  src/status_im/network/ui/views.cljs
  src/status_im/notifications/core.cljs
  src/status_im/pairing/core.cljs
  src/status_im/signals/core.cljs
  src/status_im/subs.cljs
  src/status_im/transport/message/protocol.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/mobile_network_settings/events.cljs
  src/status_im/ui/screens/profile/events.cljs
  src/status_im/ui/screens/routing/screens.cljs
  src/status_im/utils/handlers.cljs
  src/status_im/utils/universal_links/core.cljs
  test/cljs/status_im/test/models/account.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

Extensions module
  prepare-modules.js
  project.clj
  src/status_im/accounts/db.cljs
  src/status_im/accounts/model.cljs
  src/status_im/browser/permissions.cljs
  src/status_im/events.cljs
  src/status_im/extensions/capacities/components.cljs
  src/status_im/extensions/capacities/events.cljs
  src/status_im/extensions/constants.cljs
  src/status_im/extensions/core.cljs
  src/status_im/extensions/events.cljs
  src/status_im/extensions/module.cljs
  src/status_im/extensions/registry.cljs
  src/status_im/extensions/ui/add/events.cljs
  src/status_im/extensions/ui/add/styles.cljs
  src/status_im/extensions/ui/add/views.cljs
  src/status_im/extensions/ui/db.cljs
  src/status_im/extensions/ui/styles.cljs
  src/status_im/extensions/ui/views.cljs
  src/status_im/init/core.cljs
  src/status_im/modules.clj
  src/status_im/ui/components/list_selection.cljs
  src/status_im/ui/screens/accounts/login/views.cljs
  src/status_im/ui/screens/browser/open_dapp/views.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/events.cljs
  src/status_im/ui/screens/routing/screens.cljs
  src/status_im/utils/universal_links/core.cljs
Owners: @status-im/status-core

prod version of slurp
  .gitignore
  prepare-modules.js
  src/status_im/extensions/capacities/map.cljs
  src/status_im/fleet/core.cljs
  src/status_im/network/module.cljs
  src/status_im/network/subs.cljs
  src/status_im/ui/screens/add_new/new_public_chat/view.cljs
  src/status_im/ui/screens/browser/views.cljs
  src/status_im/utils/js_resources.cljs
  src/status_im/utils/slurp.clj
Owners: @status-im/status-core

[perf] Minimize com.taoensso/timbre dependencies
  deps.edn
  project.clj
Owners: @status-im/status-core

run checks and build steps in parallel
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.linux
  ci/Jenkinsfile.macos
  ci/Jenkinsfile.windows
Owners: @jakubgs

add NIX_KEEP to add --keep to pyre nix shell
  nix/shell.sh
Owners: @PombeirP, @jakubgs

add NIX_KEEP to add --keep to pyre nix shell
  nix/shell.sh
Owners: @PombeirP, @jakubgs

[perf] move goog.i18n deps to a module
  .gitignore
  Makefile
  externs.js
  prepare-modules.js
  project.clj
  src/status_im/goog/i18n.cljs
  src/status_im/goog/i18n_module.cljs
  src/status_im/i18n.cljs
  src/status_im/modules.clj
  src/status_im/ui/screens/browser/open_dapp/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/utils/datetime.cljs
  test/cljs/status_im/test/utils/datetime.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

prevent showing error dialog and code loading
  src/status_im/android/core.cljs
  src/status_im/ios/core.cljs
Owners: @status-im/status-core

run checks and build steps in parallel
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.linux
  ci/Jenkinsfile.macos
  ci/Jenkinsfile.windows
Owners: @jakubgs

[fix #8375] unavailable for non bioauth devices
  src/status_im/biometric_auth/core.cljs
  src/status_im/utils/keychain/core.cljs
Owners: @status-im/status-core

fix load of github groovy module
  ci/Jenkinsfile.combined
Owners: @jakubgs
