Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

Rebase
  src/quo2/foundations/colors.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/wallet_user_avatar.cljs
Owners: none

[13565] icon-avatar component (#13692)
  src/quo2/foundations/colors.cljs
  src/quo2/screens/main.cljs
Owners: none

[13562] Wallet user avatar component (#13681)
  src/quo2/components/wallet_user_avatar.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/wallet_user_avatar.cljs
Owners: none

Update translations
  translations/hi.json
  translations/ja.json
  translations/ru.json
  translations/zh.json
  translations/zh_TW.json
Owners: none

temporary remove some translations for f-droid
  fastlane/metadata/android/de-DE/short_description.txt
  fastlane/metadata/android/es-419/short_description.txt
  fastlane/metadata/android/es-419/title.txt
  fastlane/metadata/android/es-AR/short_description.txt
  fastlane/metadata/android/es-AR/title.txt
  fastlane/metadata/android/es-ES/short_description.txt
  fastlane/metadata/android/es-ES/title.txt
  fastlane/metadata/android/fil/title.txt
  fastlane/metadata/android/fr-FR/short_description.txt
  fastlane/metadata/android/fr-FR/title.txt
  fastlane/metadata/android/it-IT/short_description.txt
  fastlane/metadata/android/it-IT/title.txt
  fastlane/metadata/android/pt-BR/title.txt
  fastlane/metadata/android/ru-RU/short_description.txt
  fastlane/metadata/android/tr-TR/title.txt
  fastlane/metadata/android/uk/short_description.txt
  fastlane/metadata/android/uk/title.txt
Owners: @jakubgs

Update translation for 1.20 (#13729)
  fastlane/metadata/android/de-DE/short_description.txt
  fastlane/metadata/android/es-419/short_description.txt
  fastlane/metadata/android/es-419/title.txt
  fastlane/metadata/android/es-AR/short_description.txt
  fastlane/metadata/android/es-AR/title.txt
  fastlane/metadata/android/es-ES/short_description.txt
  fastlane/metadata/android/es-ES/title.txt
  fastlane/metadata/android/fil/title.txt
  fastlane/metadata/android/fr-FR/short_description.txt
  fastlane/metadata/android/fr-FR/title.txt
  fastlane/metadata/android/it-IT/short_description.txt
  fastlane/metadata/android/it-IT/title.txt
  fastlane/metadata/android/pt-BR/title.txt
  fastlane/metadata/android/ru-RU/short_description.txt
  fastlane/metadata/android/tr-TR/title.txt
  fastlane/metadata/android/uk/short_description.txt
  fastlane/metadata/android/uk/title.txt
  translations/hi.json
  translations/ja.json
  translations/ru.json
  translations/zh.json
  translations/zh_TW.json
Owners: @jakubgs

1.20.0
  VERSION
Owners: none

1.20.0 release notes
  RELEASES.md
Owners: none

ci: fix keystore used when validating APK
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
Owners: @jakubgs

notes: updated release notes
  RELEASES.md
  test/appium/tests/critical/chats/test_1_1_public_chats.py
Owners: @churik

Implement react-native-hole-view
  ios/Podfile.lock
  nix/deps/gradle/deps.json
  nix/deps/gradle/deps.list
  nix/deps/gradle/deps.urls
  nix/deps/gradle/proj.list
  package.json
  src/mocks/js_dependencies.cljs
  src/quo/react_native.cljs
  yarn.lock
Owners: @jakubgs

Implement react-native-hole-view (#13868)
  ios/Podfile.lock
  nix/deps/gradle/deps.json
  nix/deps/gradle/deps.list
  nix/deps/gradle/deps.urls
  nix/deps/gradle/proj.list
  package.json
  src/mocks/js_dependencies.cljs
  src/quo/react_native.cljs
  yarn.lock
Owners: @jakubgs

Extend integration tests to back up seed phrase (#13804)
  src/status_im/integration_test.cljs
  src/status_im/multiaccounts/update/core.cljs
  src/status_im/multiaccounts/update/core_test.cljs
  src/status_im/profile/core.cljs
Owners: none

ios: bump Fastlane from 2.205.2 to 2.209.1 and pods
  fastlane/Gemfile.lock
  fastlane/gemset.nix
  ios/Podfile.lock
  ios/StatusIm.xcodeproj/project.pbxproj
Owners: @jakubgs

nix: fix order of iOS shell components
  nix/mobile/ios/default.nix
  nix/mobile/ios/shells/cocoapods.nix
  nix/mobile/ios/shells/nodejs.nix
  nix/mobile/ios/shells/pod.nix
  nix/mobile/ios/shells/status-go.nix
  nix/shells.nix
Owners: @jakubgs

fix old stickers
  src/status_im/chat/models/input.cljs
  src/status_im/multiaccounts/update/core.cljs
Owners: none

fix old stickers (#13901)
  src/status_im/chat/models/input.cljs
  src/status_im/multiaccounts/update/core.cljs
Owners: none

fix old stickers (#13901)
  src/status_im/chat/models/input.cljs
  src/status_im/multiaccounts/update/core.cljs
Owners: none

notes: updated release notes
  RELEASES.md
  test/appium/tests/critical/chats/test_1_1_public_chats.py
Owners: @churik

added communnities screen for membership status
  resources/images/icons/info20@3x.png
  resources/images/ui/discover.png
  src/quo/components/bottom_sheet/style.cljs
  src/quo/components/bottom_sheet/view.cljs
  src/quo/core.cljs
  src/quo2/components/button.cljs
  src/quo2/components/item_redesign.cljs
  src/status_im/subs.cljs
  src/status_im/ui/components/plus_button_redesign.cljs
  src/status_im/ui/screens/bottom_sheets/views.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_membership_status.cljs
  src/status_im/ui/screens/communities/community_views_redesign.cljs
  src/status_im/ui/screens/communities/sort_communities_redesign.cljs
  src/status_im/ui/screens/communities/styles.cljs
Owners: none

updated communities redesign
  resources/images/ui/community-cover-image.png
  src/quo/core.cljs
  src/quo2/components/bottom_sheet/style.cljs
  src/quo2/components/bottom_sheet/view.cljs
  src/quo2/components/filter_tag.cljs
  src/quo2/components/filter_tags.cljs
  src/quo2/components/header.cljs
  src/quo2/components/item.cljs
  src/quo2/components/permission_tag.cljs
  src/status_im/bottom_sheet/core.cljs
  src/status_im/events.cljs
  src/status_im/navigation/core.cljs
  src/status_im/react_native/resources.cljs
  src/status_im/subs.cljs
  src/status_im/ui/components/plus_button_redesign.cljs
  src/status_im/ui/components/topbar_redesign.cljs
  src/status_im/ui/screens/bottom_sheets/views.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_membership_status.cljs
  src/status_im/ui/screens/communities/community_views_redesign.cljs
  src/status_im/ui/screens/communities/sort_communities_redesign.cljs
  src/status_im/ui/screens/communities/styles.cljs
  src/status_im/ui/screens/views.cljs
Owners: none

Removed unnecessary files
  1
  resources/images/icons/card-view@2x.png
  resources/images/icons/card-view@3x.png
  resources/images/icons/group@2x.png
  resources/images/icons/group@3x.png
  resources/images/icons/scan2@2x.png
  resources/images/icons/scan2@3x.png
  resources/images/icons/search2@2x.png
  resources/images/icons/search2@3x.png
  src/quo2/foundations/colors.cljs
  src/status_im/i18n/i18n.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_membership_status.cljs
  src/status_im/ui/screens/communities/styles.cljs
Owners: none

Updated communities redesign
  resources/images/icons/info@2x.png
  resources/images/icons/info@3x.png
  resources/images/icons/scan2@2x.png
  resources/images/icons/scan2@3x.png
  resources/images/icons/search2@2x.png
  resources/images/icons/search2@3x.png
  resources/images/icons/security@2x.png
  src/quo/components/bottom_sheet/style.cljs
  src/quo/components/list/item.cljs
  src/quo2/components/base_tag.cljs
  src/quo2/components/community_card_view.cljs
  src/quo2/components/filter_tag.cljs
  src/quo2/components/filter_tags.cljs
  src/quo2/components/permission_tag.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/community_card_view.cljs
  src/quo2/screens/filter_tags.cljs
  src/quo2/screens/permission_tag.cljs
  src/status_im/subs.cljs
  src/status_im/ui/components/topnav.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_membership_status.cljs
  src/status_im/ui/screens/communities/sort_communities.cljs
  src/status_im/ui/screens/communities/styles.cljs
  translations/en.json
Owners: none

fix no icon for ETH in 1-1 transaction messages
  src/status_im/ethereum/macros.clj
Owners: none

fix no icon for ETH in 1-1 transaction messages (#13898)
  src/status_im/ethereum/macros.clj
Owners: none

fix no icon for ETH in 1-1 transaction messages (#13898)
  src/status_im/ethereum/macros.clj
Owners: none

fix Adding/removing user from contacts duplicating their messages in profile
  src/status_im/chat/models/message.cljs
Owners: none

fix Adding/removing user from contacts duplicating their messages in profile (#13897)
  src/status_im/chat/models/message.cljs
Owners: none

fix Adding/removing user from contacts duplicating their messages in profile (#13897)
  src/status_im/chat/models/message.cljs
Owners: none

nhttps://github.com/status-im/status-go/compare/86054875...b87ecb20
  status-go-version.json
Owners: none

ci: save and show both stdout and stderr
  ci/Jenkinsfile.tests
Owners: @jakubgs

[13857] Extend integration tests to recover multiaccount from seed phrase
  src/mocks/js_dependencies.cljs
  src/status_im/integration_test.cljs
  src/status_im/utils/test.cljs
Owners: none

nhttps://github.com/status-im/status-go/compare/86054875...b87ecb20
  status-go-version.json
Owners: none

ci: disable sandbox for status-go iOS builds
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
  nix/nix.conf
  nix/status-go/mobile/build.nix
Owners: @jakubgs

ci: tests build does not save any artifacts
  ci/Jenkinsfile.combined
Owners: @jakubgs

ci: disable sandbox for status-go iOS builds
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
  nix/nix.conf
  nix/status-go/mobile/build.nix
Owners: @jakubgs

ci: tests build does not save any artifacts
  ci/Jenkinsfile.combined
Owners: @jakubgs

feat: add messages gap component
  .prettierrc.js
  ios/Podfile.lock
  resources/images/icons/message-gap-info12@2x.png
  resources/images/icons/message-gap-info12@3x.png
  resources/images/ui/message-gap-circle-bg-dark@2x.png
  resources/images/ui/message-gap-circle-bg-dark@3x.png
  resources/images/ui/message-gap-circle-bg-light@2x.png
  resources/images/ui/message-gap-circle-bg-light@3x.png
  resources/images/ui/message-gap-hborder-dark@2x.png
  resources/images/ui/message-gap-hborder-dark@3x.png
  resources/images/ui/message-gap-hborder-light@2x.png
  resources/images/ui/message-gap-hborder-light@3x.png
  resources/images/ui/message-gap-vborder-light@2x.png
  resources/images/ui/message-gap-vborder-light@3x.png
  src/quo2/components/messages_gap.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/messages_gap.cljs
  translations/en.json
Owners: none

Use contacts' data
  src/quo2/components/context_tags.cljs
  src/quo2/screens/context_tags.cljs
Owners: none

Pass params
  src/quo2/components/context_tags.cljs
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik
