Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @status-im/status-core, @jakubgs, @PombeirP, @status-im/status-core-ui, @vkjr, @oskarth, @mandrigin, @yenda, @jeluard, @antdanchenko, @churik

[perf] prod version of slurp
  .gitignore
  prepare-modules.js
  src/status_im/extensions/capacities/map.cljs
  src/status_im/fleet/core.cljs
  src/status_im/ui/screens/add_new/new_public_chat/view.cljs
  src/status_im/ui/screens/browser/views.cljs
  src/status_im/utils/js_resources.cljs
  src/status_im/utils/slurp.clj
Owners: @status-im/status-core

drop x86 and x86_64 for non-e2e or dev builds
  Makefile
  android/app/build.gradle
  android/gradle.properties
  ci/android.groovy
Owners: @status-im/status-core, @jakubgs

e2e fixes
  src/status_im/ui/screens/signing/views.cljs
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/transactions/test_daaps_transactions.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/chat_view.py
  test/appium/views/send_transaction_view.py
Owners: @status-im/status-core, @antdanchenko, @churik

More e2e fixes
  test/appium/tests/atomic/transactions/test_daaps_transactions.py
Owners: @antdanchenko, @churik

adding error for a field defined with range that is out of range on extensions
  src/status_im/extensions/capacities/components.cljs
  translations/en.json
Owners: @status-im/status-core

Use `initialNumToRender` property + simplify our messaging FlatList.
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

[perf] network module
  project.clj
  src/status_im/accounts/db.cljs
  src/status_im/accounts/login/core.cljs
  src/status_im/accounts/model.cljs
  src/status_im/chat/models.cljs
  src/status_im/chat/models/loading.cljs
  src/status_im/chat/models/message.cljs
  src/status_im/contact/core.cljs
  src/status_im/contact_code/core.cljs
  src/status_im/contact_recovery/core.cljs
  src/status_im/events.cljs
  src/status_im/extensions/capacities/network.cljs
  src/status_im/group_chats/core.cljs
  src/status_im/mailserver/core.cljs
  src/status_im/models/dev_server.cljs
  src/status_im/network/core.cljs
  src/status_im/network/events.cljs
  src/status_im/network/module.cljs
  src/status_im/network/net_info.cljs
  src/status_im/network/subs.cljs
  src/status_im/network/ui/db.cljs
  src/status_im/network/ui/edit_network/styles.cljs
  src/status_im/network/ui/edit_network/views.cljs
  src/status_im/network/ui/network_details/views.cljs
  src/status_im/network/ui/styles.cljs
  src/status_im/network/ui/views.cljs
  src/status_im/notifications/core.cljs
  src/status_im/pairing/core.cljs
  src/status_im/signals/core.cljs
  src/status_im/subs.cljs
  src/status_im/transport/message/protocol.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/mobile_network_settings/events.cljs
  src/status_im/ui/screens/profile/events.cljs
  src/status_im/ui/screens/routing/screens.cljs
  src/status_im/utils/handlers.cljs
  src/status_im/utils/universal_links/core.cljs
  test/cljs/status_im/test/models/account.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[perf] extensions module
  project.clj
  src/status_im/accounts/db.cljs
  src/status_im/browser/permissions.cljs
  src/status_im/events.cljs
  src/status_im/extensions/capacities/components.cljs
  src/status_im/extensions/capacities/events.cljs
  src/status_im/extensions/constants.cljs
  src/status_im/extensions/core.cljs
  src/status_im/extensions/events.cljs
  src/status_im/extensions/module.cljs
  src/status_im/extensions/registry.cljs
  src/status_im/extensions/ui/add/events.cljs
  src/status_im/extensions/ui/add/styles.cljs
  src/status_im/extensions/ui/add/views.cljs
  src/status_im/extensions/ui/db.cljs
  src/status_im/extensions/ui/styles.cljs
  src/status_im/extensions/ui/views.cljs
  src/status_im/init/core.cljs
  src/status_im/modules.clj
  src/status_im/ui/components/list_selection.cljs
  src/status_im/ui/screens/accounts/login/views.cljs
  src/status_im/ui/screens/browser/open_dapp/views.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/events.cljs
  src/status_im/ui/screens/routing/screens.cljs
  src/status_im/utils/universal_links/core.cljs
Owners: @status-im/status-core

Minor fixes in Nix
  deps.edn
  derivation.nix
  nix/status-go/default.nix
  scripts/build-android.sh
  scripts/start-react-native.sh
Owners: @status-im/status-core, @PombeirP, @jakubgs

Ensure watchman watch is removed after Jenkins build
  Makefile
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.linux
  ci/Jenkinsfile.macos
  ci/Jenkinsfile.windows
  ci/desktop.groovy
Owners: @status-im/status-core, @jakubgs

Upgrade Xcode requirement to 10.2.1
  nix/mobile/default.nix
Owners: @PombeirP, @jakubgs

fix node_modules permissions before git clean
  Makefile
Owners: @status-im/status-core

Initial feature commit
  android/app/build.gradle
  android/app/src/main/java/im/status/ethereum/MainApplication.java
  android/settings.gradle
  clj-rn.conf.edn
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  src/status_im/chat/models/message_content.cljs
  src/status_im/constants.cljs
Owners: @status-im/status-core

Added required 'require; statement and tests for strings in Frasi, Urdu, Armenian, Kurdish and Dhivehi.
  src/status_im/chat/models/message_content.cljs
  test/cljs/status_im/test/chat/models/message_content.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

don't pass any arguments to getVersion
  ci/android.groovy
Owners: @jakubgs

upgrade fastlane: 2.121.1 > 2.125.2
  fastlane/Gemfile.lock
  fastlane/gemset.nix
  fastlane/update
Owners: @jakubgs, @PombeirP

Update zh_Hans_CN.json
  translations/zh_Hans_CN.json
Owners: @status-im/status-core

Update zh_hans.json
  translations/zh_hans.json
Owners: @status-im/status-core

Added the function to invoke the native module's isRTL function.
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  src/status_im/chat/models/message_content.cljs
Owners: @status-im/status-core

Removed double parenthesis.
  src/status_im/chat/models/message_content.cljs
Owners: @status-im/status-core

[android] ignore the gms version from `react-native-http-bridge`.
  android/app/build.gradle
Owners: @status-im/status-core

[Fixes #8066] Added native ENS registration
  resources/images/ui/ens-header.png
  resources/images/ui/ens-header@2x.png
  resources/images/ui/ens-header@3x.png
  src/status_im/data_store/realm/schemas/base/account.cljs
  src/status_im/data_store/realm/schemas/base/core.cljs
  src/status_im/ens/core.cljs
  src/status_im/ethereum/core.cljs
  src/status_im/ethereum/ens.cljs
  src/status_im/ethereum/stateofus.cljs
  src/status_im/events.cljs
  src/status_im/react_native/resources.cljs
  src/status_im/subs.cljs
  src/status_im/ui/components/list/styles.cljs
  src/status_im/ui/components/list/views.cljs
  src/status_im/ui/screens/ens/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/ui/screens/routing/profile_stack.cljs
  src/status_im/ui/screens/routing/screens.cljs
  test/cljs/status_im/test/ethereum/stateofus.cljs
  test/cljs/status_im/test/runner.cljs
  translations/en.json
Owners: @status-im/status-core, @antdanchenko, @churik

use nix shell for running fastlane ios clean
  ci/Jenkinsfile.fastlane.clean
  fastlane/Fastfile
Owners: @jakubgs

keep SSL_CERT_FILE and NIX_SSL_CERT_FILE env variables
  Makefile
  ci/nix.groovy
Owners: @status-im/status-core, @jakubgs

Fix stickers and wallet e2e tests
  test/appium/tests/atomic/transactions/test_daaps_transactions.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/base_view.py
  test/appium/views/send_transaction_view.py
  test/appium/views/wallet_view.py
Owners: @antdanchenko, @churik

Fix bug with outgoing-status
  src/status_im/chat/models/message.cljs
  test/cljs/status_im/test/chat/models/message.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

fix array bug
  src/status_im/transport/message/core.cljs
Owners: @status-im/status-core

upgrade react-navigation
  android/app/build.gradle
  android/app/src/main/java/im/status/ethereum/MainActivity.java
  android/app/src/main/java/im/status/ethereum/MainApplication.java
  android/settings.gradle
  externs.js
  ios/StatusIm.xcodeproj/project.pbxproj
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  src/status_im/accounts/core.cljs
  src/status_im/chat/models.cljs
  src/status_im/contact/block.cljs
  src/status_im/extensions/registry.cljs
  src/status_im/hardwallet/core.cljs
  src/status_im/ui/screens/add_new/models.cljs
  src/status_im/ui/screens/navigation.cljs
  src/status_im/ui/screens/routing/core.cljs
  src/status_im/ui/screens/routing/modals.cljs
  src/status_im/ui/screens/views.cljs
  src/status_im/wallet/core.cljs
Owners: @status-im/status-core

faster transition
  src/status_im/ui/screens/routing/core.cljs
Owners: @status-im/status-core

Ensure shell.nix uses same nixpkgs as the rest of the environment
  default.nix
  nix/nixpkgs-bootstrap.nix
  shell.nix
Owners: @PombeirP, @jakubgs

Check tribute if contact was added (but not otherwise)
  src/status_im/tribute_to_talk/core.cljs
  test/cljs/status_im/test/tribute_to_talk/core.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[7968] Feature Information bottom sheet on Wallet > [Receive]
  src/status_im/constants.cljs
  src/status_im/ui/components/qr_code_viewer/styles.cljs
  src/status_im/ui/components/qr_code_viewer/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/ui/screens/views.cljs
  src/status_im/ui/screens/wallet/accounts/sheets.cljs
  src/status_im/ui/screens/wallet/request/styles.cljs
  src/status_im/ui/screens/wallet/request/views.cljs
  src/status_im/wallet/core.cljs
  test/cljs/status_im/test/sign_in/data.cljs
  translations/en.json
Owners: @status-im/status-core, @antdanchenko, @churik

Scan URL with QR Scanner from Chats
  env/dev/env/config.cljs
  src/status_im/browser/core.cljs
  src/status_im/events.cljs
  src/status_im/ui/components/list_selection.cljs
  src/status_im/ui/screens/add_new/models.cljs
  translations/en.json
Owners: @status-im/status-core

Ensure shell.nix uses same nixpkgs as the rest of the environment
  .watchmanconfig
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  default.nix
  nix/nixpkgs-bootstrap.nix
  shell.nix
Owners: @status-im/status-core, @PombeirP, @jakubgs

Tx in Dapp multiaccount followup e2e fix
  test/appium/tests/atomic/transactions/test_daaps_transactions.py
Owners: @antdanchenko, @churik

Improved chat message tapping area
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
Owners: @status-im/status-core

Changed placeholder to show "Enter password"
  src/status_im/ui/screens/accounts/login/views.cljs
Owners: @status-im/status-core

[Android] default white background on all screens
  src/status_im/ui/screens/routing/core.cljs
Owners: @status-im/status-core

input helper animation with native driver
  src/status_im/ui/screens/chat/input/input.cljs
Owners: @status-im/status-core

remove message options animation (dead code)
  src/status_im/ui/screens/chat/bottom_info.cljs
Owners: @status-im/status-core

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @status-im/status-core

/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @PombeirP @jakubgs
/nix        @PombeirP @jakubgs
/.github/   @PombeirP @jakubgs

/components @status-im/status-core-ui

desktop/                        @vkjr
/desktop_files                  @vkjr
modules/react-native-desktop*/  @vkjr
modules/react-native-desktop*/  @vkjr

/doc        @oskarth @mandrigin @yenda @jeluard

/deployment @vkjr @PombeirP

/test    @antdanchenko @churik
