Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @status-im/status-core, @jakubgs, @PombeirP, @status-im/status-core-ui, @vkjr, @oskarth, @mandrigin, @yenda, @jeluard, @antdanchenko, @churik

rebase
  src/status_im/chat/models.cljs
Owners: @status-im/status-core

[dev feature] extend the defn macro
  src/status_im/accounts/login/core.cljs
  src/status_im/events.cljs
  src/status_im/tribute_to_talk/core.cljs
  src/status_im/utils/fx.clj
  test/cljs/status_im/test/utils/fx.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

fix custom tokens
  src/status_im/wallet/custom_tokens/core.cljs
Owners: @status-im/status-core

Enable asset in Wallet before usage
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/transactions/test_daaps_transactions.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/base_view.py
  test/appium/views/wallet_view.py
Owners: @antdanchenko, @churik

[fix] superfluous keyword
  src/status_im/subs.cljs
Owners: @status-im/status-core

save keycard key-uid to account and use it to login
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  src/status_im/accounts/create/core.cljs
  src/status_im/accounts/db.cljs
  src/status_im/accounts/login/core.cljs
  src/status_im/data_store/realm/schemas/base/account.cljs
  src/status_im/data_store/realm/schemas/base/core.cljs
  src/status_im/hardwallet/core.cljs
  test/cljs/status_im/test/hardwallet/core.cljs
  test/cljs/status_im/test/sign_in/flow.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

e2e pairing 1-1 and contacts
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/views/profile_view.py
Owners: @antdanchenko, @churik

Add goerli testnet
  src/status_im/constants.cljs
  src/status_im/ethereum/core.cljs
Owners: @status-im/status-core

[fix] on-result event for in app transactions
  src/status_im/wallet/core.cljs
Owners: @status-im/status-core

Prepare to use status-go based protocol: 1-1 and public chat management APIs.
  .env
  src/status_im/chat/models.cljs
  src/status_im/chat/models/loading.cljs
  src/status_im/ethereum/json_rpc.cljs
  src/status_im/signals/core.cljs
  src/status_im/utils/config.cljs
  src/status_im/utils/fx.cljs
  test/cljs/status_im/test/chat/models.cljs
Owners: @jakubgs, @status-im/status-core, @antdanchenko, @churik

bump version to 0.14.0
  desktop_files/VERSION
  mobile_files/VERSION
Owners: @vkjr, @status-im/status-core

Update Play Store phone screenshots
  fastlane/metadata/android/en-US/images/phoneScreenshots/1.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/2.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/3.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/4.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/5.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/6.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/7.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/8.png
Owners: @jakubgs

[refactor] transaction details
  src/status_im/subs.cljs
  src/status_im/ui/components/bottom_bar/core.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/wallet/navigation.cljs
  src/status_im/ui/screens/wallet/transactions/events.cljs
  src/status_im/ui/screens/wallet/transactions/views.cljs
Owners: @status-im/status-core

[performance] improve wallet update performances
  src/status_im/accounts/core.cljs
  src/status_im/accounts/login/core.cljs
  src/status_im/chat/commands/impl/transactions.cljs
  src/status_im/constants.cljs
  src/status_im/ethereum/transactions/core.cljs
  src/status_im/events.cljs
  src/status_im/extensions/capacities/ethereum.cljs
  src/status_im/hardwallet/core.cljs
  src/status_im/models/wallet.cljs
  src/status_im/stickers/core.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/currency_settings/models.cljs
  src/status_im/ui/screens/events.cljs
  src/status_im/ui/screens/wallet/events.cljs
  src/status_im/ui/screens/wallet/main/views.cljs
  src/status_im/ui/screens/wallet/navigation.cljs
  src/status_im/ui/screens/wallet/onboarding/views.cljs
  src/status_im/ui/screens/wallet/send/events.cljs
  src/status_im/ui/screens/wallet/settings/events.cljs
  src/status_im/ui/screens/wallet/settings/models.cljs
  src/status_im/ui/screens/wallet/settings/views.cljs
  src/status_im/utils/ethereum/contracts.cljs
  src/status_im/wallet/core.cljs
  src/status_im/wallet/custom_tokens/core.cljs
  test/cljs/status_im/test/models/wallet.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[feature] use new block signal to get new transactions
  src/status_im/accounts/login/core.cljs
  src/status_im/accounts/logout/core.cljs
  src/status_im/ethereum/subscriptions.cljs
  src/status_im/ethereum/transactions/core.cljs
  src/status_im/ethereum/transactions/etherscan.cljs
  src/status_im/events.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/wallet/events.cljs
  src/status_im/ui/screens/wallet/navigation.cljs
  src/status_im/ui/screens/wallet/transactions/views.cljs
  src/status_im/utils/http.cljs
  test/cljs/status_im/test/sign_in/flow.cljs
  test/cljs/status_im/test/wallet/transactions.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[#8239] App crash when submit cryptokitties with different than it's valid domain
  src/status_im/ui/screens/browser/site_blocked/views.cljs
Owners: @status-im/status-core

[feature] use subscriptions for tokens
  STATUS_GO_SHA256
  STATUS_GO_VERSION
  src/status_im/accounts/login/core.cljs
  src/status_im/accounts/logout/core.cljs
  src/status_im/ethereum/subscriptions.cljs
  src/status_im/ethereum/transactions/core.cljs
  src/status_im/events.cljs
  src/status_im/init/core.cljs
  src/status_im/signals/core.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/wallet/events.cljs
  src/status_im/ui/screens/wallet/send/events.cljs
  test/cljs/status_im/test/sign_in/flow.cljs
  test/cljs/status_im/test/wallet/transactions.cljs
Owners: @jakubgs, @status-im/status-core, @antdanchenko, @churik

[refactor] transaction history and filters
  src/status_im/chat/commands/impl/transactions.cljs
  src/status_im/constants.cljs
  src/status_im/events.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/events.cljs
  src/status_im/ui/screens/wallet/request/events.cljs
  src/status_im/ui/screens/wallet/send/events.cljs
  src/status_im/ui/screens/wallet/transactions/events.cljs
  src/status_im/ui/screens/wallet/transactions/views.cljs
  src/status_im/wallet/db.cljs
  test/cljs/status_im/test/runner.cljs
  test/cljs/status_im/test/ui/screens/wallet/db.cljs
  test/cljs/status_im/test/wallet/transactions/views.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[refactoring] remove web3, clean up wallet effects
  src/status_im/accounts/login/core.cljs
  src/status_im/chat/commands/impl/transactions.cljs
  src/status_im/ethereum/contracts.cljs
  src/status_im/ethereum/json_rpc.cljs
  src/status_im/ethereum/subscriptions.cljs
  src/status_im/ethereum/transactions/core.cljs
  src/status_im/events.cljs
  src/status_im/node/core.cljs
  src/status_im/protocol/core.cljs
  src/status_im/stickers/core.cljs
  src/status_im/subs.cljs
  src/status_im/tribute_to_talk/core.cljs
  src/status_im/ui/screens/currency_settings/models.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/wallet/choose_recipient/events.cljs
  src/status_im/ui/screens/wallet/send/events.cljs
  src/status_im/utils/ethereum/contracts.cljs
  src/status_im/utils/ethereum/core.cljs
  src/status_im/utils/ethereum/erc20.cljs
  src/status_im/wallet/core.cljs
  src/status_im/web3/core.cljs
  src/status_im/web3/events.cljs
  test/cljs/status_im/test/sign_in/flow.cljs
  test/cljs/status_im/test/ui/screens/currency_settings/models.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[refactor] remove ethereum `call` and `call-params`
  src/status_im/ethereum/contracts.cljs
  src/status_im/stickers/core.cljs
  src/status_im/subs.cljs
  src/status_im/tribute_to_talk/core.cljs
  src/status_im/ui/screens/add_new/new_chat/events.cljs
  src/status_im/ui/screens/chat/stickers/views.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/wallet/send/events.cljs
  src/status_im/utils/ethereum/abi_spec.cljs
  src/status_im/utils/ethereum/core.cljs
  src/status_im/utils/ethereum/eip165.cljs
  src/status_im/utils/ethereum/ens.cljs
  src/status_im/utils/ethereum/erc721.cljs
  src/status_im/utils/ethereum/resolver.cljs
  src/status_im/utils/ethereum/stickers.cljs
  src/status_im/wallet/core.cljs
  src/status_im/wallet/custom_tokens/core.cljs
  test/cljs/status_im/test/utils/ethereum/core.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

added test_open_blocked_site
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/tests/conftest.py
Owners: @antdanchenko, @churik

[refactor] use `ethereum` `current-address` and `chain-keyword`
  src/status_im/browser/core.cljs
  src/status_im/ethereum/contracts.cljs
  src/status_im/ethereum/subscriptions.cljs
  src/status_im/ethereum/transactions/etherscan.cljs
  src/status_im/extensions/capacities/ethereum.cljs
  src/status_im/network/core.cljs
  src/status_im/subs.cljs
  src/status_im/tribute_to_talk/core.cljs
  src/status_im/tribute_to_talk/db.cljs
  src/status_im/ui/screens/stickers/views.cljs
  src/status_im/ui/screens/wallet/choose_recipient/events.cljs
  src/status_im/ui/screens/wallet/components/views.cljs
  src/status_im/ui/screens/wallet/request/views.cljs
  src/status_im/ui/screens/wallet/send/views.cljs
  src/status_im/ui/screens/wallet/settings/views.cljs
  src/status_im/ui/screens/wallet/transaction_fee/views.cljs
  src/status_im/utils/ethereum/core.cljs
  src/status_im/wallet/core.cljs
  src/status_im/wallet/custom_tokens/core.cljs
Owners: @status-im/status-core

[fix] always show tokens that have a balance
  src/status_im/wallet/core.cljs
Owners: @status-im/status-core

add MOBILE_UI_FOR_DESKTOP=0 to other env files
  .env.e2e
  .env.jenkins
  .env.nightly
  .env.nightly.staging.fleet
  .env.prod
Owners: @jakubgs

[fix] remove duplicates of :hardwallet/verify-pin event
  src/status_im/events.cljs
Owners: @status-im/status-core

[nix] patch realm as a nodePackage for linux and darwin and use it from nix store, add to default nix-shell buildDependencies, regenerate nodePackages with node2nix 1.6.1
  Makefile
  derivation.nix
  nix/desktop/default.nix
  nix/global-node-packages/default.nix
  nix/global-node-packages/generate-nix.sh
  nix/global-node-packages/output/default.nix
  nix/global-node-packages/output/node-env.nix
  nix/global-node-packages/output/node-packages.nix
Owners: @status-im/status-core, @PombeirP, @jakubgs, @vkjr

[#8256] do not call getApplicationInfo every time card connected
  src/status_im/hardwallet/core.cljs
Owners: @status-im/status-core

App version and more detail in logs email
  src/status_im/utils/logging/core.cljs
Owners: @status-im/status-core

Send logs on shaking device
  android/app/build.gradle
  android/app/src/main/java/im/status/ethereum/MainApplication.java
  android/settings.gradle
  clj-rn.conf.edn
  ios/StatusIm.xcodeproj/project.pbxproj
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  react-native/src/desktop/status_im/react_native/js_dependencies.cljs
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  src/status_im/android/core.cljs
  src/status_im/events.cljs
  src/status_im/ios/core.cljs
  src/status_im/utils/logging/core.cljs
  translations/en.json
Owners: @status-im/status-core, @vkjr

nix: Move debug realm into desktop folder and use RN cli from node_modulesSigned-off-by: Pedro Pombeiro <pombeirp@users.noreply.github.com>
  .TOOLVERSIONS
  derivation.nix
  nix/desktop/cmake/qtkeychain/default.nix
  nix/desktop/default.nix
  nix/desktop/linux/base-image/default.nix
  nix/desktop/macos/base-image/default.nix
  nix/desktop/realm-node/README.md
  nix/desktop/realm-node/default.nix
  nix/desktop/realm-node/generate-nix.sh
  nix/desktop/realm-node/output/default.nix
  nix/desktop/realm-node/output/node-env.nix
  nix/desktop/realm-node/output/node-packages.nix
  nix/desktop/windows/base-image/default.nix
  nix/mobile/default.nix
  nix/shell.sh
  shell.nix
Owners: @jakubgs, @PombeirP, @vkjr

[dev feature] extend the defn macro
  src/status_im/accounts/login/core.cljs
  src/status_im/events.cljs
  src/status_im/tribute_to_talk/core.cljs
  src/status_im/utils/fx.clj
  test/cljs/status_im/test/utils/fx.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[#8277] Report a bug template
  src/status_im/utils/logging/core.cljs
  translations/en.json
Owners: @status-im/status-core

Update Play Store phone screenshots
  fastlane/metadata/android/en-US/images/phoneScreenshots/1.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/2.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/3.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/4.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/5.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/6.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/7.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/8.png
Owners: @jakubgs

e2e pairing 1-1 and contacts
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/views/profile_view.py
Owners: @antdanchenko, @churik

[fix] superfluous keyword
  src/status_im/subs.cljs
Owners: @status-im/status-core

Enable asset in Wallet before usage
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/transactions/test_daaps_transactions.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/base_view.py
  test/appium/views/wallet_view.py
Owners: @antdanchenko, @churik

fix custom tokens
  src/status_im/wallet/custom_tokens/core.cljs
Owners: @status-im/status-core

bump version to 0.14.0
  desktop_files/VERSION
  mobile_files/VERSION
Owners: @vkjr, @status-im/status-core

save keycard key-uid to account and use it to login
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  src/status_im/accounts/create/core.cljs
  src/status_im/accounts/db.cljs
  src/status_im/accounts/login/core.cljs
  src/status_im/data_store/realm/schemas/base/account.cljs
  src/status_im/data_store/realm/schemas/base/core.cljs
  src/status_im/hardwallet/core.cljs
  test/cljs/status_im/test/hardwallet/core.cljs
  test/cljs/status_im/test/sign_in/flow.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

Add goerli testnet
  src/status_im/constants.cljs
  src/status_im/ethereum/core.cljs
Owners: @status-im/status-core

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @status-im/status-core

/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @PombeirP @jakubgs
/nix        @PombeirP @jakubgs
/.github/   @PombeirP @jakubgs

/components @status-im/status-core-ui

desktop/                        @vkjr
/desktop_files                  @vkjr
modules/react-native-desktop*/  @vkjr
modules/react-native-desktop*/  @vkjr

/doc        @oskarth @mandrigin @yenda @jeluard

/deployment @vkjr @PombeirP

/test    @antdanchenko @churik
