Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @status-im/status-core, @jakubgs, @PombeirP, @status-im/status-core-ui, @vkjr, @oskarth, @mandrigin, @yenda, @jeluard, @antdanchenko, @churik

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @status-im/status-core

/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @PombeirP @jakubgs
/nix        @PombeirP @jakubgs
/.github/   @PombeirP @jakubgs

/components @status-im/status-core-ui

desktop/                        @vkjr
/desktop_files                  @vkjr
modules/react-native-desktop*/  @vkjr
modules/react-native-desktop*/  @vkjr

/doc        @oskarth @mandrigin @yenda @jeluard

/deployment @vkjr @PombeirP

/test    @antdanchenko @churik

Use a signal for messages
  STATUS_GO_SHA256
  STATUS_GO_VERSION
  src/status_im/accounts/logout/core.cljs
  src/status_im/signals/core.cljs
  src/status_im/transport/core.cljs
  src/status_im/transport/filters/core.cljs
  src/status_im/transport/message/core.cljs
  test/cljs/status_im/test/transport/core.cljs
  test/cljs/status_im/test/transport/filters/core.cljs
Owners: @jakubgs, @status-im/status-core, @antdanchenko, @churik

Two pane ui on large screens
  clj-rn.conf.edn
  desktop_files/package.json.orig
  desktop_files/yarn.lock
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  react-native/src/desktop/status_im/react_native/js_dependencies.cljs
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  src/status_im/constants.cljs
  src/status_im/events.cljs
  src/status_im/subs.cljs
  src/status_im/ui/components/connectivity/view.cljs
  src/status_im/ui/screens/add_new/new_public_chat/view.cljs
  src/status_im/ui/screens/chat/stickers/views.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/events.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/home/views/inner_item.cljs
  src/status_im/ui/screens/routing/chat_stack.cljs
  src/status_im/ui/screens/routing/core.cljs
  src/status_im/ui/screens/routing/screens.cljs
  src/status_im/ui/screens/views.cljs
  src/status_im/utils/dimensions.cljs
  src/status_im/utils/navigation.cljs
  test/cljs/status_im/react_native/js_dependencies.cljs
  translations/en.json
Owners: @status-im/status-core, @vkjr, @antdanchenko, @churik

Ensure a consistent golang version is used throughout Nix
  derivation.nix
  nix/desktop/default.nix
  nix/status-go/default.nix
Owners: @PombeirP, @jakubgs, @vkjr

Clean up some nix files
  ci/nix.groovy
  derivation.nix
  nix/status-go/build-mobile-status-go.nix
  nix/status-go/default.nix
  shell.nix
Owners: @jakubgs, @PombeirP

Only bring in Android dependencies in gomobile if targetting Android
  .TOOLVERSIONS
  nix/desktop/realm-node/output/default.nix
  nix/desktop/realm-node/output/node-env.nix
  nix/desktop/realm-node/output/node-packages.nix
  nix/desktop/realm-node/output/supplement.nix
  nix/status-go/default.nix
  nix/status-go/gomobile/default.nix
  scripts/gen-deps-hash.sh
  scripts/setup
Owners: @jakubgs, @vkjr, @PombeirP

Remove RN patch
  ios/patches/ios-legacy-build-system.patch
  scripts/prepare-for-platform.sh
Owners: @status-im/status-core, @jakubgs
