Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

[Fix][#14131] Removed unused imports
  src/status_im/ui/components/topnav.cljs
Owners: none

[Fix][#14131] Naming of components
  src/status_im/ui/screens/popover/views.cljs
Owners: none

[Fix][#14131] Formatting of code
  src/status_im/ui/components/topnav.cljs
  src/status_im/ui/screens/home/views.cljs
Owners: none

Feature/blur activity center background (#14165)
  src/quo2/components/tabs/tab.cljs
  src/quo2/components/tabs/tabs.cljs
  src/quo2/components/tags/context_tags.cljs
  src/status_im/ui/components/topnav.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/popover/views.cljs
Owners: none

feat: edit/delete/reply, fixed unnecessary changes
  src/status_im/chat/models/input.cljs
  src/status_im/ui/screens/chat/message/message_old.cljs
Owners: none

rebase
  src/status_im/ui/screens/chat/message/message_old.cljs
Owners: none

using defn and get instead of defview and letsubs
  src/status_im/ui/screens/chat/message/message_old.cljs
Owners: none

using defn and get instead of defview and letsubs
  src/status_im/ui/screens/chat/message/message_old.cljs
Owners: none

rebase
  src/status_im/ui/screens/chat/message/message_old.cljs
Owners: none

rebase
  src/status_im/ui/screens/chat/message/message_old.cljs
Owners: none

rebase
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/message/message_old.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/utils/config.cljs
Owners: none

update status-go version
  status-go-version.json
Owners: none

lint
  src/status_im/ui/screens/chat/message/message.cljs
Owners: none

rebase
  src/status_im/utils/config.cljs
Owners: none

feat: edit/delete/reply for emoji/sticker/audio (#13808)
  src/status_im/chat/models/input.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  status-go-version.json
Owners: none

replace web3-utils methods usage by status-go
  doc/DEPENDENCIES.md
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  modules/react-native-status/nodejs/status.cpp
  package.json
  src/status_im/ethereum/core.cljs
  src/status_im/ethereum/eip55.cljs
  src/status_im/ethereum/encode.cljs
  src/status_im/native_module/core.cljs
  src/status_im/notifications/local.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/utils/db.cljs
  src/status_im/utils/react_native.cljs
  src/status_im/utils/test.cljs
  status-go-version.json
  yarn.lock
Owners: none

replace web3-utils methods usage by status-go (#13940)
  doc/DEPENDENCIES.md
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  modules/react-native-status/nodejs/status.cpp
  package.json
  src/status_im/ethereum/core.cljs
  src/status_im/ethereum/eip55.cljs
  src/status_im/ethereum/encode.cljs
  src/status_im/native_module/core.cljs
  src/status_im/notifications/local.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/utils/db.cljs
  src/status_im/utils/react_native.cljs
  src/status_im/utils/test.cljs
  status-go-version.json
  yarn.lock
Owners: none

e2e: new tests
  test/appium/tests/medium/test_single_device.py
Owners: @churik

Use native clj-kondo binary
  Makefile
  nix/scripts/node_modules.sh
  nix/shells.nix
  package.json
  yarn.lock
Owners: @jakubgs

Quick update to the README
  src/quo/README.md
Owners: none

Fix lint warnings
  src/quo/animated.cljs
  src/status_im/chat/models/mentions_test.cljs
  src/status_im/router/core_test.cljs
Owners: none

rebase
  src/status_im/ui/components/chat_icon/screen.cljs
  src/status_im/ui/components/chat_icon/styles.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/message/pinned_message.cljs
  src/status_im/ui/screens/chat/toolbar_content.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/communities/community.cljs
  translations/en.json
Owners: none

feat: message home new ui
  src/quo/components/list/item.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/switcher/home_stack.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/message/pinned_message.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/screens.cljs
  src/status_im/ui2/screens/chat/components/chat_item.cljs
  src/status_im/ui2/screens/chat/home.cljs
  translations/en.json
Owners: none

feat: messages home new ui
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/message/pinned_message.cljs
Owners: none

feat: messages home new ui
  src/status_im/switcher/home_stack.cljs
Owners: none

refactor
  src/status_im/ui2/screens/chat/components/chat_item.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/view.cljs
Owners: none

Fix formatting
  nix/shells.nix
Owners: @jakubgs

refactor
  src/status_im/ui2/screens/chat/components/chat_item.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im/ui2/screens/chat/view.cljs
Owners: none

refactor
  src/status_im/ui2/screens/chat/home.cljs
Owners: none

lint
  src/status_im/ui2/screens/chat/components/chat_item.cljs
Owners: none

WIP: 1
  test/appium/pytest.ini
  test/appium/tests/base_test_case.py
  test/appium/tests/cloudbase_test_api.py
  test/appium/tests/conftest.py
Owners: @churik

Use native binary for the clj-kondo linter (#14179)
  Makefile
  nix/scripts/node_modules.sh
  nix/shells.nix
  package.json
  src/quo/README.md
  src/quo/animated.cljs
  src/status_im/chat/models/mentions_test.cljs
  src/status_im/router/core_test.cljs
  yarn.lock
Owners: @jakubgs

eu: wip
  fastlane/Fastfile
  test/appium/pytest.ini
  test/appium/support/base_test_report.py
  test/appium/tests/medium/test_single_device.py
Owners: @jakubgs, @churik

refactor
  src/status_im/ui2/screens/chat/home.cljs
Owners: none

refactor: fix mentions color - previous PR
  src/status_im/ui2/screens/chat/composer/input.cljs
  src/status_im/ui2/screens/chat/composer/mentions.cljs
  src/status_im/ui2/screens/chat/home.cljs
Owners: none

e2e: more monkeypatcjing
  test/appium/support/base_test_report.py
  test/appium/tests/__init__.py
  test/appium/tests/base_test_case.py
  test/appium/tests/critical/onboarding/test_onboarding_flows.py
Owners: @churik

[#11335] Use Pokt network as an infura replacement
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/Jenkinsfile.tests
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
  nix/mobile/android/jsbundle/default.nix
  nix/mobile/android/release.nix
  scripts/build-android.sh
  shadow-cljs.edn
  src/status_im/network/core.cljs
  src/status_im/utils/config.cljs
  status-go-version.json
Owners: @jakubgs

refactor
  src/status_im/ui2/screens/chat/home.cljs
Owners: none

e2e: clenup
  test/appium/support/base_test_report.py
  test/appium/tests/base_test_case.py
  test/appium/tests/cloudbase_test_api.py
  test/appium/tests/conftest.py
  test/appium/tests/critical/onboarding/test_onboarding_flows.py
  test/appium/tests/medium/test_single_device.py
Owners: @churik

refactor
  src/status_im/ui2/screens/chat/components/chat_item.cljs
  src/status_im/ui2/screens/chat/home.cljs
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik
