Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

updates
  src/status_im/ui2/screens/chat/composer/view.cljs
Owners: none

image-selected-1
  src/status_im/ui/screens/screens.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
  src/status_im2/setup/dev.cljs
Owners: none

input fixes
  src/status_im/ui2/screens/chat/composer/style.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im/ui2/screens/chat/view.cljs
Owners: none

updates
  translations/en.json
Owners: none

feat: photo-selector
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui2/screens/chat/photo_selector/style.cljs
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
Owners: none

updates
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
Owners: none

updates
  src/quo2/components/notifications/info_count.cljs
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
  translations/en.json
Owners: none

feat: photo selector
  src/status_im/ui2/screens/chat/composer/style.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im2/setup/dev.cljs
Owners: none

lint
  src/status_im/ui2/screens/chat/view.cljs
Owners: none

lint
  src/status_im/ui2/screens/chat/composer/style.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im/ui2/screens/chat/view.cljs
Owners: none

refactor
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
Owners: none

refactor
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
Owners: none

Photo Selector (1) (#14426)
  src/quo2/components/notifications/info_count.cljs
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui/screens/screens.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im/ui2/screens/chat/photo_selector/style.cljs
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
  translations/en.json
Owners: none

fix everyone is displaying as online in community channel and chat list
  src/status_im/events.cljs
  src/status_im/ui/screens/profile/visibility_status/views.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im2/contexts/chat/home/chat_list_item/view.cljs
  src/status_im2/subs/general.cljs
Owners: none

fix everyone is displaying as online in community channel and chat list (#14431)
  src/status_im/events.cljs
  src/status_im/ui/screens/profile/visibility_status/views.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im2/contexts/chat/home/chat_list_item/view.cljs
  src/status_im2/subs/general.cljs
Owners: none

chore: update nix config to reference babel.config.js file
  .babelrc
  nix/mobile/android/release.nix
Owners: @jakubgs

chore: update component test make command
  Makefile
Owners: none

chore: update nix config to reference babel.config.js file (#14436)
  .babelrc
  Makefile
  nix/mobile/android/release.nix
Owners: @jakubgs

Fix mentions
  src/status_im/ui2/screens/chat/composer/input.cljs
Owners: none

Refactor
  src/status_im/ui2/screens/chat/composer/input.cljs
Owners: none

[14429] Fix mentions (#14442)
  src/status_im/ui2/screens/chat/composer/input.cljs
Owners: none

Mark notifications as read based on call to action
  src/status_im/activity_center/core.cljs
  src/status_im/activity_center/core_test.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/view.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im2/common/home/view.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
Owners: none

Mark notifications as read based on call to action (#14439)
  src/status_im/activity_center/core.cljs
  src/status_im/activity_center/core_test.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/view.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im2/common/home/view.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
Owners: none

Hardcode height to fix modal going under keyboard
  src/status_im/ui/screens/home/sheet/views.cljs
  src/status_im/ui2/screens/chat/components/new_chat.cljs
Owners: none

Fix close button not working
  src/status_im/ui/components/topbar.cljs
Owners: none

feat: add scrolling in community
  src/quo2/components/navigation/page_nav.cljs
  src/react_native/core.cljs
  src/status_im/ui/screens/communities/icon.cljs
  src/status_im2/contexts/communities/overview/style.cljs
  src/status_im2/contexts/communities/overview/view.cljs
  src/status_im2/contexts/communities/requests/actions/view.cljs
  src/status_im2/navigation/core.cljs
Owners: none

feat: add scrolling in community (#14281)
  src/quo2/components/navigation/page_nav.cljs
  src/react_native/core.cljs
  src/status_im/ui/screens/communities/icon.cljs
  src/status_im2/contexts/communities/overview/style.cljs
  src/status_im2/contexts/communities/overview/view.cljs
  src/status_im2/contexts/communities/requests/actions/view.cljs
  src/status_im2/navigation/core.cljs
Owners: none

Fix libbacktrace build with seds, make -e
  nix/status-go/mobile/buildNimbus.nix
Owners: @jakubgs

chore: fix issues with e2e tests after refactors
  src/quo2/components/counter/counter.cljs
  src/status_im2/common/home/view.cljs
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
  test/appium/views/home_view.py
Owners: @churik

chore: fix issues with e2e tests after refactors (#14440)
  src/quo2/components/counter/counter.cljs
  src/status_im2/common/home/view.cljs
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
  test/appium/views/home_view.py
Owners: @churik

Update new guidelines
  doc/new-guidelines.md
Owners: none

Remove unnecessary type hint
  doc/new-guidelines.md
Owners: none

Update guidelines (#14445)
  doc/new-guidelines.md
Owners: none

Enable wakuv2 by default
  .env.jenkins
  src/status_im/node/core.cljs
Owners: @jakubgs

fix: edit message
  resources/images/icons2/16x16/connector@2x.png
  resources/images/icons2/16x16/connector@3x.png
  src/status_im/chat/models/input.cljs
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui2/screens/chat/components/edit/style.cljs
  src/status_im/ui2/screens/chat/components/edit/view.cljs
  src/status_im/ui2/screens/chat/composer/edit/style.cljs
  src/status_im/ui2/screens/chat/composer/edit/view.cljs
  src/status_im/ui2/screens/chat/composer/input.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
Owners: none

disable light client
  src/status_im/node/core.cljs
Owners: none

rebase
  src/status_im/navigation/core.cljs
  src/status_im2/navigation/view.cljs
Owners: none

rebase
  src/status_im/navigation/core.cljs
  src/status_im2/navigation/view.cljs
Owners: none

refactor
  src/status_im/ui2/screens/chat/group_details/view.cljs
Owners: none

feat: group details screen
  src/status_im/ui2/screens/chat/group_details/view.cljs
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik
