Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

feat: add messages gap component (#13860)
  .prettierrc.js
  ios/Podfile.lock
  resources/images/icons/message-gap-info12@2x.png
  resources/images/icons/message-gap-info12@3x.png
  resources/images/ui/message-gap-circle-bg-dark@2x.png
  resources/images/ui/message-gap-circle-bg-dark@3x.png
  resources/images/ui/message-gap-circle-bg-light@2x.png
  resources/images/ui/message-gap-circle-bg-light@3x.png
  resources/images/ui/message-gap-hborder-dark@2x.png
  resources/images/ui/message-gap-hborder-dark@3x.png
  resources/images/ui/message-gap-hborder-light@2x.png
  resources/images/ui/message-gap-hborder-light@3x.png
  resources/images/ui/message-gap-vborder-light@2x.png
  resources/images/ui/message-gap-vborder-light@3x.png
  src/quo2/components/messages_gap.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/messages_gap.cljs
  translations/en.json
Owners: none

[test-go] file compression to handle large files
  status-go-version.json
Owners: none

ci: use pipefail to actually catch test errors
  ci/Jenkinsfile.tests
Owners: @jakubgs

Revert "[13857] Extend integration tests to recover multiaccount from seed phrase"
  src/mocks/js_dependencies.cljs
  src/status_im/integration_test.cljs
  src/status_im/utils/test.cljs
Owners: none

refactor: go through clj-kondo warnings
  shadow-cljs.edn
  src/quo/react.cljs
  src/status_im/core.cljs
  src/status_im/ethereum/abi_spec.cljs
  src/status_im/ethereum/core.cljs
  src/status_im/ethereum/eip681_test.cljs
  src/status_im/keycard/real_keycard.cljs
  src/status_im/keycard/simulated_keycard.cljs
  src/status_im/multiaccounts/login/core_test.cljs
  src/status_im/router/core.cljs
  src/status_im/subs.cljs
  src/status_im/switcher/switcher_container.cljs
  src/status_im/ui/screens/chat/message/link_preview.cljs
  src/status_im/utils/money.cljs
  src/status_im/utils/priority_map.cljs
  src/status_im/utils/signing_phrase/core_test.cljs
Owners: none

refactor: go through clj-kondo warnings (#13929)
  shadow-cljs.edn
  src/quo/react.cljs
  src/status_im/core.cljs
  src/status_im/ethereum/abi_spec.cljs
  src/status_im/ethereum/core.cljs
  src/status_im/ethereum/eip681_test.cljs
  src/status_im/keycard/real_keycard.cljs
  src/status_im/keycard/simulated_keycard.cljs
  src/status_im/multiaccounts/login/core_test.cljs
  src/status_im/router/core.cljs
  src/status_im/subs.cljs
  src/status_im/switcher/switcher_container.cljs
  src/status_im/ui/screens/chat/message/link_preview.cljs
  src/status_im/utils/money.cljs
  src/status_im/utils/priority_map.cljs
  src/status_im/utils/signing_phrase/core_test.cljs
Owners: none

hooks: use AWK instead of jq for better portability
  scripts/hooks/prepare-commit-msg
Owners: @jakubgs

e2e: update libs for Python 3.10
  test/appium/requirements.txt
  test/appium/support/api/network_api.py
Owners: @churik

fjkshfksjdhfjkh nhttps://github.com/status-im/status-go/compare/b87ecb20...66549cab
  status-go-version.json
Owners: none

hooks: use AWK instead of jq for better portability
  scripts/hooks/prepare-commit-msg
Owners: @jakubgs

hooks: fix newline injection on MacOS
  scripts/hooks/prepare-commit-msg
Owners: @jakubgs

fix keycard account splash screen theme change issue
  src/status_im/events.cljs
Owners: none

fix keycard account shown as regular account on theme change while login (#13918)
  src/status_im/events.cljs
Owners: none

User avatar component
  resources/images/icons/identicon_ring32@2x.png
  resources/images/icons/identicon_ring32@3x.png
  src/quo2/components/user_avatar.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/user_avatar.cljs
Owners: none

clean
  src/quo2/components/user_avatar.cljs
  src/quo2/screens/user_avatar.cljs
Owners: none

Add icons
  resources/images/icons/identicon_ring20@2x.png
  resources/images/icons/identicon_ring20@3x.png
  resources/images/icons/identicon_ring24@2x.png
  resources/images/icons/identicon_ring24@3x.png
  resources/images/icons/identicon_ring32@2x.png
  resources/images/icons/identicon_ring48@2x.png
  resources/images/icons/identicon_ring48@3x.png
  resources/images/icons/identicon_ring80@2x.png
  resources/images/icons/identicon_ring80@3x.png
  src/quo2/screens/main.cljs
Owners: none

fix keycard account shown as regular account on theme change while login (#13918)
  src/status_im/events.cljs
Owners: none

rebase
  src/quo2/screens/main.cljs
Owners: none

clean
  src/quo2/screens/main.cljs
Owners: none

clean
  src/quo2/screens/main.cljs
Owners: none

RE: User avatar component (#13839)
  resources/images/icons/identicon_ring20@2x.png
  resources/images/icons/identicon_ring20@3x.png
  resources/images/icons/identicon_ring24@2x.png
  resources/images/icons/identicon_ring24@3x.png
  resources/images/icons/identicon_ring32@2x.png
  resources/images/icons/identicon_ring32@3x.png
  resources/images/icons/identicon_ring48@2x.png
  resources/images/icons/identicon_ring48@3x.png
  resources/images/icons/identicon_ring80@2x.png
  resources/images/icons/identicon_ring80@3x.png
  src/quo2/components/user_avatar.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/user_avatar.cljs
Owners: none

Use mock data
  src/quo2/components/context_tags.cljs
  src/quo2/screens/context_tags.cljs
Owners: none

clean
  src/quo2/components/context_tags.cljs
  src/quo2/screens/context_tags.cljs
Owners: none

Add default
  src/quo2/screens/context_tags.cljs
Owners: none

fix ios keycard recovery pin error
  src/status_im/keycard/common.cljs
  src/status_im/ui/screens/keycard/pin/views.cljs
Owners: none

fix ios keycard recovery pin error (#13924)
  src/status_im/keycard/common.cljs
  src/status_im/ui/screens/keycard/pin/views.cljs
Owners: none

fix ios keycard recovery pin error (#13924)
  src/status_im/keycard/common.cljs
  src/status_im/ui/screens/keycard/pin/views.cljs
Owners: none

chore: refactor communities code for reusabilty
  src/quo2/components/communities/community_card_view.cljs
  src/quo2/components/communities/community_list_view.cljs
  src/quo2/components/communities/community_view.cljs
  src/quo2/components/community_card_view.cljs
  src/quo2/screens/community_card_view.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/styles.cljs
Owners: none

chore: refactor communities code for reusabilty (#13921)
  src/quo2/components/communities/community_card_view.cljs
  src/quo2/components/communities/community_list_view.cljs
  src/quo2/components/communities/community_view.cljs
  src/quo2/components/community_card_view.cljs
  src/quo2/screens/community_card_view.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/styles.cljs
Owners: none

fix: test/appium/requirements.txt to reduce vulnerabilities
  test/appium/requirements.txt
Owners: @churik

Fix: typos
  doc/FDROID.md
Owners: none

Update translation
  translations/hi.json
  translations/ja.json
  translations/pt_BR.json
  translations/ru.json
Owners: none

Fix: typos (#13937)
  doc/FDROID.md
Owners: none

fix icon missing regression
  src/quo/components/list/item.cljs
Owners: none

fix icon missing regression (#13907)
  src/quo/components/list/item.cljs
Owners: none

Use base64 images as mock data
  src/quo2/screens/context_tags.cljs
Owners: none

Remove passing contacts
  src/quo2/components/context_tags.cljs
  src/quo2/screens/context_tags.cljs
Owners: none

[#13517] UI Component - Message Input
  ios/Podfile.lock
  package.json
  resources/images/icons/arrow-up20@2x.png
  resources/images/icons/arrow-up20@3x.png
  resources/images/icons/image20@2x.png
  resources/images/icons/image20@3x.png
  resources/images/icons/reaction20@2x.png
  resources/images/icons/reaction20@3x.png
  src/mocks/js_dependencies.cljs
  src/quo/gesture_handler.cljs
  src/quo2/gesture.cljs
  src/quo2/reanimated.cljs
  src/status_im/switcher/constants.cljs
  src/status_im/switcher/switcher.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui/screens/chat/components/style.cljs
  src/status_im/ui/screens/chat/views.cljs
  yarn.lock
Owners: none

[#13517] UI Component - Message Input (#13620)
  ios/Podfile.lock
  package.json
  resources/images/icons/arrow-up20@2x.png
  resources/images/icons/arrow-up20@3x.png
  resources/images/icons/image20@2x.png
  resources/images/icons/image20@3x.png
  resources/images/icons/reaction20@2x.png
  resources/images/icons/reaction20@3x.png
  src/mocks/js_dependencies.cljs
  src/quo/gesture_handler.cljs
  src/quo2/gesture.cljs
  src/quo2/reanimated.cljs
  src/status_im/switcher/constants.cljs
  src/status_im/switcher/switcher.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui/screens/chat/components/style.cljs
  src/status_im/ui/screens/chat/views.cljs
  yarn.lock
Owners: none

Reactions component
  src/quo2/components/reacts.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/reacts.cljs
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik
