Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

[Chore] Use common for repeated code
  src/status_im/ui/screens/activity_center/notification/contact_request/style.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/view.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/style.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
  src/status_im/ui/screens/activity_center/notification/mentions/view.cljs
Owners: none

[Chore] Removed empty file
  src/status_im/ui/screens/activity_center/notification/contact_request/style.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/style.cljs
Owners: none

[Chore] Use common for repeated code (#14454)
  src/status_im/ui/screens/activity_center/notification/contact_request/style.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/view.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/style.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
  src/status_im/ui/screens/activity_center/notification/mentions/view.cljs
Owners: none

Creating users and getting names in parallel
  test/appium/tests/__init__.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
Owners: @churik

fix: adjust community cards on discover page
  src/quo2/components/community/community_card_view.cljs
  src/status_im2/contexts/communities/discover/view.cljs
Owners: none

refactor with pr comments
  src/status_im2/contexts/communities/discover/view.cljs
Owners: none

fix: adjust community cards on discover page (#14444)
  src/quo2/components/community/community_card_view.cljs
  src/status_im2/contexts/communities/discover/view.cljs
Owners: none

partially implement shell jump-to navigation
  nix/mobile/android/release.nix
  resources/images/icons2/12x12/group@2x.png
  resources/images/icons2/12x12/group@3x.png
  resources/images/icons2/20x20/group@2x.png
  resources/images/icons2/20x20/group@3x.png
  resources/images/ui/switcher@2x.png
  resources/images/ui/switcher@3x.png
  src/js/shell_worklets.js
  src/js/worklet_factory.js
  src/mocks/js_dependencies.cljs
  src/quo2/components/avatars/group_avatar.cljs
  src/quo2/components/navigation/floating_shell_button.cljs
  src/status_im/chat/models.cljs
  src/status_im/communities/core.cljs
  src/status_im/events.cljs
  src/status_im/multiaccounts/logout/core.cljs
  src/status_im/react_native/resources.cljs
  src/status_im/ui/screens/communities/community.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/view.cljs
  src/status_im2/contexts/communities/home/view.cljs
  src/status_im2/contexts/quo_preview/navigation/floating_shell_button.cljs
  src/status_im2/contexts/quo_preview/switcher/switcher_cards.cljs
  src/status_im2/contexts/shell/animation.cljs
  src/status_im2/contexts/shell/bottom_tabs.cljs
  src/status_im2/contexts/shell/cards/style.cljs
  src/status_im2/contexts/shell/cards/view.cljs
  src/status_im2/contexts/shell/constants.cljs
  src/status_im2/contexts/shell/events.cljs
  src/status_im2/contexts/shell/home_stack.cljs
  src/status_im2/contexts/shell/view.cljs
  src/status_im2/navigation/events.cljs
  src/status_im2/subs/general.cljs
  src/status_im2/subs/root.cljs
  src/status_im2/subs/shell.cljs
Owners: @jakubgs

partially implement shell jump-to navigation (#14410)
  nix/mobile/android/release.nix
  resources/images/icons2/12x12/group@2x.png
  resources/images/icons2/12x12/group@3x.png
  resources/images/icons2/20x20/group@2x.png
  resources/images/icons2/20x20/group@3x.png
  resources/images/ui/switcher@2x.png
  resources/images/ui/switcher@3x.png
  src/js/shell_worklets.js
  src/js/worklet_factory.js
  src/mocks/js_dependencies.cljs
  src/quo2/components/avatars/group_avatar.cljs
  src/quo2/components/navigation/floating_shell_button.cljs
  src/status_im/chat/models.cljs
  src/status_im/communities/core.cljs
  src/status_im/events.cljs
  src/status_im/multiaccounts/logout/core.cljs
  src/status_im/react_native/resources.cljs
  src/status_im/ui/screens/communities/community.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/view.cljs
  src/status_im2/contexts/communities/home/view.cljs
  src/status_im2/contexts/quo_preview/navigation/floating_shell_button.cljs
  src/status_im2/contexts/quo_preview/switcher/switcher_cards.cljs
  src/status_im2/contexts/shell/animation.cljs
  src/status_im2/contexts/shell/bottom_tabs.cljs
  src/status_im2/contexts/shell/cards/style.cljs
  src/status_im2/contexts/shell/cards/view.cljs
  src/status_im2/contexts/shell/constants.cljs
  src/status_im2/contexts/shell/events.cljs
  src/status_im2/contexts/shell/home_stack.cljs
  src/status_im2/contexts/shell/view.cljs
  src/status_im2/navigation/events.cljs
  src/status_im2/subs/general.cljs
  src/status_im2/subs/root.cljs
  src/status_im2/subs/shell.cljs
Owners: @jakubgs

Compilation fixes
  nix/status-go/default.nix
  nix/status-go/mobile/buildNim.nix
  nix/status-go/mobile/buildNimbus.nix
Owners: @jakubgs

chore: update action drawer with designer feedback
  src/quo2/components/drawers/action_drawers.cljs
  src/status_im2/contexts/quo_preview/drawers/action_drawers.cljs
Owners: none

chore: update action drawer with designer feedback (#14465)
  src/quo2/components/drawers/action_drawers.cljs
  src/status_im2/contexts/quo_preview/drawers/action_drawers.cljs
Owners: none

feat: implement token gating component
  .gitignore
  src/quo2/components/buttons/button.cljs
  src/quo2/components/community/community_view.cljs
  src/quo2/components/community/token_gating.cljs
  src/quo2/components/info/info_message.cljs
  src/quo2/components/info/information_box.cljs
  src/quo2/components/list_items/channel.cljs
  src/quo2/components/tags/permission_tag.cljs
  src/status_im2/contexts/communities/overview/view.cljs
  src/status_im2/contexts/quo_preview/community/token_gating.cljs
  src/status_im2/contexts/quo_preview/main.cljs
  translations/en.json
Owners: none

fix: add .calva to gitignore
  .gitignore
Owners: none

Implement Token Gating (#13899)
  .gitignore
  src/quo2/components/buttons/button.cljs
  src/quo2/components/community/community_view.cljs
  src/quo2/components/community/token_gating.cljs
  src/quo2/components/info/info_message.cljs
  src/quo2/components/info/information_box.cljs
  src/quo2/components/list_items/channel.cljs
  src/quo2/components/tags/permission_tag.cljs
  src/status_im2/contexts/communities/overview/view.cljs
  src/status_im2/contexts/quo_preview/community/token_gating.cljs
  src/status_im2/contexts/quo_preview/main.cljs
  translations/en.json
Owners: none

fix: channel list-item not clickable
  src/quo2/components/list_items/channel.cljs
Owners: none

feat: add display-name in author component
  src/quo2/components/messages/author/view.cljs
  src/status_im2/contexts/quo_preview/messages/author.cljs
Owners: none

feat: add display-name in author component (#14473)
  src/quo2/components/messages/author/view.cljs
  src/status_im2/contexts/quo_preview/messages/author.cljs
Owners: none

fix: channel list-item not clickable (#14469)
  src/quo2/components/list_items/channel.cljs
Owners: none

Allow owner/admin to delete messages of a community
  src/status_im/communities/core.cljs
  src/status_im/constants.cljs
  src/status_im/ui/screens/communities/members.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/messages/view.cljs
  status-go-version.json
  translations/en.json
Owners: none

Allow owner/admin to delete messages of a community (#14366)
  src/status_im/communities/core.cljs
  src/status_im/constants.cljs
  src/status_im/ui/screens/communities/members.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/messages/view.cljs
  status-go-version.json
  translations/en.json
Owners: none

Update status-go and set fleet to status.prod
  .env
  .env.e2e
  .env.jenkins
  .env.nightly
  .env.release
Owners: @jakubgs

Change fleet for e2e tests
  .env.e2e
Owners: @jakubgs

revert fleet
  .env.e2e
Owners: @jakubgs

fleet
  .env.e2e
Owners: @jakubgs

move messages main screen to status-im2
  .carve_ignore
  src/quo2/components/navigation/page_nav.cljs
  src/react_native/core.cljs
  src/status_im/browser/core.cljs
  src/status_im/ui/screens/add_new/new_chat/views.cljs
  src/status_im/ui/screens/browser/eip3326/sheet.cljs
  src/status_im/ui/screens/browser/views.cljs
  src/status_im/ui/screens/chat/group.cljs
  src/status_im/ui/screens/chat/stickers/views.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/communities/create.cljs
  src/status_im/ui/screens/communities/create_category.cljs
  src/status_im/ui/screens/communities/create_channel.cljs
  src/status_im/ui/screens/communities/edit_channel.cljs
  src/status_im/ui/screens/communities/select_category.cljs
  src/status_im/ui/screens/ens/views.cljs
  src/status_im/ui/screens/group/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/network/network_details/views.cljs
  src/status_im/ui/screens/onboarding/keys/views.cljs
  src/status_im/ui/screens/onboarding/phrase/view.cljs
  src/status_im/ui/screens/onboarding/storage/views.cljs
  src/status_im/ui/screens/profile/group_chat/views.cljs
  src/status_im/ui/screens/wallet/recipient/views.cljs
  src/status_im/ui2/screens/chat/composer/style.cljs
  src/status_im/ui2/screens/chat/view.cljs
  src/status_im/utils/handlers.cljs
  src/status_im2/contexts/chat/messages/view.cljs
  src/status_im2/navigation/screens.cljs
  src/utils/debounce.cljs
Owners: none

lint
  src/quo2/components/navigation/page_nav.cljs
Owners: none

move messages main screen to status-im2 (#14491)
  .carve_ignore
  src/quo2/components/navigation/page_nav.cljs
  src/react_native/core.cljs
  src/status_im/browser/core.cljs
  src/status_im/ui/screens/add_new/new_chat/views.cljs
  src/status_im/ui/screens/browser/eip3326/sheet.cljs
  src/status_im/ui/screens/browser/views.cljs
  src/status_im/ui/screens/chat/group.cljs
  src/status_im/ui/screens/chat/stickers/views.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/communities/create.cljs
  src/status_im/ui/screens/communities/create_category.cljs
  src/status_im/ui/screens/communities/create_channel.cljs
  src/status_im/ui/screens/communities/edit_channel.cljs
  src/status_im/ui/screens/communities/select_category.cljs
  src/status_im/ui/screens/ens/views.cljs
  src/status_im/ui/screens/group/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/network/network_details/views.cljs
  src/status_im/ui/screens/onboarding/keys/views.cljs
  src/status_im/ui/screens/onboarding/phrase/view.cljs
  src/status_im/ui/screens/onboarding/storage/views.cljs
  src/status_im/ui/screens/profile/group_chat/views.cljs
  src/status_im/ui/screens/wallet/recipient/views.cljs
  src/status_im/ui2/screens/chat/composer/style.cljs
  src/status_im/ui2/screens/chat/view.cljs
  src/status_im/utils/handlers.cljs
  src/status_im2/contexts/chat/messages/view.cljs
  src/status_im2/navigation/screens.cljs
  src/utils/debounce.cljs
Owners: none

e2e: extend wait for CR
  test/appium/views/home_view.py
Owners: @churik

updates
  Makefile
  src/status_im/chat/models/images.cljs
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
  src/status_im2/subs/root.cljs
Owners: none

lint
  src/status_im/chat/models/images.cljs
  src/status_im/ui2/screens/chat/composer/style.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im/ui2/screens/chat/photo_selector/style.cljs
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
  src/status_im2/setup/dev.cljs
  translations/en.json
Owners: none

lint
  src/status_im2/setup/dev.cljs
Owners: none

refactor
  Makefile
  src/status_im2/setup/dev.cljs
Owners: none

Add missing new line
  src/status_im/test_helpers.clj
Owners: none

New macro for testing subscriptions, plus examples
  .clj-kondo/config.edn
  src/status_im/test_helpers.clj
  src/status_im/test_helpers.cljs
  src/status_im2/subs/activity_center_test.cljs
  src/status_im2/subs/communities_test.cljs
  src/status_im2/subs/subs_test.cljs
  src/status_im2/subs/wallet/wallet_test.cljs
Owners: none

Transform macro to function and fix linter
  .clj-kondo/config.edn
  src/status_im/test_helpers.clj
  src/status_im/test_helpers.cljs
Owners: none

Add section to guidelines
  doc/new-guidelines.md
Owners: none

Introduce subscription tests (#14472)
  .clj-kondo/config.edn
  doc/new-guidelines.md
  src/status_im/test_helpers.clj
  src/status_im/test_helpers.cljs
  src/status_im2/subs/activity_center_test.cljs
  src/status_im2/subs/communities_test.cljs
  src/status_im2/subs/subs_test.cljs
  src/status_im2/subs/wallet/wallet_test.cljs
Owners: none

fix app crashing on opening community channel
  src/status_im2/contexts/chat/messages/view.cljs
Owners: none

fix app crashing on opening community channel (#14499)
  src/status_im2/contexts/chat/messages/view.cljs
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik
