Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

subs refactor
  src/status_im/core.cljs
  src/status_im/integration_test.cljs
  src/status_im/search/core_test.cljs
  src/status_im/subs.cljs
  src/status_im/subs/activity_center.cljs
  src/status_im/subs/bootnodes.cljs
  src/status_im/subs/browser.cljs
  src/status_im/subs/chat/chats.cljs
  src/status_im/subs/chat/messages.cljs
  src/status_im/subs/communities.cljs
  src/status_im/subs/contact.cljs
  src/status_im/subs/ens.cljs
  src/status_im/subs/general.cljs
  src/status_im/subs/home.cljs
  src/status_im/subs/keycard.cljs
  src/status_im/subs/mailservers.cljs
  src/status_im/subs/multiaccount.cljs
  src/status_im/subs/networks.cljs
  src/status_im/subs/onboarding.cljs
  src/status_im/subs/pairing.cljs
  src/status_im/subs/root.cljs
  src/status_im/subs/search.cljs
  src/status_im/subs/stickers.cljs
  src/status_im/subs/wallet/signing.cljs
  src/status_im/subs/wallet/transactions.cljs
  src/status_im/subs/wallet/wallet.cljs
  src/status_im/subs_test.cljs
  src/status_im/ui/screens/rpc_usage_info.cljs
Owners: none

Dropdown component
  resources/images/icons/dropdown20@2x.png
  resources/images/icons/dropdown20@3x.png
  resources/images/icons/dropdown_dark20@2x.png
  resources/images/icons/dropdown_dark20@3x.png
  resources/images/icons/pullup20@2x.png
  resources/images/icons/pullup20@3x.png
  resources/images/icons/pullup_dark20@2x.png
  resources/images/icons/pullup_dark20@3x.png
  src/quo2/components/list_items/dropdown.cljs
  src/quo2/screens/list_items/dropdown.cljs
  src/quo2/screens/main.cljs
Owners: none

fixes
  src/status_im/subs/general.cljs
  src/status_im/subs/subs_test.cljs
  src/status_im/subs/wallet/transactions.cljs
  src/status_im/subs/wallet/wallet.cljs
  src/status_im/wallet/subs_test.cljs
Owners: none

Lint
  src/quo2/components/list_items/dropdown.cljs
Owners: none

[issue-13578] Dropdown component (#13866)
  resources/images/icons/dropdown20@2x.png
  resources/images/icons/dropdown20@3x.png
  resources/images/icons/dropdown_dark20@2x.png
  resources/images/icons/dropdown_dark20@3x.png
  resources/images/icons/pullup20@2x.png
  resources/images/icons/pullup20@3x.png
  resources/images/icons/pullup_dark20@2x.png
  resources/images/icons/pullup_dark20@3x.png
  src/quo2/components/list_items/dropdown.cljs
  src/quo2/screens/list_items/dropdown.cljs
  src/quo2/screens/main.cljs
Owners: none

Fix null pointer exception on password when migrating to a keykard by disabling the back button in process.
  src/status_im/events.cljs
  src/status_im/keycard/backup_key.cljs
  src/status_im/keycard/core.cljs
  src/status_im/keycard/onboarding.cljs
  src/status_im/keycard/recovery.cljs
  src/status_im/multiaccounts/key_storage/core.cljs
  src/status_im/navigation/core.cljs
  src/status_im/ui/screens/screens.cljs
Owners: none

Fix null pointer exception on password when migrating to a keykard by disabling the back button in process. (#13977)
  src/status_im/events.cljs
  src/status_im/keycard/backup_key.cljs
  src/status_im/keycard/core.cljs
  src/status_im/keycard/onboarding.cljs
  src/status_im/keycard/recovery.cljs
  src/status_im/multiaccounts/key_storage/core.cljs
  src/status_im/navigation/core.cljs
  src/status_im/ui/screens/screens.cljs
Owners: none

nix: upgrade from 2.8.0 to 2.11.1
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.tests
  nix/KNOWN_ISSUES.md
  nix/scripts/setup.sh
Owners: @jakubgs

subs refactor (#14049)
  src/status_im/core.cljs
  src/status_im/integration_test.cljs
  src/status_im/search/core_test.cljs
  src/status_im/subs.cljs
  src/status_im/subs/activity_center.cljs
  src/status_im/subs/bootnodes.cljs
  src/status_im/subs/browser.cljs
  src/status_im/subs/chat/chats.cljs
  src/status_im/subs/chat/messages.cljs
  src/status_im/subs/communities.cljs
  src/status_im/subs/contact.cljs
  src/status_im/subs/ens.cljs
  src/status_im/subs/general.cljs
  src/status_im/subs/home.cljs
  src/status_im/subs/keycard.cljs
  src/status_im/subs/mailservers.cljs
  src/status_im/subs/multiaccount.cljs
  src/status_im/subs/networks.cljs
  src/status_im/subs/onboarding.cljs
  src/status_im/subs/pairing.cljs
  src/status_im/subs/root.cljs
  src/status_im/subs/search.cljs
  src/status_im/subs/stickers.cljs
  src/status_im/subs/subs_test.cljs
  src/status_im/subs/wallet/signing.cljs
  src/status_im/subs/wallet/transactions.cljs
  src/status_im/subs/wallet/wallet.cljs
  src/status_im/ui/screens/rpc_usage_info.cljs
  src/status_im/wallet/subs_test.cljs
Owners: none

scripts/fdroid-pr.sh: fix typo in vars and directory
  scripts/fdroid-pr.sh
Owners: @jakubgs

Integrate reactions to messages in the new UI
  src/quo2/components/reactions/reaction.cljs
  src/quo2/screens/reactions/react.cljs
  src/status_im/constants.cljs
  src/status_im/react_native/resources.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/message/message_old.cljs
  src/status_im/ui/screens/chat/message/reactions_old.cljs
  src/status_im/ui/screens/chat/message/reactions_picker.cljs
  src/status_im/ui/screens/chat/message/reactions_row.cljs
  src/status_im/ui/screens/chat/message/reactions_row_old.cljs
  src/status_im/ui/screens/chat/message/styles.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/status/views.cljs
Owners: none

Revert "subs refactor (#14049)"
  src/status_im/core.cljs
  src/status_im/integration_test.cljs
  src/status_im/search/core_test.cljs
  src/status_im/subs.cljs
  src/status_im/subs/activity_center.cljs
  src/status_im/subs/bootnodes.cljs
  src/status_im/subs/browser.cljs
  src/status_im/subs/chat/chats.cljs
  src/status_im/subs/chat/messages.cljs
  src/status_im/subs/communities.cljs
  src/status_im/subs/contact.cljs
  src/status_im/subs/ens.cljs
  src/status_im/subs/general.cljs
  src/status_im/subs/home.cljs
  src/status_im/subs/mailservers.cljs
  src/status_im/subs/multiaccount.cljs
  src/status_im/subs/networks.cljs
  src/status_im/subs/onboarding.cljs
  src/status_im/subs/pairing.cljs
  src/status_im/subs/root.cljs
  src/status_im/subs/search.cljs
  src/status_im/subs/stickers.cljs
  src/status_im/subs/wallet/signing.cljs
  src/status_im/subs/wallet/transactions.cljs
  src/status_im/subs/wallet/wallet.cljs
  src/status_im/subs_test.cljs
  src/status_im/ui/screens/keycard/subs.cljs
  src/status_im/ui/screens/rpc_usage_info.cljs
  src/status_im/wallet/subs_test.cljs
Owners: none

fix android debug app crash
  android/app/build.gradle
  doc/TROUBLESHOOTING.md
Owners: none

review changes 2
  doc/TROUBLESHOOTING.md
Owners: none

review changes
  android/app/build.gradle
Owners: none

Allow disabling Hermes engine by passing flag while building app (#14041)
  android/app/build.gradle
  doc/TROUBLESHOOTING.md
Owners: none

subs refactor
  src/status_im/core.cljs
  src/status_im/integration_test.cljs
  src/status_im/search/core_test.cljs
  src/status_im/subs.cljs
  src/status_im/subs/activity_center.cljs
  src/status_im/subs/bootnodes.cljs
  src/status_im/subs/browser.cljs
  src/status_im/subs/chat/chats.cljs
  src/status_im/subs/chat/messages.cljs
  src/status_im/subs/communities.cljs
  src/status_im/subs/contact.cljs
  src/status_im/subs/ens.cljs
  src/status_im/subs/general.cljs
  src/status_im/subs/home.cljs
  src/status_im/subs/keycard.cljs
  src/status_im/subs/mailservers.cljs
  src/status_im/subs/multiaccount.cljs
  src/status_im/subs/networks.cljs
  src/status_im/subs/onboarding.cljs
  src/status_im/subs/pairing.cljs
  src/status_im/subs/root.cljs
  src/status_im/subs/search.cljs
  src/status_im/subs/stickers.cljs
  src/status_im/subs/subs_test.cljs
  src/status_im/subs/wallet/signing.cljs
  src/status_im/subs/wallet/transactions.cljs
  src/status_im/subs/wallet/wallet.cljs
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui/screens/rpc_usage_info.cljs
  src/status_im/wallet/core.cljs
  src/status_im/wallet/subs_test.cljs
Owners: none

subs refactor (#14054)
  src/status_im/core.cljs
  src/status_im/integration_test.cljs
  src/status_im/search/core_test.cljs
  src/status_im/subs.cljs
  src/status_im/subs/activity_center.cljs
  src/status_im/subs/bootnodes.cljs
  src/status_im/subs/browser.cljs
  src/status_im/subs/chat/chats.cljs
  src/status_im/subs/chat/messages.cljs
  src/status_im/subs/communities.cljs
  src/status_im/subs/contact.cljs
  src/status_im/subs/ens.cljs
  src/status_im/subs/general.cljs
  src/status_im/subs/home.cljs
  src/status_im/subs/keycard.cljs
  src/status_im/subs/mailservers.cljs
  src/status_im/subs/multiaccount.cljs
  src/status_im/subs/networks.cljs
  src/status_im/subs/onboarding.cljs
  src/status_im/subs/pairing.cljs
  src/status_im/subs/root.cljs
  src/status_im/subs/search.cljs
  src/status_im/subs/stickers.cljs
  src/status_im/subs/subs_test.cljs
  src/status_im/subs/wallet/signing.cljs
  src/status_im/subs/wallet/transactions.cljs
  src/status_im/subs/wallet/wallet.cljs
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui/screens/rpc_usage_info.cljs
  src/status_im/wallet/core.cljs
  src/status_im/wallet/subs_test.cljs
Owners: none

don't show ens banner after 5th oct
  src/status_im/ui/screens/home/views.cljs
Owners: none

review changes
  src/status_im/ui/screens/home/views.cljs
Owners: none

Add expire time to ens banner (#14057)
  src/status_im/ui/screens/home/views.cljs
Owners: none

Add expire time to ens banner (#14057)
  src/status_im/ui/screens/home/views.cljs
Owners: none

[#14056] Error '1.20.0 (20220922040832) is not a function' when opening About screen
  src/status_im/subs/general.cljs
Owners: none

nix: patch gomobile to sanitize xcrun output
  nix/overlay.nix
Owners: @jakubgs

dismiss keyboard inside quo2 screen on pressing outside
  src/quo/previews/preview.cljs
  src/quo2/screens/avatars/channel_avatar.cljs
  src/quo2/screens/avatars/group_avatar.cljs
  src/quo2/screens/avatars/icon_avatar.cljs
  src/quo2/screens/avatars/user_avatar.cljs
  src/quo2/screens/avatars/wallet_user_avatar.cljs
  src/quo2/screens/buttons/button.cljs
  src/quo2/screens/community/community_card_view.cljs
  src/quo2/screens/counter/counter.cljs
  src/quo2/screens/dividers/divider_label.cljs
  src/quo2/screens/dividers/new_messages.cljs
  src/quo2/screens/info/info_message.cljs
  src/quo2/screens/info/information_box.cljs
  src/quo2/screens/info/lowest_price.cljs
  src/quo2/screens/list_items/dropdown.cljs
  src/quo2/screens/list_items/preview_lists.cljs
  src/quo2/screens/markdown/text.cljs
  src/quo2/screens/reactions/react.cljs
  src/quo2/screens/switcher/switcher_cards.cljs
  src/quo2/screens/tabs/account_selector.cljs
  src/quo2/screens/tabs/segmented_tab.cljs
  src/quo2/screens/tabs/tabs.cljs
  src/quo2/screens/tags/context_tags.cljs
  src/quo2/screens/tags/filter_tags.cljs
  src/quo2/screens/tags/permission_tag.cljs
  src/quo2/screens/tags/status_tags.cljs
  src/quo2/screens/tags/token_tag.cljs
  src/quo2/screens/wallet/token_overview.cljs
Owners: none

dismiss keyboard inside quo2 screen on pressing outside (#14055)
  src/quo/previews/preview.cljs
  src/quo2/screens/avatars/channel_avatar.cljs
  src/quo2/screens/avatars/group_avatar.cljs
  src/quo2/screens/avatars/icon_avatar.cljs
  src/quo2/screens/avatars/user_avatar.cljs
  src/quo2/screens/avatars/wallet_user_avatar.cljs
  src/quo2/screens/buttons/button.cljs
  src/quo2/screens/community/community_card_view.cljs
  src/quo2/screens/counter/counter.cljs
  src/quo2/screens/dividers/divider_label.cljs
  src/quo2/screens/dividers/new_messages.cljs
  src/quo2/screens/info/info_message.cljs
  src/quo2/screens/info/information_box.cljs
  src/quo2/screens/info/lowest_price.cljs
  src/quo2/screens/list_items/dropdown.cljs
  src/quo2/screens/list_items/preview_lists.cljs
  src/quo2/screens/markdown/text.cljs
  src/quo2/screens/reactions/react.cljs
  src/quo2/screens/switcher/switcher_cards.cljs
  src/quo2/screens/tabs/account_selector.cljs
  src/quo2/screens/tabs/segmented_tab.cljs
  src/quo2/screens/tabs/tabs.cljs
  src/quo2/screens/tags/context_tags.cljs
  src/quo2/screens/tags/filter_tags.cljs
  src/quo2/screens/tags/permission_tag.cljs
  src/quo2/screens/tags/status_tags.cljs
  src/quo2/screens/tags/token_tag.cljs
  src/quo2/screens/wallet/token_overview.cljs
Owners: none

[#14056] Error '1.20.0 (20220922040832) is not a function' when opening About screen (#14058)
  src/status_im/subs/general.cljs
Owners: none

e2e: new e2e and fixes
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/test_pairing_devices_sync.py
  test/appium/tests/medium/test_browser_profile.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
  test/appium/tests/medium/test_profile_m.py
Owners: @churik

docs/FDROID: not to create the PR as draft first
  doc/FDROID.md
Owners: none

e2e: web3
  test/appium/requirements.txt
  test/appium/support/api/web3_api.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/base_view.py
  test/appium/views/wallet_view.py
Owners: @churik

e2e: e2e fixes
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/medium/test_activity_center.py
  test/appium/tests/medium/test_chats_m.py
Owners: @churik

1.20.1
  VERSION
Owners: none

e2e: fixed 702185
  test/appium/tests/medium/test_activity_center.py
Owners: @churik

feat: add list item - channel component to quo2 library
  resources/images/icons/channel-notification20@2x.png
  resources/images/icons/channel-notification20@3x.png
  resources/images/icons/muted20@2x.png
  resources/images/icons/muted20@3x.png
  src/quo2/components/list_items/channel.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/list_items/channel.cljs
  src/quo2/screens/main.cljs
Owners: none

fix: adjust size and position of icon for lock in channel avatar
  resources/images/icons/channel-notification20@2x.png
  resources/images/icons/channel-notification20@3x.png
  resources/images/icons/channel-notification_dark20@2x.png
  resources/images/icons/channel-notification_dark20@3x.png
  src/quo2/components/avatars/channel_avatar.cljs
  src/quo2/components/list_items/channel.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/avatars/channel_avatar.cljs
  src/quo2/screens/list_items/channel.cljs
  src/quo2/screens/main.cljs
Owners: none

Jc/add channel list item (#14040)
  resources/images/icons/channel-notification20@2x.png
  resources/images/icons/channel-notification20@3x.png
  resources/images/icons/channel-notification_dark20@2x.png
  resources/images/icons/channel-notification_dark20@3x.png
  resources/images/icons/muted20@2x.png
  resources/images/icons/muted20@3x.png
  src/quo2/components/avatars/channel_avatar.cljs
  src/quo2/components/list_items/channel.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/avatars/channel_avatar.cljs
  src/quo2/screens/list_items/channel.cljs
  src/quo2/screens/main.cljs
Owners: none

fix: appearance switch resets to old ui when new ui is activated
  src/status_im/navigation2.cljs
  src/status_im/ui/screens/appearance/views.cljs
Owners: none

Set default encrypted
  src/status_im/communities/core.cljs
  status-go-version.json
Owners: none

Implement accept/decline/open chat for contact requests
  src/quo2/components/notifications/activity_logs.cljs
  src/status_im/activity_center/core.cljs
  src/status_im/activity_center/core_test.cljs
  src/status_im/test_helpers.cljs
  src/status_im/transport/message/core.cljs
  src/status_im/ui/components/topnav.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/utils/config.cljs
Owners: none

Network breakdown component
  resources/images/icons/arbitrum40@2x.png
  resources/images/icons/arbitrum40@3x.png
  resources/images/icons/ethereum40@2x.png
  resources/images/icons/ethereum40@3x.png
  resources/images/icons/optimism40@2x.png
  resources/images/icons/optimism40@3x.png
  resources/images/icons/zksync40@2x.png
  resources/images/icons/zksync40@3x.png
  src/quo2/components/info/network_breakdown.cljs
  src/quo2/screens/info/network_breakdown.cljs
  src/quo2/screens/main.cljs
  translations/en.json
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik
