Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @status-im/status-core, @jakubgs, @PombeirP, @status-im/status-core-ui, @vkjr, @oskarth, @mandrigin, @yenda, @jeluard, @antdanchenko, @churik

fix network switching in dev mode
  src/status_im/network/ui/views.cljs
Owners: @status-im/status-core

add back tooltip-triangle icon
  android/app/src/main/res/drawable-mdpi/tooltip_triangle.png
  android/app/src/main/res/drawable-xhdpi/tooltip_triangle.png
  android/app/src/main/res/drawable-xxhdpi/tooltip_triangle.png
  ios/StatusIm/Images.xcassets/tooltip-triangle.imageset/Contents.json
  ios/StatusIm/Images.xcassets/tooltip-triangle.imageset/tooltip-triangle.png
  ios/StatusIm/Images.xcassets/tooltip-triangle.imageset/tooltip-triangle@2x.png
  ios/StatusIm/Images.xcassets/tooltip-triangle.imageset/tooltip-triangle@3x.png
  src/status_im/ui/components/tooltip/views.cljs
Owners: @status-im/status-core

[android, ios] render markdown-ish formatting in chat messages natively.
  components/src/status_im/ui/components/react.cljs
  ios/Podfile.lock
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  src/status_im/chat/models/message_content.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/views.cljs
  test/cljs/status_im/test/chat/models/message_content.cljs
Owners: @status-im/status-core-ui, @status-im/status-core, @antdanchenko, @churik

stickers panel animation with native driver
  src/status_im/ui/screens/chat/stickers/views.cljs
Owners: @status-im/status-core

[Fix #8067] Added screens for ENS preferred name selection
  src/status_im/accounts/core.cljs
  src/status_im/chat/db.cljs
  src/status_im/chat/models/message.cljs
  src/status_im/data_store/realm/schemas/base/account.cljs
  src/status_im/data_store/realm/schemas/base/core.cljs
  src/status_im/ens/core.cljs
  src/status_im/ethereum/core.cljs
  src/status_im/ethereum/ens.cljs
  src/status_im/ethereum/stateofus.cljs
  src/status_im/notifications/core.cljs
  src/status_im/subs.cljs
  src/status_im/ui/components/list/views.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
  src/status_im/ui/screens/chat/utils.cljs
  src/status_im/ui/screens/ens/views.cljs
  src/status_im/ui/screens/profile/components/styles.cljs
  src/status_im/ui/screens/profile/components/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  test/cljs/status_im/test/ethereum/core.cljs
  translations/en.json
Owners: @status-im/status-core, @antdanchenko, @churik

Revert "[android, ios] render markdown-ish formatting in chat messages natively."
  components/src/status_im/ui/components/react.cljs
  ios/Podfile.lock
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  src/status_im/chat/models/message_content.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/views.cljs
  test/cljs/status_im/test/chat/models/message_content.cljs
Owners: @status-im/status-core-ui, @status-im/status-core, @antdanchenko, @churik

[android] Restore compatibility with Android 6.x
  mobile_files/yarn.lock
Owners: @status-im/status-core

Multiaccount critical e2e fixed
  src/status_im/ui/screens/wallet/account/views.cljs
  src/status_im/ui/screens/wallet/accounts/sheets.cljs
  src/status_im/ui/screens/wallet/accounts/views.cljs
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/transactions/test_daaps_transactions.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/profile_view.py
  test/appium/views/send_transaction_view.py
  test/appium/views/wallet_view.py
Owners: @status-im/status-core, @antdanchenko, @churik

search input animation with nativeDriver
  src/status_im/ui/screens/home/filter/views.cljs
  src/status_im/ui/screens/home/styles.cljs
  src/status_im/ui/screens/home/views.cljs
Owners: @status-im/status-core

dapp permissions sheet animation with native driver
  src/status_im/ui/screens/browser/permissions/views.cljs
  src/status_im/ui/screens/browser/styles.cljs
Owners: @status-im/status-core

Fix public chats issue
  src/status_im/ui/screens/desktop/main/add_new/views.cljs
Owners: @vkjr

preload main tabs after login
  src/status_im/ui/screens/routing/core.cljs
Owners: @status-im/status-core

delatable item animation with native driver
  src/status_im/ui/components/list/views.cljs
  src/status_im/ui/screens/home/animations/responder.cljs
Owners: @status-im/status-core

Fix critical e2e
  test/appium/views/chat_view.py
Owners: @antdanchenko, @churik

signing sheet animation with nativeDriver
  src/status_im/ui/screens/signing/views.cljs
Owners: @status-im/status-core

tooltip animation with native driver
  src/status_im/ui/components/list_item/styles.cljs
  src/status_im/ui/components/text_input/styles.cljs
  src/status_im/ui/components/tooltip/animations.cljs
  src/status_im/ui/components/tooltip/styles.cljs
  src/status_im/ui/components/tooltip/views.cljs
  src/status_im/ui/screens/add_new/new_public_chat/styles.cljs
  src/status_im/ui/screens/bootnodes_settings/edit_bootnode/views.cljs
  src/status_im/ui/screens/offline_messaging_settings/edit_mailserver/views.cljs
Owners: @status-im/status-core

command suggestions and parameters animation with native driver
  src/status_im/ui/screens/chat/input/animations/expandable.cljs
  src/status_im/ui/screens/chat/input/parameter_box.cljs
  src/status_im/ui/screens/chat/input/suggestions.cljs
  src/status_im/ui/screens/chat/styles/animations.cljs
Owners: @status-im/status-core

Fix e2e with default usernames instead of custom
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/chats/test_public.py
Owners: @antdanchenko, @churik

Chatbot fix
  test/appium/tests/conftest.py
  test/appium/tests/test_chatbot.py
Owners: @antdanchenko, @churik

fix margin between the plus button and bottom tab bar #8166
  src/status_im/ui/screens/home/styles.cljs
Owners: @status-im/status-core

keycard onboarding v1
  resources/images/ui/keycard-connection.png
  resources/images/ui/keycard-nfc-on.png
  resources/images/ui/keycard-phone.png
  resources/images/ui/keycard.png
  src/status_im/events.cljs
  src/status_im/hardwallet/card.cljs
  src/status_im/hardwallet/core.cljs
  src/status_im/init/core.cljs
  src/status_im/react_native/resources.cljs
  src/status_im/ui/screens/hardwallet/authentication_method/views.cljs
  src/status_im/ui/screens/hardwallet/setup/subs.cljs
  src/status_im/ui/screens/keycard/onboarding/styles.cljs
  src/status_im/ui/screens/keycard/onboarding/views.cljs
  src/status_im/ui/screens/routing/intro_login_stack.cljs
  src/status_im/ui/screens/routing/modals.cljs
  src/status_im/ui/screens/routing/screens.cljs
  translations/en.json
Owners: @status-im/status-core

connectivity-status animation with native driver
  src/status_im/ui/components/animation.cljs
  src/status_im/ui/components/connectivity/styles.cljs
  src/status_im/ui/components/connectivity/view.cljs
  src/status_im/ui/components/list/views.cljs
  src/status_im/ui/screens/chat/styles/main.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/desktop/main/chat/views.cljs
  src/status_im/ui/screens/home/filter/views.cljs
  src/status_im/ui/screens/home/views.cljs
Owners: @status-im/status-core, @vkjr

resurrect rn-snoopy and add some comments
  .env
  .env.e2e
  .env.jenkins
  .env.nightly
  .env.nightly.staging.fleet
  .env.prod
  react-native/src/desktop/status_im/react_native/js_dependencies.cljs
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  src/status_im/utils/config.cljs
  src/status_im/utils/snoopy.cljs
Owners: @jakubgs, @vkjr, @status-im/status-core

add PR config to xcodeproj and xcconfig files
  ci/ios.groovy
  fastlane/Fastfile
  ios/Debug.xcconfig
  ios/PR.xcconfig
  ios/Release.xcconfig
  ios/StatusIm.xcodeproj/project.pbxproj
  ios/StatusIm/Info.plist
Owners: @jakubgs, @status-im/status-core

test building nightly
  ci/ios.groovy
Owners: @jakubgs

Use react-native-screens
  android/app/build.gradle
  android/app/src/main/java/im/status/ethereum/MainActivity.java
  android/app/src/main/java/im/status/ethereum/MainApplication.java
  android/settings.gradle
  clj-rn.conf.edn
  externs.js
  ios/StatusIm.xcodeproj/project.pbxproj
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  src/status_im/android/core.cljs
  src/status_im/ios/core.cljs
Owners: @status-im/status-core

fixed 19 e2e and skipped 3 e2e
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/tests/atomic/transactions/test_daaps_transactions.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/profile_view.py
  test/appium/views/wallet_view.py
Owners: @antdanchenko, @churik

[fix] missing icons in wallet
  android/app/src/main/res/drawable-mdpi/token.png
  android/app/src/main/res/drawable-mdpi/watch.png
  android/app/src/main/res/drawable-xhdpi/token.png
  android/app/src/main/res/drawable-xhdpi/watch.png
  android/app/src/main/res/drawable-xxhdpi/watch.png
  android/app/src/main/res/drawable-xxxhdpi/token.png
  ios/StatusIm/Images.xcassets/token.imageset/Contents.json
  ios/StatusIm/Images.xcassets/token.imageset/token.png
  ios/StatusIm/Images.xcassets/token.imageset/token@2x.png
  ios/StatusIm/Images.xcassets/token.imageset/token@3x.png
  ios/StatusIm/Images.xcassets/watch.imageset/Contents.json
  ios/StatusIm/Images.xcassets/watch.imageset/watch.png
  ios/StatusIm/Images.xcassets/watch.imageset/watch@2x.png
  ios/StatusIm/Images.xcassets/watch.imageset/watch@3x.png
Owners: @status-im/status-core

add a Jenkinsfile for nightly end-to-end tests
  ci/Jenkinsfile.nightly-end-to-end
  ci/android.groovy
  test/appium/support/testrail_report.py
Owners: @jakubgs, @antdanchenko, @churik

fix for 4 e2e
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/views/base_view.py
  test/appium/views/home_view.py
Owners: @antdanchenko, @churik

[#8509] Assets list is not fully scrollable on iOS
  src/status_im/ui/screens/chat/input/animations/expandable.cljs
  src/status_im/ui/screens/chat/styles/animations.cljs
Owners: @status-im/status-core

Resolve ENS name in chats and profiles
  src/status_im/accounts/core.cljs
  src/status_im/accounts/update/core.cljs
  src/status_im/chat/models/input.cljs
  src/status_im/contact/core.cljs
  src/status_im/ens/core.cljs
  src/status_im/ethereum/ens.cljs
  src/status_im/notifications/core.cljs
  src/status_im/transport/message/contact.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/utils.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/profile/components/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/ui/screens/signing/views.cljs
  src/status_im/ui/screens/wallet/components/views.cljs
Owners: @status-im/status-core

Move installations to status-go
  STATUS_GO_SHA256
  STATUS_GO_VERSION
  externs.js
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java
  modules/react-native-status/desktop/rctstatus.cpp
  modules/react-native-status/desktop/rctstatus.h
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  src/status_im/accounts/login/core.cljs
  src/status_im/data_store/installations.cljs
  src/status_im/ethereum/json_rpc.cljs
  src/status_im/events.cljs
  src/status_im/init/core.cljs
  src/status_im/native_module/core.cljs
  src/status_im/native_module/impl/module.cljs
  src/status_im/pairing/core.cljs
  src/status_im/subs.cljs
  src/status_im/transport/core.cljs
  src/status_im/transport/filters/core.cljs
  src/status_im/ui/screens/desktop/main/tabs/profile/views.cljs
  src/status_im/ui/screens/pairing/views.cljs
  src/status_im/utils/fx.cljs
  test/cljs/status_im/test/pairing/core.cljs
Owners: @jakubgs, @status-im/status-core, @vkjr, @antdanchenko, @churik

don't provide --apk=, it's already there
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.nightly-end-to-end
  ci/android.groovy
  ci/ios.groovy
Owners: @jakubgs

mark tests under construction with pytest.mark.skip
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/account_management/test_sign_in.py
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/tests/atomic/dapps_and_browsing/test_dapps.py
  test/appium/tests/atomic/test_upgrade.py
  test/appium/tests/atomic/transactions/test_daaps_transactions.py
  test/appium/tests/atomic/transactions/test_wallet.py
Owners: @antdanchenko, @churik

don't raise exception on testrail api errors
  test/appium/support/testrail_report.py
Owners: @antdanchenko, @churik

add coverage test
  .gitignore
  .nycrc
  Makefile
  README.md
  ci/Jenkinsfile.android
  ci/android.groovy
  desktop_files/package.json.orig
  desktop_files/yarn.lock
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  scripts/run-coverage.sh
Owners: @status-im/status-core, @jakubgs, @vkjr

[8452] remove scroll-view hack
  src/status_im/ui/screens/chat/styles/main.cljs
  src/status_im/ui/screens/chat/views.cljs
Owners: @status-im/status-core

fixed unknown recipient
  src/status_im/ui/screens/signing/views.cljs
Owners: @status-im/status-core

Disable e2e until 8234 merged
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_one_to_one.py
Owners: @antdanchenko, @churik

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @status-im/status-core

/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @PombeirP @jakubgs
/nix        @PombeirP @jakubgs
/.github/   @PombeirP @jakubgs

/components @status-im/status-core-ui

desktop/                        @vkjr
/desktop_files                  @vkjr
modules/react-native-desktop*/  @vkjr
modules/react-native-desktop*/  @vkjr

/doc        @oskarth @mandrigin @yenda @jeluard

/deployment @vkjr @PombeirP

/test    @antdanchenko @churik
