Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik

Replace cond with when macro
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
Owners: none

Refactor to follow new guidelines
  src/quo2/components/notifications/activity_log/style.cljs
  src/quo2/components/notifications/activity_log/view.cljs
  src/quo2/core.cljs
  src/status_im2/contexts/quo_preview/notifications/activity_logs.cljs
Owners: none

Fix style to work within bottom sheet
  src/quo2/components/notifications/activity_log/style.cljs
Owners: none

Revert changes to quo
  src/quo/components/list/item.cljs
  src/quo/components/text_input.cljs
  src/status_im/ui/components/search_input/view.cljs
  src/status_im/ui/components/toolbar.cljs
  src/status_im/ui/components/topbar.cljs
  src/status_im/ui/screens/group/views.cljs
  src/status_im/ui2/screens/chat/components/new_chat.cljs
Owners: none

clean
  src/status_im/ui/components/topbar.cljs
Owners: none

Use user-avatar-tag because group-avatar-tag was throwing an exception
  src/quo2/core.cljs
  src/status_im2/contexts/quo_preview/notifications/activity_logs.cljs
Owners: none

Remove warning about React unique key
  src/quo2/components/notifications/activity_log/view.cljs
Owners: none

Fix various Activity Log layout issues (#14405)
  src/quo2/components/notifications/activity_log/style.cljs
  src/quo2/components/notifications/activity_log/view.cljs
  src/quo2/core.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/view.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
  src/status_im/ui/screens/activity_center/style.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im2/contexts/quo_preview/notifications/activity_logs.cljs
Owners: none

[#14381] Wrap texts with view to ensure separate accessibility labels
  src/quo2/components/avatars/user_avatar.cljs
  src/status_im/ui/screens/communities/invite.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

feat: author component
  src/quo2/components/messages/author/style.cljs
  src/quo2/components/messages/author/view.cljs
  src/status_im2/contexts/quo_preview/main.cljs
  src/status_im2/contexts/quo_preview/messages/author.cljs
  src/status_im2/contexts/quo_preview/preview.cljs
Owners: none

Separate Nim compiler derivation, miniupnpc fixes for Android
  nix/status-go/default.nix
  nix/status-go/mobile/buildNim.nix
  nix/status-go/mobile/buildNimbus.nix
Owners: @jakubgs

User list component
  src/quo2/components/list_items/user_list/style.cljs
  src/quo2/components/list_items/user_list/view.cljs
  src/status_im2/contexts/quo_preview/list_items/user_list.cljs
  src/status_im2/contexts/quo_preview/main.cljs
Owners: none

Add case for transparent
  src/quo2/components/list_items/user_list/style.cljs
  src/status_im2/contexts/quo_preview/list_items/user_list.cljs
Owners: none

move chats home
  src/quo2/components/tabs/tabs.cljs
  src/quo2/core.cljs
  src/status_im/ui/screens/wallet/accounts/views.cljs
  src/status_im/ui2/screens/chat/components/contact_item/view.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/style.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/test.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/view.cljs
  src/status_im/ui2/screens/chat/group_details/view.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/common/alert/view.cljs
  src/status_im/ui2/screens/common/core.cljs
  src/status_im/utils/utils.cljs
  src/status_im2/common/confirmation_drawer/style.cljs
  src/status_im2/common/confirmation_drawer/view.cljs
  src/status_im2/common/contact_list_item/style.cljs
  src/status_im2/common/contact_list_item/view.cljs
  src/status_im2/common/home/actions/view.cljs
  src/status_im2/common/home/style.cljs
  src/status_im2/common/home/view.cljs
  src/status_im2/contexts/chat/home/chat_list_item/style.cljs
  src/status_im2/contexts/chat/home/chat_list_item/view.cljs
  src/status_im2/contexts/chat/home/contact_request/style.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
  src/status_im2/contexts/chat/home/view.cljs
  src/status_im2/contexts/communities/home/view.cljs
  src/status_im2/contexts/quo_preview/navigation/top_nav.cljs
  src/status_im2/contexts/shell/home_stack.cljs
  src/status_im2/contexts/shell/view.cljs
  src/status_im2/navigation/screens.cljs
  src/status_im2/subs/activity_center.cljs
  src/status_im2/subs/contact.cljs
  src/utils/address.cljs
  translations/en.json
Owners: none

ci: separate buckets for mobile and desktop builds
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/Jenkinsfile.tests
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
Owners: @jakubgs

e2e: fix 702745
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/views/chat_view.py
  test/appium/views/elements_templates/member2.png
Owners: @churik

e2e: test sections and fix
  test/appium/support/testrail_report.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
  test/appium/views/chat_view.py
  test/appium/views/elements_templates/member2.png
Owners: @churik

Allow styling text in composer when selecting it with native actions
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/RNSelectableTextInputModule.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/RNSelectableTextInputViewManager.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusPackage.java
  src/status_im/ui2/screens/chat/composer/input.cljs
  translations/en.json
Owners: none

Allow styling text in composer when selecting it with native actions (#14249)
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/RNSelectableTextInputModule.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/RNSelectableTextInputViewManager.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusPackage.java
  src/status_im/ui2/screens/chat/composer/input.cljs
  translations/en.json
Owners: none

lint
  src/status_im/ui/screens/wallet/accounts/views.cljs
  src/status_im/ui2/screens/chat/components/contact_item/test.cljs
  src/status_im/ui2/screens/chat/components/contact_item/view.cljs
  src/status_im/ui2/screens/chat/group_details/view.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im2/subs/activity_center.cljs
Owners: none

review
  src/status_im/ui/screens/wallet/accounts/views.cljs
  src/status_im2/common/contact_list_item/style.cljs
  src/status_im2/common/contact_list_item/view.cljs
  src/utils/address.cljs
Owners: none

adjust navigation colors and small bugfixes
  src/status_im/events.cljs
  src/status_im2/contexts/shell/view.cljs
  src/status_im2/navigation/core.cljs
  src/status_im2/navigation/events.cljs
  src/status_im2/navigation/roots.cljs
  src/status_im2/navigation/view.cljs
  src/status_im2/setup/dev.cljs
  src/status_im2/setup/events.cljs
Owners: none

fixed theme switch
  src/status_im/events.cljs
  src/status_im/multiaccounts/core.cljs
  src/status_im/multiaccounts/login/core.cljs
Owners: none

Migrate to API 31 for android (#14032)
  android/app/src/main/AndroidManifest.xml
  android/gradle.properties
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/ForegroundService.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/PushNotificationHelper.java
  nix/pkgs/android-sdk/compose.nix
Owners: @jakubgs

Bump version to 1.20.3
  VERSION
Owners: none

lint
  src/status_im/events.cljs
Owners: none

e2e: DO NOT MERGE - launch for old e2e
  ci/tests/Jenkinsfile.e2e-nightly
  test/appium/support/testrail_report.py
Owners: @jakubgs, @churik

...
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/sign_in_view.py
Owners: @churik

fixed styles, and testing review
  src/status_im2/common/confirmation_drawer/style.cljs
  src/status_im2/common/confirmation_drawer/view.cljs
  src/status_im2/common/home/view.cljs
  src/status_im2/contexts/chat/home/chat_list_item/style.cljs
  src/status_im2/contexts/chat/home/chat_list_item/view.cljs
  src/status_im2/contexts/chat/home/contact_request/style.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
  src/status_im2/contexts/communities/overview/style.cljs
  src/status_im2/contexts/communities/overview/view.cljs
Owners: none

kkkk
  test/appium/views/base_view.py
Owners: @churik

contacts indicator
  src/status_im/multiaccounts/login/core.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
  src/status_im2/contexts/chat/home/view.cljs
  src/status_im2/subs/activity_center.cljs
Owners: none

move chats home (#14419)
  src/quo2/components/navigation/top_nav.cljs
  src/quo2/components/tabs/tabs.cljs
  src/quo2/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/ui/screens/wallet/accounts/views.cljs
  src/status_im/ui2/screens/chat/components/contact_item/test.cljs
  src/status_im/ui2/screens/chat/components/contact_item/view.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/style.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/test.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/view.cljs
  src/status_im/ui2/screens/chat/group_details/view.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/common/alert/view.cljs
  src/status_im/ui2/screens/common/core.cljs
  src/status_im/utils/utils.cljs
  src/status_im2/common/confirmation_drawer/style.cljs
  src/status_im2/common/confirmation_drawer/view.cljs
  src/status_im2/common/contact_list_item/style.cljs
  src/status_im2/common/contact_list_item/view.cljs
  src/status_im2/common/home/actions/view.cljs
  src/status_im2/common/home/style.cljs
  src/status_im2/common/home/view.cljs
  src/status_im2/contexts/chat/home/chat_list_item/style.cljs
  src/status_im2/contexts/chat/home/chat_list_item/view.cljs
  src/status_im2/contexts/chat/home/contact_request/style.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
  src/status_im2/contexts/chat/home/view.cljs
  src/status_im2/contexts/communities/home/view.cljs
  src/status_im2/contexts/communities/overview/style.cljs
  src/status_im2/contexts/communities/overview/view.cljs
  src/status_im2/contexts/quo_preview/navigation/top_nav.cljs
  src/status_im2/contexts/shell/home_stack.cljs
  src/status_im2/contexts/shell/view.cljs
  src/status_im2/navigation/screens.cljs
  src/status_im2/subs/activity_center.cljs
  src/status_im2/subs/contact.cljs
  src/utils/address.cljs
  translations/en.json
Owners: none

feat: add component tests using react-testing-library and jest
  .babelrc
  .gitignore
  Makefile
  babel.config.js
  package.json
  shadow-cljs.edn
  src/quo2/components/icons/icons.clj
  src/quo2/components/selectors/__tests__/selectors_component_spec.cljs
  src/quo2/components/selectors/selectors.cljs
  src/quo2/core_spec.cljs
  src/status_im/i18n/i18n_resources.cljs
  test/jest/jest.config.js
  test/jest/jestSetup.js
  visual-test/config.json
  visual-test/setup.js
  yarn.lock
Owners: none

feat: add component tests using react-testing-library and jest (#14331)
  .babelrc
  .gitignore
  Makefile
  babel.config.js
  package.json
  shadow-cljs.edn
  src/quo2/components/icons/icons.clj
  src/quo2/components/selectors/__tests__/selectors_component_spec.cljs
  src/quo2/components/selectors/selectors.cljs
  src/quo2/core_spec.cljs
  src/status_im/i18n/i18n_resources.cljs
  test/jest/jest.config.js
  test/jest/jestSetup.js
  visual-test/config.json
  visual-test/setup.js
  yarn.lock
Owners: none

adjust navigation colors and small bugfixes (#14403)
  src/status_im/events.cljs
  src/status_im/multiaccounts/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im2/contexts/shell/view.cljs
  src/status_im2/navigation/core.cljs
  src/status_im2/navigation/events.cljs
  src/status_im2/navigation/roots.cljs
  src/status_im2/navigation/view.cljs
  src/status_im2/setup/dev.cljs
  src/status_im2/setup/events.cljs
Owners: none

ci: bump jenkins lib to match desktop
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/Jenkinsfile.tests
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
Owners: @jakubgs

test build fix
  .babelrc
Owners: none

test build fix (#14435)
  .babelrc
Owners: none

ci: add missing suffix to android e2e builds
  ci/Jenkinsfile.android
Owners: @jakubgs

rebase
  src/status_im/ui2/screens/chat/composer/view.cljs
Owners: none
