Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

[Improvements][#13915] Moved text to translations and added Quo2 colors for background
  src/quo2/components/messages/new_messages_header.cljs
  src/quo2/screens/messages/new_messages_header.cljs
  translations/en.json
Owners: none

[Feature][#13915] Added New Messages component
  src/quo2/components/dividers/new_messages.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/dividers/new_messages.cljs
  src/quo2/screens/main.cljs
  translations/en.json
Owners: none

Update status-go
  status-go-version.json
Owners: none

feat: add ability to join open community in new-ui
  src/quo2/components/tags/context_tags.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui/screens/communities/request_to_join_bottom_sheet_redesign.cljs
  translations/en.json
Owners: none

feat: add ability to join open community in new-ui (#14001)
  src/quo2/components/tags/context_tags.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui/screens/communities/request_to_join_bottom_sheet_redesign.cljs
  translations/en.json
Owners: none

fix: Add forwardRef and correct types to Reanimated.FlatList component
  nix/deps/nodejs-patched/default.nix
  nix/deps/nodejs-patched/react-native-reanimated-2.3.3-flatlist-fix.patch
Owners: @jakubgs

[#13933] Fix activity notification delition on message delition
  status-go-version.json
Owners: none

Move abi-spec to status-go
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  modules/react-native-status/nodejs/status.cpp
  src/status_im/ethereum/abi_spec.cljs
  src/status_im/ethereum/abi_spec_test.cljs
  src/status_im/ethereum/decode.cljs
  src/status_im/ethereum/ens.cljs
  src/status_im/native_module/core.cljs
  src/status_im/signing/core.cljs
  src/status_im/signing/core_test.cljs
  src/status_im/signing/keycard.cljs
  src/status_im/ui/screens/network_info/views.cljs
  src/status_im/utils/test.cljs
  src/status_im/utils/varint.cljs
  src/status_im/utils/varint_test.cljs
  status-go-version.json
Owners: none

Use image server for all kind of images and integrate identity rings
  src/status_im/signals/core.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/chat/photos.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/utils/image_server.cljs
Owners: none

[Feature][#13905] Added Divider Label Component
  src/quo2/components/community/divider_label.cljs
  src/quo2/screens/community/divider_label.cljs
  src/quo2/screens/main.cljs
Owners: none

[Chore][#13905] Grouping for Divider-Label component
  src/quo2/components/dividers/divider_label.cljs
  src/quo2/screens/dividers/divider_label.cljs
  src/quo2/screens/main.cljs
Owners: none

[Chores][#13905] Component params cleanup
  src/quo2/components/dividers/divider_label.cljs
  src/quo2/screens/dividers/divider_label.cljs
Owners: none

[Improvements][#13905] Changed bg color for preview screen from Quo to Quo2
  src/quo2/screens/community/divider_label.cljs
Owners: none

[Fixes][#13905] Naming Conventions for Divider Label Component
  src/quo2/components/community/divider_label.cljs
Owners: none

[Fix] Removed unused namespace causing lint check to fail
  src/status_im/ui/screens/chat/photos.cljs
Owners: none

[Feature][#13905] Added Divider Label Component
  src/quo2/components/dividers/divider_label.cljs
  src/quo2/screens/dividers/divider_label.cljs
  src/quo2/screens/main.cljs
  src/status_im/ui/screens/chat/photos.cljs
Owners: none

fix: remove annoying deref in lazy seq warning
  src/status_im/ui/screens/chat/message/reactions_picker.cljs
Owners: none

fix: remove annoying deref in lazy seq warning (#14033)
  src/status_im/ui/screens/chat/message/reactions_picker.cljs
Owners: none

fix quo2 colors
  src/quo2/components/avatars/avatar_themes.cljs
  src/quo2/components/avatars/group_avatar.cljs
  src/quo2/components/avatars/icon_avatar.cljs
  src/quo2/components/avatars/user_avatar.cljs
  src/quo2/components/avatars/wallet_user_avatar.cljs
  src/quo2/components/dividers/new_messages.cljs
  src/quo2/components/tags/token_tag.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/avatars/group_avatar.cljs
  src/quo2/screens/avatars/icon_avatar.cljs
  src/quo2/screens/avatars/user_avatar.cljs
  src/quo2/screens/avatars/wallet_user_avatar.cljs
  src/quo2/screens/buttons/button.cljs
  src/quo2/screens/counter/counter.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/markdown/text.cljs
  src/quo2/screens/reactions/react.cljs
  src/quo2/screens/tabs/segmented_tab.cljs
  src/quo2/screens/tabs/tabs.cljs
  src/quo2/screens/tags/token_tag.cljs
  src/quo2/screens/wallet/token_overview.cljs
  src/status_im/ui/screens/profile/visibility_status/utils.cljs
Owners: none

fix quo2 colors (#14006)
  src/quo2/components/avatars/avatar_themes.cljs
  src/quo2/components/avatars/group_avatar.cljs
  src/quo2/components/avatars/icon_avatar.cljs
  src/quo2/components/avatars/user_avatar.cljs
  src/quo2/components/avatars/wallet_user_avatar.cljs
  src/quo2/components/dividers/new_messages.cljs
  src/quo2/components/tags/token_tag.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/avatars/group_avatar.cljs
  src/quo2/screens/avatars/icon_avatar.cljs
  src/quo2/screens/avatars/user_avatar.cljs
  src/quo2/screens/avatars/wallet_user_avatar.cljs
  src/quo2/screens/buttons/button.cljs
  src/quo2/screens/counter/counter.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/markdown/text.cljs
  src/quo2/screens/reactions/react.cljs
  src/quo2/screens/tabs/segmented_tab.cljs
  src/quo2/screens/tabs/tabs.cljs
  src/quo2/screens/tags/token_tag.cljs
  src/quo2/screens/wallet/token_overview.cljs
  src/status_im/ui/screens/profile/visibility_status/utils.cljs
Owners: none

Implementation of switcher cards
  resources/images/mock/community-banner@2x.png
  resources/images/mock/community-logo@2x.png
  resources/images/mock/gif@2x.png
  resources/images/mock/photo1@2x.png
  resources/images/mock/photo2@2x.png
  resources/images/mock/photo3@2x.png
  resources/images/mock/sticker@2x.png
  src/quo2/components/avatars/channel_avatar.cljs
  src/quo2/components/counter/counter.cljs
  src/quo2/components/list_items/preview_list.cljs
  src/quo2/components/switcher/styles.cljs
  src/quo2/components/switcher/switcher_cards.cljs
  src/quo2/components/tags/status_tags.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/list_items/preview_lists.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/switcher/switcher_cards.cljs
  src/status_im/react_native/resources.cljs
  translations/en.json
Owners: none

Implementation of switcher cards (#13854)
  resources/images/mock/community-banner@2x.png
  resources/images/mock/community-logo@2x.png
  resources/images/mock/gif@2x.png
  resources/images/mock/photo1@2x.png
  resources/images/mock/photo2@2x.png
  resources/images/mock/photo3@2x.png
  resources/images/mock/sticker@2x.png
  src/quo2/components/avatars/channel_avatar.cljs
  src/quo2/components/counter/counter.cljs
  src/quo2/components/list_items/preview_list.cljs
  src/quo2/components/switcher/styles.cljs
  src/quo2/components/switcher/switcher_cards.cljs
  src/quo2/components/tags/status_tags.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/list_items/preview_lists.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/switcher/switcher_cards.cljs
  src/status_im/react_native/resources.cljs
  translations/en.json
Owners: none

fix: comment out context tag in communities redesign as its causing issues
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/request_to_join_bottom_sheet_redesign.cljs
Owners: none

fix: comment out context tag in communities redesign as its causing issues (#14029)
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/request_to_join_bottom_sheet_redesign.cljs
Owners: none

Display contact requests
  resources/images/icons/add_user16@2x.png
  resources/images/icons/add_user16@3x.png
  resources/images/icons/add_user20@2x.png
  resources/images/icons/add_user20@3x.png
  src/quo2/components/tags/status_tags.cljs
  src/quo2/screens/tags/status_tags.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/utils/datetime.cljs
  src/status_im/utils/datetime_test.cljs
  translations/en.json
Owners: none

Refactor timestamp->relative and add more tests
  src/status_im/utils/datetime.cljs
  src/status_im/utils/datetime_test.cljs
Owners: none

Upgrade clj-kondo to latest version
  Makefile
  package.json
  yarn.lock
Owners: none

Dummy commit to see if build cache is affected
  src/status_im/ui/screens/activity_center/views.cljs
Owners: none

[#13964 #13962] Display contact requests (#14014)
  Makefile
  package.json
  resources/images/icons/add_user16@2x.png
  resources/images/icons/add_user16@3x.png
  resources/images/icons/add_user20@2x.png
  resources/images/icons/add_user20@3x.png
  src/quo2/components/tags/status_tags.cljs
  src/quo2/screens/tags/status_tags.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/utils/datetime.cljs
  src/status_im/utils/datetime_test.cljs
  translations/en.json
  yarn.lock
Owners: none

bump keycard module
  package.json
  yarn.lock
Owners: none

e2e: fixed failing e2e
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/tests/critical/test_pairing_devices_sync.py
  test/appium/tests/medium/test_activity_center.py
  test/appium/tests/medium/test_browser_profile.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_pairing_devices_sync_m.py
  test/appium/tests/medium/test_profile_m.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/elements_templates/logo_chats_view_2.png
Owners: @churik

nix: drop KEYSTORE_PATH from extra-sandbox-paths
  scripts/build-android.sh
Owners: @jakubgs

nix: drop KEYSTORE_PATH from extra-sandbox-paths
  scripts/build-android.sh
Owners: @jakubgs

Migrate to API 31 for android
  android/app/src/main/AndroidManifest.xml
  android/gradle.properties
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/ForegroundService.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/PushNotificationHelper.java
  nix/pkgs/android-sdk/compose.nix
Owners: @jakubgs

ci: drop commonPrep function, call individual ones
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/Jenkinsfile.tests
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
Owners: @jakubgs

ci: add wait for GitHub release to appear
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/Jenkinsfile.tests
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
Owners: @jakubgs

Migrate to API 31 for android (#14032)
  android/app/src/main/AndroidManifest.xml
  android/gradle.properties
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/ForegroundService.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/PushNotificationHelper.java
  nix/pkgs/android-sdk/compose.nix
Owners: @jakubgs

https://github.com/status-im/status-go/compare/a182f3e6...d5497e7f
  status-go-version.json
Owners: none

add account-selector component to sandbox
  src/quo2/components/tabs/account_selector.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/tabs/account_selector.cljs
Owners: none

add account-selector component to sandbox (#13816)
  src/quo2/components/tabs/account_selector.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/tabs/account_selector.cljs
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik
