Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik

Reacts and images
  resources/images/icons/add_reaction20@2x.png
  resources/images/icons/add_reaction20@3x.png
  resources/images/icons/angry16@2x.png
  resources/images/icons/angry16@3x.png
  resources/images/icons/laugh16@2x.png
  resources/images/icons/laugh16@3x.png
  resources/images/icons/love16@2x.png
  resources/images/icons/love16@3x.png
  resources/images/icons/sad16@2x.png
  resources/images/icons/sad16@3x.png
  resources/images/icons/thumbs_down16@2x.png
  resources/images/icons/thumbs_down16@3x.png
  resources/images/icons/thumbs_up16@2x.png
  resources/images/icons/thumbs_up16@3x.png
  src/quo2/screens/main.cljs
Owners: none

e2e: update six
  test/appium/requirements.txt
Owners: @churik

[13524] React component (#13631)
  resources/images/icons/add_reaction20@2x.png
  resources/images/icons/add_reaction20@3x.png
  resources/images/icons/angry16@2x.png
  resources/images/icons/angry16@3x.png
  resources/images/icons/laugh16@2x.png
  resources/images/icons/laugh16@3x.png
  resources/images/icons/love16@2x.png
  resources/images/icons/love16@3x.png
  resources/images/icons/sad16@2x.png
  resources/images/icons/sad16@3x.png
  resources/images/icons/thumbs_down16@2x.png
  resources/images/icons/thumbs_down16@3x.png
  resources/images/icons/thumbs_up16@2x.png
  resources/images/icons/thumbs_up16@3x.png
  src/quo2/components/reacts.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/reacts.cljs
Owners: none

Lint
  src/quo2/components/context_tags.cljs
Owners: none

Lint
  src/quo2/components/context_tags.cljs
  src/quo2/screens/context_tags.cljs
Owners: none

Fix crash when selecting avatar in context tags (#13923)
  src/quo2/components/context_tags.cljs
  src/quo2/screens/context_tags.cljs
Owners: none

keycard confirm seed phrase screen remove back button
  src/status_im/ui/screens/keycard/onboarding/views.cljs
Owners: none

remove event
  src/status_im/keycard/onboarding.cljs
Owners: none

keycard confirm seed phrase screen remove back button (#13934)
  src/status_im/keycard/onboarding.cljs
  src/status_im/ui/screens/keycard/onboarding/views.cljs
Owners: none

[#13894] Update activity indicator on removed contact request
  src/status_im/contact/core.cljs
Owners: none

[#13894] Update activity indicator on removed contact request
  status-go-version.json
Owners: none

fix keycard redundant screen
  src/status_im/ui/screens/keycard/onboarding/views.cljs
Owners: none

fix keycard redundant screen (#13922)
  src/status_im/ui/screens/keycard/onboarding/views.cljs
Owners: none

Reduce recording time to 1 minute
  src/status_im/ui/screens/chat/audio_message/views.cljs
  test/appium/tests/critical/chats/test_1_1_public_chats.py
Owners: @churik

[#11335] Use Pokt network as an infura replacement
  src/status_im/utils/config.cljs
Owners: none

Reduce recording time to 1 minute (#13944)
  src/status_im/ui/screens/chat/audio_message/views.cljs
  test/appium/tests/critical/chats/test_1_1_public_chats.py
Owners: @churik

Update translation (#13938)
  translations/hi.json
  translations/ja.json
  translations/pt_BR.json
  translations/ru.json
Owners: none

[#13894] Update activity indicator on removed contact request
  src/status_im/contact/core.cljs
Owners: none

[#13894] Update activity indicator on removed contact request nhttps://github.com/status-im/status-go/compare/e5408fa9...e5408fa9
  status-go-version.json
Owners: none

Reduce recording time to 1 minute (#13944)
  src/status_im/ui/screens/chat/audio_message/views.cljs
  test/appium/tests/critical/chats/test_1_1_public_chats.py
Owners: @churik

Update translation (#13938)
  translations/hi.json
  translations/ja.json
  translations/pt_BR.json
  translations/ru.json
Owners: none

[13857] Extend integration tests to recover multiaccount from seed phrase
  src/mocks/js_dependencies.cljs
  src/status_im/integration_test.cljs
  src/status_im/utils/test.cljs
Owners: none

add status nim fleets
  resources/config/fleets.json
Owners: none

remove websocket addresses from fleet config
  resources/config/fleets.json
Owners: none

use waku keyword nesting node addresses
  resources/config/fleets.json
Owners: none

add comment
  src/status_im/node/core.cljs
Owners: none

ci: do not upload release builds to Diawi
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
Owners: @jakubgs

ci: do not upload release builds to Diawi
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
Owners: @jakubgs

feat: network amount component and example screen (#13852)
  resources/images/icons/arbitrum12@2x.png
  resources/images/icons/arbitrum12@3x.png
  resources/images/icons/ethereum12@2x.png
  resources/images/icons/ethereum12@3x.png
  resources/images/icons/optimism12@2x.png
  resources/images/icons/optimism12@3x.png
  resources/images/icons/zksync12@2x.png
  resources/images/icons/zksync12@3x.png
  src/quo2/components/network_amount.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/network_amount.cljs
Owners: none

feat: add community overview page
  resources/images/ui/coinbase-community-background@2x.png
  resources/images/ui/coinbase_community-background@3x.png
  src/quo2/components/community/community_card_view.cljs
  src/status_im/subs.cljs
  src/status_im/switcher/home_stack.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui/screens/screens.cljs
  translations/en.json
Owners: none

feat: add community overview page (#13945)
  resources/images/ui/coinbase-community-background@2x.png
  resources/images/ui/coinbase_community-background@3x.png
  src/quo2/components/community/community_card_view.cljs
  src/status_im/subs.cljs
  src/status_im/switcher/home_stack.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui/screens/screens.cljs
  translations/en.json
Owners: none

e2e: remove web3 dependencies
  test/appium/requirements.txt
  test/appium/support/api/network_api.py
  test/appium/support/api/web3_api.py
  test/appium/tests/conftest.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/base_view.py
  test/appium/views/web_views/status_test_dapp.py
Owners: @churik

Improve activity log component
  shadow-cljs.edn
  src/quo2/components/notifications/activity_logs.cljs
  src/quo2/components/tags/context_tags.cljs
  src/quo2/components/tags/status_tags.cljs
  src/quo2/screens/notifications/activity_logs.cljs
Owners: none

Let the preview area extend to the max width available
  src/quo2/screens/notifications/activity_logs.cljs
Owners: none

Correctly handle titles spanning more than 1 line
  src/quo2/components/notifications/activity_logs.cljs
Owners: none

chore: restructure quo2 menu page
  src/quo2/screens/main.cljs
Owners: none

chore: restructure quo2 menu page (#13959)
  src/quo2/screens/main.cljs
Owners: none

[#13855] Fix contact request decision status on Sync All
  status-go-version.json
Owners: none

[#13855] Fix contact request decision status on Sync All
  status-go-version.json
Owners: none

fix: resolve token ens name in EIP-681 links from qr code
  src/status_im/ethereum/eip681.cljs
  src/status_im/ethereum/eip681_test.cljs
  src/status_im/ui/screens/qr_scanner/views.cljs
Owners: none
