Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @status-im/status-core, @jakubgs, @PombeirP, @status-im/status-core-ui, @vkjr, @oskarth, @mandrigin, @yenda, @jeluard, @antdanchenko, @churik

Prepare to use status-go based protocol: 1-1 and public chat management APIs.
  .env
  src/status_im/chat/models.cljs
  src/status_im/chat/models/loading.cljs
  src/status_im/ethereum/json_rpc.cljs
  src/status_im/signals/core.cljs
  src/status_im/utils/config.cljs
  src/status_im/utils/fx.cljs
  test/cljs/status_im/test/chat/models.cljs
Owners: @jakubgs, @status-im/status-core, @antdanchenko, @churik

[fix] on-result event for in app transactions
  src/status_im/wallet/core.cljs
Owners: @status-im/status-core

[refactor] transaction details
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/wallet/transactions/events.cljs
Owners: @status-im/status-core

[performance] improve wallet update performances
  src/status_im/utils/ethereum/contracts.cljs
Owners: @status-im/status-core

[refactor] remove ethereum `call` and `call-params`
  src/status_im/ethereum/abi_spec.cljs
  src/status_im/utils/ethereum/ens.cljs
  src/status_im/utils/ethereum/erc721.cljs
Owners: @status-im/status-core

[refactor] move utils.ethereum to ethereum
  src/status_im/utils/ethereum/core.cljs
  src/status_im/utils/ethereum/ens.cljs
  src/status_im/utils/ethereum/erc721.cljs
  test/cljs/status_im/test/utils/ethereum/core.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[Fixes #8066] Added native ENS registration
  src/status_im/utils/ethereum/core.cljs
  test/cljs/status_im/test/utils/ethereum/core.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

Connect and persist usernames
  src/status_im/ethereum/core.cljs
  src/status_im/ethereum/ens.cljs
  src/status_im/ethereum/stateofus.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/ens/events.cljs
  src/status_im/ui/screens/ens/views.cljs
  src/status_im/wallet/core.cljs
  test/cljs/status_im/test/ethereum/stateofus.cljs
  test/cljs/status_im/test/runner.cljs
  translations/en.json
Owners: @status-im/status-core, @antdanchenko, @churik

[Fixes #8066] Added native ENS registration
  env/dev/env/config.cljs
  src/status_im/ethereum/core.cljs
  src/status_im/ethereum/stateofus.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/ens/events.cljs
  src/status_im/ui/screens/ens/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/ui/screens/routing/profile_stack.cljs
  src/status_im/ui/screens/routing/screens.cljs
Owners: @status-im/status-core

Add scroll on wallet
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/views/wallet_view.py
Owners: @antdanchenko, @churik

[feature] allow internal transaction to specify asset
  src/status_im/ui/screens/wallet/send/events.cljs
  src/status_im/ui/screens/wallet/send/views.cljs
Owners: @status-im/status-core

WIP Scan qr code error dismiss with no redirect. Still need to change contact/core.cljs
  env/dev/env/config.cljs
  src/status_im/events.cljs
  src/status_im/qr_scanner/core.cljs
  src/status_im/ui/screens/add_new/models.cljs
  src/status_im/ui/screens/events.cljs
  src/status_im/ui/screens/qr_scanner/views.cljs
Owners: @status-im/status-core

[feature] add basic decoding support for swarm
  src/status_im/ethereum/ens.cljs
  src/status_im/utils/contenthash.cljs
  test/cljs/status_im/test/utils/contenthash.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[feature] add transaction watch
  src/status_im/ethereum/subscriptions.cljs
  src/status_im/ethereum/transactions/core.cljs
Owners: @status-im/status-core

[fix] destructuring in events for fx/defn macro
  src/status_im/utils/fx.clj
  test/cljs/status_im/test/utils/fx.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[Android, iOS] Advanced ClojureScript compilation
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  externs.js
  project.clj
  src/status_im/ethereum/abi_spec.cljs
  src/status_im/hardwallet/core.cljs
  src/status_im/i18n.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/wallet/send/events.cljs
  src/status_im/utils/datetime.cljs
  test/cljs/status_im/test/utils/datetime.cljs
Owners: @jakubgs, @status-im/status-core, @antdanchenko, @churik

Make suggested gas 1 if less than 1
  src/status_im/wallet/core.cljs
Owners: @status-im/status-core

fixes #6573
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/im/status/ethereum/MainApplication.java
  android/settings.gradle
  clj-rn.conf.edn
  ios/Podfile
  ios/Podfile.lock
  ios/StatusIm/Info.plist
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java
  modules/react-native-status/ios/RCTStatus/RCTStatus.h
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  react-native/src/desktop/status_im/react_native/js_dependencies.cljs
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  src/status_im/accounts/core.cljs
  src/status_im/accounts/login/core.cljs
  src/status_im/biometric_auth/core.cljs
  src/status_im/constants.cljs
  src/status_im/events.cljs
  src/status_im/init/core.cljs
  src/status_im/native_module/core.cljs
  src/status_im/native_module/impl/module.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/events.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/utils/keychain/core.cljs
  test/cljs/status_im/react_native/js_dependencies.cljs
  translations/en.json
Owners: @status-im/status-core, @vkjr, @antdanchenko, @churik

e2e for sync chats and profile
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/views/profile_view.py
Owners: @antdanchenko, @churik

[fix] event transfer hash turned into a function
  src/status_im/constants.cljs
Owners: @status-im/status-core

Remove unused fields in chats dictionary.
  src/status_im/data_store/chats.cljs
  src/status_im/data_store/realm/schemas/account/chat.cljs
  src/status_im/data_store/realm/schemas/account/core.cljs
  test/cljs/status_im/test/sign_in/data.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

[developerXP] remove warning for asyncstorage
  desktop_files/package.json.orig
  desktop_files/yarn.lock
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  src/status_im/core.cljs
Owners: @vkjr, @status-im/status-core

[fix] remove unused libraries
  desktop_files/package.json.orig
  desktop_files/yarn.lock
  ios/Podfile.lock
  ios/StatusIm.xcodeproj/project.pbxproj
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  src/status_im/utils/identicon.cljs
Owners: @vkjr, @status-im/status-core

fix react-navigation version
  mobile_files/package.json.orig
  mobile_files/yarn.lock
Owners: @status-im/status-core

update react-native-dialogs to fix bundling?
  mobile_files/package.json.orig
  mobile_files/yarn.lock
Owners: @status-im/status-core

update open-login-callback after fx/def macro fix
  externs.js
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  src/status_im/accounts/login/core.cljs
Owners: @status-im/status-core

remove useless field in message subs
  src/status_im/chat/db.cljs
  test/cljs/status_im/test/chat/db.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

Add TtT chat flow
  doc/decisions/0013-tribute-to-talk.md
  src/status_im/chat/commands/core.cljs
  src/status_im/chat/commands/impl/transactions.cljs
  src/status_im/chat/models.cljs
  src/status_im/chat/models/message.cljs
  src/status_im/contact/core.cljs
  src/status_im/contact/db.cljs
  src/status_im/data_store/contacts.cljs
  src/status_im/data_store/realm/schemas/account/contact.cljs
  src/status_im/data_store/realm/schemas/account/core.cljs
  src/status_im/ethereum/contracts.cljs
  src/status_im/ethereum/core.cljs
  src/status_im/events.cljs
  src/status_im/subs.cljs
  src/status_im/transport/filters.cljs
  src/status_im/transport/message/protocol.cljs
  src/status_im/tribute_to_talk/core.cljs
  src/status_im/tribute_to_talk/db.cljs
  src/status_im/tribute_to_talk/subs.cljs
  src/status_im/tribute_to_talk/whitelist.cljs
  src/status_im/ui/components/chat_icon/screen.cljs
  src/status_im/ui/components/qr_code_viewer/views.cljs
  src/status_im/ui/screens/chat/message/gap.cljs
  src/status_im/ui/screens/chat/photos.cljs
  src/status_im/ui/screens/chat/styles/main.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/home/views/inner_item.cljs
  src/status_im/ui/screens/profile/contact/views.cljs
  src/status_im/ui/screens/profile/tribute_to_talk/styles.cljs
  src/status_im/ui/screens/profile/tribute_to_talk/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  test/cljs/status_im/test/runner.cljs
  test/cljs/status_im/test/tribute_to_talk/core.cljs
  test/cljs/status_im/test/tribute_to_talk/db.cljs
  test/cljs/status_im/test/tribute_to_talk/whitelist.cljs
  translations/en.json
  translations/ko.json
Owners: @oskarth, @mandrigin, @yenda, @jeluard, @status-im/status-core, @antdanchenko, @churik

[perf] use objectForPrimaryKey instead of getByField
  src/status_im/data_store/browser.cljs
  src/status_im/data_store/chats.cljs
  src/status_im/data_store/contact_recovery.cljs
  src/status_im/data_store/contacts.cljs
  src/status_im/data_store/dapp_permissions.cljs
  src/status_im/data_store/mailservers.cljs
  src/status_im/data_store/messages.cljs
  src/status_im/data_store/transport.cljs
Owners: @status-im/status-core

[perf] small perf improvement for nested-text
  components/src/status_im/ui/components/react.cljs
Owners: @status-im/status-core-ui

[fix] externs for Preview Privacy Mode
  externs.js
Owners: @status-im/status-core

[perf] remove unused schemas and properties
  src/status_im/data_store/core.cljs
  src/status_im/data_store/local_storage.cljs
  src/status_im/data_store/realm/schemas/account/core.cljs
  src/status_im/data_store/realm/schemas/account/transport.cljs
  src/status_im/data_store/transport.cljs
  src/status_im/transport/db.cljs
  test/cljs/status_im/test/sign_in/data.cljs
Owners: @status-im/status-core, @antdanchenko, @churik

always checkout to status-react folder
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.linux
  ci/Jenkinsfile.macos
  ci/Jenkinsfile.nix-cache
  ci/Jenkinsfile.windows
  ci/android.groovy
  ci/ios.groovy
  ci/nix.groovy
  ci/utils.groovy
Owners: @jakubgs

[perf] upgrade realm and improve schemas/queries
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  src/status_im/chat/core.cljs
  src/status_im/chat/db.cljs
  src/status_im/chat/models.cljs
  src/status_im/chat/models/loading.cljs
  src/status_im/chat/models/message.cljs
  src/status_im/chat/specs.cljs
  src/status_im/contact/block.cljs
  src/status_im/data_store/contacts.cljs
  src/status_im/data_store/messages.cljs
  src/status_im/data_store/realm/schemas/account/core.cljs
  src/status_im/data_store/realm/schemas/account/message.cljs
  src/status_im/data_store/realm/schemas/account/migrations.cljs
  src/status_im/data_store/user_statuses.cljs
  src/status_im/events.cljs
  src/status_im/subs.cljs
  src/status_im/transport/message/core.cljs
  src/status_im/transport/message/protocol.cljs
  src/status_im/transport/message/transit.cljs
  src/status_im/ui/screens/chat/bottom_info.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/desktop/main/chat/views.cljs
  test/cljs/status_im/test/chat/db.cljs
  test/cljs/status_im/test/chat/models.cljs
  test/cljs/status_im/test/chat/models/message.cljs
  test/cljs/status_im/test/transport/core.cljs
Owners: @status-im/status-core, @vkjr, @antdanchenko, @churik

[fix][perf] fix typography on android
  components/src/status_im/ui/components/react.cljs
  src/status_im/ui/components/typography.cljs
Owners: @status-im/status-core-ui, @status-im/status-core

[fix] last message preview
  src/status_im/ui/screens/home/views/inner_item.cljs
Owners: @status-im/status-core

[#6517] fix chat preview amount ios
  src/status_im/chat/commands/impl/transactions.cljs
Owners: @status-im/status-core

temporary for for realm issues
  android/app/build.gradle
Owners: @status-im/status-core

[perf] Move translation to node_modules in release build
  .gitignore
  Makefile
  build.clj
  ci/common.groovy
  clj-rn.conf.edn
  dev/status_im/i18n_resources.cljs
  prod/status_im/i18n_resources.cljs
  project.clj
  src/status_im/android/core.cljs
  src/status_im/i18n.cljs
  src/status_im/ios/core.cljs
  status-modules/package.json
  test/cljs/status_im/test/i18n.cljs
Owners: @status-im/status-core, @jakubgs, @antdanchenko, @churik

wallet module
  .gitignore
  Makefile
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  ci/utils.groovy
  externs.js
  params.edn
  params_prod.edn
  prepare-modules.js
  project.clj
  src/status_im/chat/commands/impl/transactions.cljs
  src/status_im/modules.clj
  src/status_im/ui/screens/browser/open_dapp/views.cljs
  src/status_im/ui/screens/events.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/routing/screens.cljs
  src/status_im/ui/screens/wallet/choose_recipient/events.cljs
  src/status_im/ui/screens/wallet/choose_recipient/request_details.cljs
  src/status_im/ui/screens/wallet/collectibles/cryptokitties/views.cljs
  src/status_im/ui/screens/wallet/collectibles/cryptostrikers/views.cljs
  src/status_im/ui/screens/wallet/collectibles/etheremon/views.cljs
  src/status_im/ui/screens/wallet/collectibles/events.cljs
  src/status_im/ui/screens/wallet/collectibles/kudos/views.cljs
  src/status_im/ui/screens/wallet/collectibles/superrare/views.cljs
  src/status_im/ui/screens/wallet/core.cljs
Owners: @status-im/status-core, @jakubgs

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @status-im/status-core

/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @PombeirP @jakubgs
/nix        @PombeirP @jakubgs
/.github/   @PombeirP @jakubgs

/components @status-im/status-core-ui

desktop/                        @vkjr
/desktop_files                  @vkjr
modules/react-native-desktop*/  @vkjr
modules/react-native-desktop*/  @vkjr

/doc        @oskarth @mandrigin @yenda @jeluard

/deployment @vkjr @PombeirP

/test    @antdanchenko @churik
