Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik

refactor
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

refactor
  src/quo2/components/list_items/received_contact_request.cljs
  src/status_im/multiaccounts/core.cljs
  src/status_im/ui2/screens/chat/home.cljs
Owners: none

refactor
  src/status_im/multiaccounts/core.cljs
Owners: none

lint
  translations/en.json
Owners: none

refactor
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

lint
  src/status_im/ui2/screens/chat/messages/message.cljs
Owners: none

refacotr
  src/status_im/ui2/screens/chat/components/reaction_drawer.cljs
Owners: none

Unpin messages (#14204)
  Makefile
  src/quo2/components/list_items/received_contact_request.cljs
  src/status_im/chat/models/pin_message.cljs
  src/status_im/constants.cljs
  src/status_im/multiaccounts/core.cljs
  src/status_im/subs/chat/messages.cljs
  src/status_im/subs/root.cljs
  src/status_im/ui/screens/chat/components/edit.cljs
  src/status_im/ui/screens/chat/components/style.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
  src/status_im/ui/screens/chat/utils.cljs
  src/status_im/ui2/screens/chat/components/reaction_drawer.cljs
  src/status_im/ui2/screens/chat/components/reply.cljs
  src/status_im/ui2/screens/chat/composer/input.cljs
  src/status_im/ui2/screens/chat/composer/style.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/messages/pinned_message.cljs
  src/status_im/ui2/screens/chat/messages/style.cljs
  src/status_im/ui2/screens/chat/messages/view.cljs
  src/status_im/ui2/screens/chat/view.cljs
  status-go-version.json
  translations/en.json
Owners: none

Fix message showing behind message composer
  src/status_im/ui2/screens/chat/composer/view.cljs
Owners: none

Fix message showing behind message composer (#14238)
  src/status_im/ui2/screens/chat/composer/view.cljs
Owners: none

new ui e2e: reaction and text message in 1-1
  ci/tests/Jenkinsfile.e2e-nightly
  ci/tests/Jenkinsfile.e2e-prs
  test/appium/support/testrail_report.py
  test/appium/tests/__init__.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/marks.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/home_view.py
  test/appium/views/sign_in_view.py
Owners: @jakubgs, @churik

[#14230] Load newly received messages on reopening chat (ISSUE 1)
  src/status_im/chat/models.cljs
  src/status_im/chat/models_test.cljs
Owners: none

[Fixes] Activity Center UI Issues
  src/status_im/ui/components/topnav.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui2/screens/chat/home.cljs
Owners: none

[Chore] Lint Fixes
  src/status_im/ui/screens/activity_center/views.cljs
Owners: none

Activity Center UI Fixes (#14244)
  src/status_im/ui/components/topnav.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui2/screens/chat/home.cljs
Owners: none

[#14230] Reset :current-chat-id on pressing back from chat screen
  src/status_im/ui2/screens/chat/view.cljs
Owners: none

Add chat actions in home screen
  src/quo2/components/drawers/action_drawers.cljs
  src/quo2/screens/drawers/action_drawers.cljs
  src/status_im/chat/models.cljs
  src/status_im/integration_test.cljs
  src/status_im/ui2/screens/chat/actions.cljs
  src/status_im/ui2/screens/chat/home.cljs
  translations/en.json
Owners: none

Implement positive button state
  src/quo2/components/buttons/button.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/buttons/button.cljs
Owners: none

Implement positive button state (#14252)
  src/quo2/components/buttons/button.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/buttons/button.cljs
Owners: none

Fix tests using with-redefs
  src/status_im/activity_center/core_test.cljs
  src/status_im/data_store/activities_test.cljs
Owners: none

Fix unbounded number of calls to fetch notifications
  src/status_im/activity_center/core_test.cljs
  src/status_im/data_store/activities.cljs
  src/status_im/data_store/activities_test.cljs
Owners: none

Fix unbounded number of calls to fetch notifications (#14250)
  src/status_im/activity_center/core_test.cljs
  src/status_im/data_store/activities.cljs
  src/status_im/data_store/activities_test.cljs
Owners: none

fix: test/appium/requirements.txt to reduce vulnerabilities
  test/appium/requirements.txt
Owners: @churik

Fix typo (replace backtick with apostrophe)
  translations/en.json
Owners: none

e2e: non-latin
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/views/chat_view.py
  test/appium/views/elements_templates/member.png
  test/appium/views/profile_view.py
Owners: @churik

fix: test/appium/requirements.txt to reduce vulnerabilities
  test/appium/requirements.txt
Owners: @churik

Fix typo (replace backtick with apostrophe) (#14255)
  translations/en.json
Owners: none

Display last sent message on chats screen
  src/status_im/ui/screens/home/views/inner_item.cljs
Owners: none

Add members key to the chat-preview flow to show members of a group chat on open
  src/status_im/data_store/chats.cljs
  src/status_im/group_chats/db.cljs
  src/status_im/ui/screens/home/views/inner_item.cljs
  status-go-version.json
Owners: none

Lint :)
  src/status_im/group_chats/db.cljs
Owners: none

Fix Initial case of creating a group
  src/status_im/group_chats/db.cljs
  src/status_im/ui/screens/home/views/inner_item.cljs
Owners: none

Fix collection
  src/status_im/group_chats/db.cljs
  src/status_im/ui/screens/home/views/inner_item.cljs
Owners: none

Lint
  src/status_im/group_chats/db.cljs
Owners: none

Add `code-snippet` component
  android/app/src/main/assets/fonts/UbuntuMono-Regular.ttf
  ios/StatusIm.xcodeproj/project.pbxproj
  ios/StatusIm/Info.plist
  ios/StatusImPR/Info.plist
  package.json
  resources/fonts/UbuntuMono-Regular.ttf
  src/quo2/components/code/snippet.cljs
  src/quo2/components/markdown/text.cljs
  src/quo2/foundations/typography.cljs
  src/quo2/screens/code/snippet.cljs
  src/quo2/screens/main.cljs
  yarn.lock
Owners: none

Refactoring
  src/quo2/components/code/snippet.cljs
  src/quo2/screens/code/snippet.cljs
Owners: none

fix: test/appium/requirements.txt to reduce vulnerabilities
  test/appium/requirements.txt
Owners: @churik

New icons (icons2) not working in token-tag component #14277
  resources/images/icons2/12x12/Hold@2x.png
  resources/images/icons2/12x12/Hold@3x.png
  src/quo2/components/tags/token_tag.cljs
Owners: none

New icons (icons2) not working in token-tag component #14277 (#14280)
  resources/images/icons2/12x12/Hold@2x.png
  resources/images/icons2/12x12/Hold@3x.png
  src/quo2/components/tags/token_tag.cljs
Owners: none

Format numbers
  src/status_im/utils/number.cljs
  src/status_im/utils/number_test.cljs
Owners: none

Format numbers helper (#14186)
  src/status_im/utils/number.cljs
  src/status_im/utils/number_test.cljs
Owners: none
