Repository status-im/status-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jakubgs, @status-im/status-core-ui, @churik

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
/ci                 @jakubgs
/fastlane           @jakubgs
/scripts            @jakubgs
/.env*              @jakubgs
/.TOOLVERSIONS      @jakubgs
/STATUS_GO_*        @jakubgs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Nix files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.nix       @jakubgs
/nix        @jakubgs
/.github/   @jakubgs

/components @status-im/status-core-ui

/test/appium/ @churik

Better height
  src/quo2/components/info/nfc_prompt.cljs
  src/quo2/screens/main.cljs
Owners: none

ci: bump jenkins lib to use generalized nix library
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/Jenkinsfile.tests
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
Owners: @jakubgs

Fix ENS name display
  src/status_im/chat/models/mentions.cljs
  src/status_im/ui/screens/chat/components/input.cljs
Owners: none

Update starting guide doc
  doc/STARTING_GUIDE.md
Owners: none

Fix bad placement of tut
  doc/STARTING_GUIDE.md
Owners: none

formatting and style fixes
  doc/STARTING_GUIDE.md
Owners: none

[#14021] Add goerli geth.log to logs archive on iOS
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
Owners: none

e2e: dbs, improvements
  test/appium/support/testrail_report.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/onboarding/test_onboarding_flows.py
  test/appium/tests/critical/test_public_chat_browsing.py
  test/appium/tests/critical/wallet_and_tx/test_send_tx_dapp_keycard.py
  test/appium/tests/medium/test_activity_center.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
  test/appium/tests/medium/test_pairing_devices_sync_m.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/base_element.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/dbs/dapps/export.db
  test/appium/views/profile_view.py
  test/appium/views/sign_in_view.py
  test/appium/views/wallet_view.py
  test/appium/views/web_views/base_web_view.py
Owners: @churik

Renamed filter-tag/filter-tags to tag/tags and refactored token-tag tag to match figma naming
  src/quo2/components/community/community_view.cljs
  src/quo2/components/tags/filter_tag.cljs
  src/quo2/components/tags/tag.cljs
  src/quo2/components/tags/tags.cljs
  src/quo2/components/tags/token_tag.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/tags/permission_tag.cljs
  src/quo2/screens/tags/tags.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
Owners: none

Renamed filter-tag/filter-tags to tag/tags and refactored token-tag tag to match figma naming (#14028)
  src/quo2/components/community/community_view.cljs
  src/quo2/components/tags/filter_tag.cljs
  src/quo2/components/tags/tag.cljs
  src/quo2/components/tags/tags.cljs
  src/quo2/components/tags/token_tag.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/tags/permission_tag.cljs
  src/quo2/screens/tags/tags.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
Owners: none

Implement account selector in manage app connection and persist when offline
  src/status_im/network/net_info.cljs
  src/status_im/ui/screens/wallet/manage_connections/views.cljs
  src/status_im/wallet_connect_legacy/core.cljs
Owners: none

add adb link
  doc/STARTING_GUIDE.md
Owners: none

Update starting guide doc (#14107)
  doc/STARTING_GUIDE.md
Owners: none

FlatList extra-data should receive a string
  src/quo2/components/tabs/tabs.cljs
Owners: none

Make branch compatible with unmerged PR that introduces masked-view
  src/mocks/js_dependencies.cljs
  src/quo/react_native.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/ui/components/react.cljs
Owners: none

Move styles to style map
  src/quo2/components/tabs/tabs.cljs
Owners: none

Implement tab bar with filters
  resources/images/icons/close20@2x.png
  resources/images/icons/close20@3x.png
  resources/images/icons/unread20@2x.png
  resources/images/icons/unread20@3x.png
  src/quo/react_native.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/subs/activity_center.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  translations/en.json
Owners: none

Remove error about flat-list key not being a string
  src/quo2/components/tabs/tabs.cljs
Owners: none

Use oops.core/oget
  src/quo2/components/tabs/tabs.cljs
Owners: none

Extract scrollable tabs to separate component
  src/quo2/components/tabs/tabs.cljs
  src/status_im/ui/screens/activity_center/views.cljs
Owners: none

Reduce amount of re-rendering
  src/quo2/components/tabs/tabs.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/utils/number.cljs
Owners: none

[#13967] Displays filtering tabs and read/unread filter (#14105)
  resources/images/icons/close20@2x.png
  resources/images/icons/close20@3x.png
  resources/images/icons/unread20@2x.png
  resources/images/icons/unread20@3x.png
  src/mocks/js_dependencies.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/subs/activity_center.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/utils/number.cljs
  translations/en.json
Owners: none

Fix ENS name display
  src/status_im/chat/models/mentions.cljs
  src/status_im/ui/screens/chat/components/input.cljs
Owners: none

remove ens banner component
  src/status_im/events.cljs
  src/status_im/ui/screens/home/views.cljs
  translations/en.json
  translations/hi.json
  translations/ja.json
  translations/pt_BR.json
  translations/ru.json
Owners: none

remove ens banner component (#14112)
  src/status_im/events.cljs
  src/status_im/ui/screens/home/views.cljs
  translations/en.json
  translations/hi.json
  translations/ja.json
  translations/pt_BR.json
  translations/ru.json
Owners: none

e2e: test TO REBASE col, do not merge
  pyvenv.cfg
  resources/images/icons/close20@2x.png
  resources/images/icons/close20@3x.png
  resources/images/icons/unread20@2x.png
  resources/images/icons/unread20@3x.png
  src/mocks/js_dependencies.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/events.cljs
  src/status_im/subs/activity_center.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/utils/number.cljs
  test/appium/support/testrail_report.py
  translations/en.json
  translations/hi.json
  translations/ja.json
  translations/pt_BR.json
  translations/ru.json
Owners: @churik

e2e: test TO REBASE col, do not merge
  pyvenv.cfg
Owners: none

[13939] Implement system message into quo2 components
  resources/images/icons/pin20@2x.png
  resources/images/icons/pin20@3x.png
  resources/images/icons/timeout12@2x.png
  resources/images/icons/timeout12@3x.png
  src/quo2/components/messages/system_message.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/messages/system_message.cljs
Owners: none

Update to include keyboard and full width fixes
  src/quo2/screens/messages/system_message.cljs
Owners: none

[13939] Localize, extract data, readability
  src/quo2/components/messages/system_message.cljs
  src/quo2/screens/messages/resources.cljs
  src/quo2/screens/messages/system_message.cljs
  translations/en.json
Owners: none

separate :danger color, separate duplicated :landed theme
  src/quo2/components/avatars/user_avatar.cljs
  src/quo2/components/messages/system_message.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/messages/system_message.cljs
Owners: none

Fix design differences from figma
  src/quo2/components/avatars/icon_avatar.cljs
  src/quo2/components/messages/system_message.cljs
  src/quo2/screens/messages/system_message.cljs
Owners: none

Update for new figma designs, review fixes
  resources/images/icons/delete16@2x.png
  resources/images/icons/delete16@3x.png
  src/quo2/components/messages/system_message.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/messages/system_message.cljs
  translations/en.json
Owners: none

Fix pin icon sizing
  resources/images/icons/pin16@2x.png
  resources/images/icons/pin16@3x.png
  resources/images/icons/pin20@2x.png
  resources/images/icons/pin20@3x.png
  src/quo2/components/avatars/icon_avatar.cljs
  src/quo2/components/messages/system_message.cljs
  src/quo2/screens/avatars/icon_avatar.cljs
Owners: none

Use mock images instead of base64
  resources/images/mock/user_picture_female2@2x.png
  resources/images/mock/user_picture_male4@2x.png
  resources/images/mock/user_picture_male5@2x.png
  src/quo2/components/avatars/user_avatar.cljs
  src/quo2/screens/avatars/user_avatar.cljs
  src/quo2/screens/messages/system_message.cljs
  src/status_im/react_native/resources.cljs
Owners: none

Refactor state2, add pinned-by
  src/quo2/screens/messages/system_message.cljs
Owners: none

Animate background color changes
  src/quo2/components/messages/system_message.cljs
  src/quo2/screens/messages/system_message.cljs
Owners: none

Fix comment
  src/quo2/foundations/colors.cljs
Owners: none

Prevent overflowing in two remaining text fields
  src/quo2/components/messages/system_message.cljs
Owners: none

Remove base64 resouces file
  src/quo2/screens/messages/resources.cljs
Owners: none
