Repository status-im/status-mobile, pull requests merged in 2018-12, with the labels that each got.

#6671 Add popup menu support for chat header and chat list
  clj-rn.conf.edn
  desktop/main.cpp
  desktop_files/package.json.orig
  modules/react-native-desktop-menu/desktop/CMakeLists.txt
  modules/react-native-desktop-menu/desktop/desktopmenu.cpp
  modules/react-native-desktop-menu/desktop/desktopmenu.h
  modules/react-native-desktop-menu/index.js
  modules/react-native-desktop-menu/package.json
  react-native/src/desktop/status_im/react_native/js_dependencies.cljs
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  scripts/build-desktop.sh
  src/status_im/ui/components/popup_menu/views.cljs
  src/status_im/ui/screens/desktop/main/chat/views.cljs
  src/status_im/ui/screens/desktop/main/tabs/home/views.cljs
  test/cljs/status_im/react_native/js_dependencies.cljs
Labels: Tested - OK, desktop

#6655 Fixed styles for generated names on desktop
  src/status_im/ui/screens/chat/utils.cljs
  src/status_im/ui/screens/desktop/main/chat/styles.cljs
  src/status_im/ui/screens/desktop/main/chat/views.cljs
Labels: desktop

#6969 [#6958] Only render command message when relevant
  src/status_im/ui/screens/chat/message/message.cljs
Labels: extensions, skip-manual-qa

#6978 [TESTS] Fix for new separator in public usernames
  test/appium/tests/atomic/chats/test_public.py
Labels: skip-manual-qa, tests

#6974 Desktop popup
  resources/icons/newchat.svg
  src/status_im/ui/components/action_button/action_button.cljs
  src/status_im/ui/components/action_button/styles.cljs
  src/status_im/ui/screens/desktop/main/add_new/styles.cljs
  src/status_im/ui/screens/desktop/main/add_new/views.cljs
  src/status_im/ui/screens/desktop/main/styles.cljs
  src/status_im/ui/screens/desktop/main/tabs/home/styles.cljs
  src/status_im/ui/screens/desktop/main/tabs/home/views.cljs
  src/status_im/ui/screens/desktop/main/views.cljs
  src/status_im/ui/screens/desktop/views.cljs
  translations/en.json
Labels: Tested - OK, desktop

#6967 [#6957] Wallet shouldn't allows redirect to Home after a transaction …
  src/status_im/ui/screens/views.cljs
Labels: extensions, skip-manual-qa

#6932 Allow admin to leave chat
  src/status_im/chat/models/message.cljs
  src/status_im/contact/db.cljs
  src/status_im/contact/subs.cljs
  src/status_im/events.cljs
  src/status_im/group_chats/core.cljs
  src/status_im/ui/screens/profile/group_chat/views.cljs
  test/cljs/status_im/test/chat/models/message.cljs
  test/cljs/status_im/test/contacts/db.cljs
  test/cljs/status_im/test/group_chats/core.cljs
  translations/en.json
Labels: Tested - OK, release

#6992 Added Decentraland DApp
  resources/images/contacts/decentraland.png
  src/status_im/react_native/resources.cljs
  src/status_im/ui/screens/browser/default_dapps.cljs
Labels: Tested - OK, dapp, release

#6980 [TESTS] Check wallet modal in 1*1/group chats
  test/appium/tests/atomic/account_management/test_wallet_modal.py
  test/appium/views/home_view.py
Labels: skip-manual-qa, tests

#6995 bump desktop version to alpha 0.9.0
  desktop_files/VERSION
Labels: desktop, skip-manual-qa

#6971 Add Dragonereum to Status
  resources/images/contacts/dragonereum.png
  src/status_im/react_native/resources.cljs
  src/status_im/ui/screens/browser/default_dapps.cljs
Labels: dapp, release

#6989 Feature/extensions selection component
  src/status_im/extensions/core.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/extensions/views.cljs
  src/status_im/ui/screens/views.cljs
Labels: extensions, skip-manual-qa

#6994 Message context menu for Copy and Reply functionality
  src/status_im/ui/screens/desktop/main/chat/views.cljs
Labels: Tested - OK, desktop

#6880 Envelope marked as sent even if it was expired
  src/status_im/signals/core.cljs
Labels: Tested - OK

#7014 store :raw-payload-hash in message
  src/status_im/chat/models/message.cljs
  src/status_im/data_store/realm/schemas/account/core.cljs
  src/status_im/data_store/realm/schemas/account/message.cljs
  src/status_im/data_store/realm/schemas/account/migrations.cljs
  src/status_im/transport/message/protocol.cljs
  src/status_im/transport/utils.cljs
Labels: release

#6785 add an e2e build target for ios
  .gitignore
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/android.groovy
  ci/common.groovy
  ci/ios.groovy
  ci/mobile.groovy
  fastlane/Fastfile
Labels: devops, ios

#7021 [#6956] delete duplicates after iteration over messages/statuses
  src/status_im/data_store/realm/schemas/account/migrations.cljs
Labels: skip-manual-qa

#7000 [#6851] Fix loading indicator in browser
  src/status_im/browser/core.cljs
  src/status_im/ui/screens/browser/views.cljs
Labels: Tested - OK

#7022 enable desktop builds for releases
  ci/Jenkinsfile.combined
Labels: devops, jenkins

#7028 fix build numbers for release builds
  ci/Jenkinsfile.upload_release_android
  ci/Jenkinsfile.upload_release_ios
Labels: jenkins, release

#6986 Tell user to run `nvm use` in terminal if needed
  scripts/run-environment-check.sh
Labels: skip-manual-qa

#7023 kyber ui (image source support and placeholder color)
  src/status_im/extensions/core.cljs
  src/status_im/ui/screens/wallet/settings/views.cljs
Labels: extensions, skip-manual-qa

#7042 Remove legacy release jenkinsfiles
  ci/Jenkinsfile.upload_release_android
  ci/Jenkinsfile.upload_release_ios
Labels: jenkins

#7018 [#6866] Add ipfs/add extension event
  src/status_im/constants.cljs
  src/status_im/extensions/core.cljs
  src/status_im/ui/screens/events.cljs
Labels: extensions, skip-manual-qa

#7048 Fix the arithmetic function exposed by extensions
  src/status_im/extensions/core.cljs
Labels: skip-manual-qa

#7049 do not update :mailserver/connection-checks if user is logged out
  src/status_im/mailserver/core.cljs
Labels: skip-manual-qa

#6975 Fixes issue with launching of reportApp window on application crash event.
  desktop/main.cpp
  desktop/reportApp/main.qml
  desktop/reportApp/reportpublisher.cpp
  desktop_files/yarn.lock
Labels: Tested - OK, desktop, desktop-release

#7051 Updated StatusImAppImage.zip URL to package with redundant files removed
  ci/Jenkinsfile.linux
  scripts/build-desktop.sh
Labels: desktop, skip-manual-qa

#6966 [TESTS] Added new desktop e2e tests
  test/desktop_sikuli/main.py
  test/desktop_sikuli/tests/base_test_case.py
  test/desktop_sikuli/tests/test_create_account.py
  test/desktop_sikuli/tests/test_profile.py
  test/desktop_sikuli/tests/test_recover_access.py
  test/desktop_sikuli/utilities.py
  test/desktop_sikuli/views/base_element.py
  test/desktop_sikuli/views/base_view.py
  test/desktop_sikuli/views/images/base_view/done_button.png
  test/desktop_sikuli/views/images/base_view/next_button.png
  test/desktop_sikuli/views/images/base_view/ok_button.png
  test/desktop_sikuli/views/images/base_view/yes_button.png
  test/desktop_sikuli/views/images/profile_view/ok_continue_button.png
  test/desktop_sikuli/views/images/profile_view/recovery_phrase_word_input.png
  test/desktop_sikuli/views/images/profile_view/share_my_code_button.png
  test/desktop_sikuli/views/images/sign_in_view/i_have_account.png
  test/desktop_sikuli/views/images/sign_in_view/privacy_policy_button.png
  test/desktop_sikuli/views/images/sign_in_view/username_input.png
  test/desktop_sikuli/views/profile_view.py
  test/desktop_sikuli/views/sign_in_view.py
Labels: skip-manual-qa, tests

#7058 Show schema version details on migrations failure
  src/status_im/data_store/realm/core.cljs
  src/status_im/init/core.cljs
  translations/en.json
Labels: skip-manual-qa

#6877 Upgrade status-go to 0.17.0 (Constantinople).
  STATUS_GO_VERSION
  src/status_im/mailserver/core.cljs
  test/cljs/status_im/test/mailserver/core.cljs
Labels: Tested - OK

#6998 [TESTS] Add group chats appium tests
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/tests/users.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/profile_view.py
  test/appium/views/start_new_chat_view.py
Labels: skip-manual-qa, tests

#7071 set BUILD_TYPE to pr as default
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.linux
  ci/Jenkinsfile.macos
  ci/Jenkinsfile.windows
Labels: jenkins

#7068 Allow input to trigger event after a delay
  src/status_im/extensions/core.cljs
Labels: skip-manual-qa

#7065 Fix bug with characters in password
  STATUS_GO_VERSION
Labels: Tested - OK

#7077 Upgrade realm to 2.21.0
  mobile_files/package.json.orig
  mobile_files/yarn.lock
Labels: skip-manual-qa

#6954 Add ethereum/poll-logs event, fixes #6855
  src/status_im/constants.cljs
  src/status_im/extensions/core.cljs
  src/status_im/extensions/ethereum.cljs
Labels: extensions, skip-manual-qa

#7067 Bug/fixed extensions installation issues
  src/status_im/browser/permissions.cljs
  src/status_im/events.cljs
  src/status_im/extensions/registry.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/extensions/add/events.cljs
  src/status_im/ui/screens/extensions/add/subs.cljs
  src/status_im/ui/screens/extensions/add/views.cljs
Labels: Tested - OK, extensions

#7072 move upload step top platform specific builds, cleanup
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.linux
  ci/Jenkinsfile.macos
  ci/Jenkinsfile.windows
  ci/common.groovy
  ci/desktop.groovy
  ci/mobile.groovy
  desktop/docker/linux/Dockerfile
  desktop/docker/linux/Makefile
  desktop/docker/windows/Dockerfile
  desktop/docker/windows/Makefile
Labels: jenkins

#7079 run pod only for ios
  ci/mobile.groovy
Labels: jenkins

#6964 [TESTS] Appium 1.9.1
  test/appium/tests/atomic/account_management/test_recover.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/tests/base_test_case.py
  test/appium/tests/conftest.py
  test/appium/views/home_view.py
  test/appium/views/sign_in_view.py
  test/appium/views/start_new_chat_view.py
Labels: skip-manual-qa, tests

#7086 Remove println statement
  src/status_im/network/core.cljs
Labels: skip-manual-qa

#7078 [#6997] Remove desktop download nightly release feature
  src/status_im/ui/components/desktop/events.cljs
  src/status_im/ui/screens/desktop/main/tabs/profile/views.cljs
  src/status_im/ui/screens/events.cljs
Labels: Tested - OK, desktop, desktop-release

#7061 bug #7047 - reuploaded eth icon
  resources/images/tokens/default-native.png
  resources/images/tokens/default-native@2x.png
  resources/images/tokens/default-native@3x.png
  resources/images/tokens/mainnet/0-native.png
  resources/images/tokens/mainnet/0-native@2x.png
  resources/images/tokens/mainnet/0-native@3x.png
  resources/images/tokens/testnet/0-native.png
  resources/images/tokens/testnet/0-native@2x.png
  resources/images/tokens/testnet/0-native@3x.png
Labels: Tested - OK

#7080 [#6688] [EIP-1577] Update ENS resolving implementation to match what is defined …
  src/status_im/browser/core.cljs
  src/status_im/events.cljs
  src/status_im/utils/ethereum/ens.cljs
  src/status_im/utils/ethereum/resolver.cljs
Labels: Tested - OK

#7095 fix link used for Macs
  ci/Jenkinsfile.combined
Labels: jenkins

#7088 [#6760] Add DApps for 0.9.33
  resources/images/contacts/3Box.png
  resources/images/contacts/slowtrade.png
  src/status_im/react_native/resources.cljs
  src/status_im/ui/screens/browser/default_dapps.cljs
Labels: Tested - OK, dapp

#7029 No logs in desktop release
  ci/desktop.groovy
  desktop/CMakeLists.txt
  desktop/main.cpp
  scripts/build-desktop.sh
Labels: Tested - OK, desktop, desktop-release

#7094 Disable Realm Analytics for Desktop builds
  desktop/main.cpp
Labels: Tested - OK, desktop, desktop-release

#7087 [TESTS #7082] Urllib upgrade
  test/appium/requirements.txt
Labels: skip-manual-qa, tests

#7085 Dont choke on wrongly serialized messages
  src/status_im/chat/models/loading.cljs
  src/status_im/data_store/messages.cljs
Labels: Tested - OK

#7091 use the new pr commenting service (ghcmgr)
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.linux
  ci/Jenkinsfile.macos
  ci/Jenkinsfile.windows
  ci/common.groovy
Labels: jenkins

#6937 Add gif support on Android
  android/app/build.gradle
Labels: Tested - OK

#7081 Adjust from value to accomodate for late-comers
  src/status_im/mailserver/core.cljs
  src/status_im/transport/message/protocol.cljs
Labels: Tested - OK

#7124 Fix desktop msg loading and signin
  src/status_im/node/core.cljs
  src/status_im/ui/screens/desktop/main/chat/views.cljs
  src/status_im/ui/screens/desktop/main/tabs/home/views.cljs
Labels: desktop

#7096 Add logging setting in Desktop UI
  clj-rn.conf.edn
  desktop/CMakeLists.txt
  desktop/appconfig.cpp
  desktop/appconfig.h
  desktop/main.cpp
  desktop_files/package.json.orig
  modules/react-native-desktop-config/desktop/CMakeLists.txt
  modules/react-native-desktop-config/desktop/desktopconfig.cpp
  modules/react-native-desktop-config/desktop/desktopconfig.h
  modules/react-native-desktop-config/index.js
  modules/react-native-desktop-config/package.json
  react-native/src/desktop/status_im/react_native/js_dependencies.cljs
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  scripts/build-desktop.sh
  src/status_im/accounts/login/core.cljs
  src/status_im/events.cljs
  src/status_im/log_level/core.cljs
  src/status_im/node/core.cljs
  src/status_im/ui/screens/desktop/main/tabs/profile/styles.cljs
  src/status_im/ui/screens/desktop/main/tabs/profile/views.cljs
  src/status_im/ui/screens/log_level_settings/subs.cljs
  translations/en.json
Labels: Tested - OK, desktop, desktop-release

#7106 [#5452][desktop] Add help center in profile menu
  src/status_im/ui/screens/desktop/main/tabs/profile/views.cljs
  src/status_im/ui/screens/desktop/main/views.cljs
  src/status_im/ui/screens/desktop/views.cljs
  src/status_im/ui/screens/help_center/views.cljs
Labels: Tested - OK, desktop-release

#7130 Updated airswap dapp url
  src/status_im/ui/screens/browser/default_dapps.cljs
Labels: Tested - OK

#7126 fix #6440 increase width of mobile message bubbles on mobile
  src/status_im/ui/screens/chat/styles/message/message.cljs
Labels: chat

#7136 [TESTS] Workaround on wrong transition to home view instead of chat
  test/appium/tests/atomic/chats/test_commands.py
Labels: skip-manual-qa, tests

#7129 [#5650] Blank page when accessing .pdf files from Android app browser
  src/status_im/browser/core.cljs
  src/status_im/ui/components/list_selection.cljs
Labels: Tested - OK

#7138 [#7135] Fix wrong password handling
  src/status_im/accounts/login/core.cljs
  src/status_im/init/core.cljs
  src/status_im/node/core.cljs
  src/status_im/signals/core.cljs
  src/status_im/ui/screens/accounts/login/views.cljs
  src/status_im/ui/screens/accounts/subs.cljs
Labels: Tested - OK, desktop-release

#7143 Use QSettings in AppConfig
  desktop/appconfig.cpp
  desktop/appconfig.h
  desktop/main.cpp
  modules/react-native-desktop-config/desktop/desktopconfig.cpp
  modules/react-native-desktop-config/desktop/desktopconfig.h
  modules/react-native-desktop-config/index.js
  src/status_im/accounts/login/core.cljs
  src/status_im/init/core.cljs
  src/status_im/log_level/core.cljs
  src/status_im/ui/screens/desktop/main/tabs/profile/views.cljs
  src/status_im/ui/screens/log_level_settings/subs.cljs
  translations/en.json
Labels: Tested - OK, desktop, desktop-release

#7003 Keycard installation
  android/app/build.gradle
  android/app/src/main/java/im/status/ethereum/MainApplication.java
  android/settings.gradle
  clj-rn.conf.edn
  ios/Podfile
  ios/Podfile.lock
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  react-native/src/desktop/status_im/react_native/js_dependencies.cljs
  react-native/src/mobile/status_im/react_native/js_dependencies.cljs
  resources/icons/link.svg
  resources/images/ui/hold-card-animation.png
  resources/images/ui/keycard-lock.png
  resources/images/ui/phone-nfc-off.png
  resources/images/ui/phone-nfc-on.png
  resources/images/ui/phone-nfc.png
  resources/images/ui/secret-keys.png
  src/status_im/accounts/create/core.cljs
  src/status_im/data_store/realm/schemas/base/account.cljs
  src/status_im/data_store/realm/schemas/base/core.cljs
  src/status_im/data_store/realm/schemas/base/migrations.cljs
  src/status_im/events.cljs
  src/status_im/hardwallet/card.cljs
  src/status_im/hardwallet/core.cljs
  src/status_im/hardwallet/fx.cljs
  src/status_im/init/core.cljs
  src/status_im/react_native/resources.cljs
  src/status_im/ui/components/colors.cljs
  src/status_im/ui/components/common/common.cljs
  src/status_im/ui/components/icons/vector_icons.cljs
  src/status_im/ui/screens/db.cljs
  src/status_im/ui/screens/hardwallet/authentication_method/styles.cljs
  src/status_im/ui/screens/hardwallet/authentication_method/views.cljs
  src/status_im/ui/screens/hardwallet/components.cljs
  src/status_im/ui/screens/hardwallet/connect/styles.cljs
  src/status_im/ui/screens/hardwallet/connect/views.cljs
  src/status_im/ui/screens/hardwallet/pin/subs.cljs
  src/status_im/ui/screens/hardwallet/pin/views.cljs
  src/status_im/ui/screens/hardwallet/setup/styles.cljs
  src/status_im/ui/screens/hardwallet/setup/subs.cljs
  src/status_im/ui/screens/hardwallet/setup/views.cljs
  src/status_im/ui/screens/hardwallet/success/styles.cljs
  src/status_im/ui/screens/hardwallet/success/views.cljs
  test/cljs/status_im/react_native/js_dependencies.cljs
  test/cljs/status_im/test/accounts/create/core.cljs
  test/cljs/status_im/test/hardwallet/core.cljs
  translations/en.json
Labels: Tested - OK, keycard

#7145 Fix desktop release popup
  src/status_im/accounts/core.cljs
  src/status_im/accounts/create/core.cljs
  src/status_im/events.cljs
  src/status_im/init/core.cljs
  src/status_im/ui/screens/accounts/recover/styles.cljs
  src/status_im/ui/screens/accounts/recover/views.cljs
  src/status_im/ui/screens/desktop/views.cljs
  translations/en.json
Labels: Tested - OK, desktop, desktop-release

#7146 Fix generation of AppImage to point to Status instead of reportApp
  scripts/build-desktop.sh
Labels: Tested - OK, desktop, desktop-release

#7152 Truncate long chat messages on Desktop
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/desktop/main/chat/styles.cljs
  src/status_im/ui/screens/desktop/main/chat/views.cljs
Labels: Tested - OK, desktop, desktop-release

#7144 fix crash on logout
  STATUS_GO_VERSION
  src/status_im/accounts/logout/core.cljs
  src/status_im/events.cljs
  src/status_im/native_module/core.cljs
  src/status_im/transport/core.cljs
  src/status_im/transport/filters.cljs
  src/status_im/ui/screens/profile/user/views.cljs
Labels: Tested - OK, desktop-release

#7153 Add desktop chunks hack
  src/status_im/ui/screens/chat/utils.cljs
  src/status_im/ui/screens/desktop/main/chat/views.cljs
Labels: Tested - OK, desktop, desktop-release

#6502 Auto-update provisioning profiles when building PRs and nightlies on Jenkins
  Gemfile.lock
  fastlane/Fastfile
Labels: devops, skip-manual-qa

#7154 fix success value of build objects sent to ghcmgr
  ci/common.groovy
Labels: jenkins

#7163 Revert "[Fixes #7052 and #7037] Improved extensions ethereum support"
  deps.edn
  project.clj
  src/status_im/chat/commands/core.cljs
  src/status_im/extensions/core.cljs
  src/status_im/extensions/ethereum.cljs
  src/status_im/extensions/registry.cljs
  src/status_im/ui/screens/wallet/settings/views.cljs
  src/status_im/utils/ethereum/abi_spec.cljs
Labels: revert-existing-pr, skip-manual-qa

#7165 Reintroduced broken PR #7092 with fix
  deps.edn
  project.clj
  src/status_im/chat/commands/core.cljs
  src/status_im/extensions/core.cljs
  src/status_im/extensions/ethereum.cljs
  src/status_im/extensions/registry.cljs
  src/status_im/ui/screens/wallet/settings/views.cljs
  src/status_im/utils/ethereum/abi_spec.cljs
  test/cljs/status_im/test/extensions/ethereum.cljs
Labels: skip-manual-qa

#7142 [TESTS] Run tests by testrail case ids
  test/appium/Jenkinsfile.message_reliability
  test/appium/requirements.txt
  test/appium/tests/conftest.py
  test/appium/tests/test_message_reliability.py
Labels: skip-manual-qa, tests

#7151 [#7131] Add titles for browser items
  src/status_im/browser/core.cljs
Labels: Tested - OK

#7108 [slow sign in] denormalize last-clock-value
  src/status_im/chat/models/message.cljs
  src/status_im/data_store/chats.cljs
  src/status_im/data_store/realm/core.cljs
  src/status_im/data_store/realm/schemas/account/chat.cljs
  src/status_im/data_store/realm/schemas/account/core.cljs
  src/status_im/data_store/realm/schemas/account/migrations.cljs
  test/cljs/status_im/test/data_store/chats.cljs
Labels: Tested - OK

#7160 [#7005] add progress bar to keycard installation
  .env.jenkins
  components/src/status_im/ui/components/react.cljs
  mobile_files/package.json.orig
  mobile_files/yarn.lock
  src/status_im/accounts/create/core.cljs
  src/status_im/accounts/recover/core.cljs
  src/status_im/events.cljs
  src/status_im/hardwallet/core.cljs
  src/status_im/signals/core.cljs
  src/status_im/ui/screens/hardwallet/setup/styles.cljs
  src/status_im/ui/screens/hardwallet/setup/views.cljs
Labels: Tested - OK, keycard

#7172 Safe deserialization of the last message's content
  src/status_im/data_store/chats.cljs
  src/status_im/data_store/messages.cljs
  src/status_im/utils/core.cljc
Labels: Tested - OK, desktop-release

#7175 Fix logging_enabled param initial loading on Linux
  src/status_im/init/core.cljs
Labels: Tested - OK, desktop, desktop-release

#7111 Paginate using clock-value & message-id instead of skip/limit
  src/status_im/chat/models/loading.cljs
  src/status_im/data_store/messages.cljs
  src/status_im/data_store/realm/core.cljs
Labels: Tested - OK

#7156 [#7155] Clear last message preview on deleting chat history
  src/status_im/chat/models.cljs
  src/status_im/data_store/chats.cljs
  src/status_im/ui/screens/home/views/inner_item.cljs
Labels: Tested - OK

#7181 Fix connection stats display
  src/status_im/ui/screens/desktop/main/tabs/profile/views.cljs
Labels: Tested - OK, desktop, desktop-release

#7099 [slow sign in] adding symkeys and filters in batch
  src/status_im/accounts/login/core.cljs
  src/status_im/protocol/core.cljs
  src/status_im/transport/core.cljs
  src/status_im/transport/filters.cljs
  src/status_im/transport/shh.cljs
  test/cljs/status_im/test/transport/core.cljs
Labels: Tested - OK

#7180 [slow sign in] Fetch generic password only once
  src/status_im/utils/keychain/core.cljs
  test/cljs/status_im/test/utils/keychain/core.cljs
Labels: Tested - OK

#7185 [#7179] Fix command message preview in the list of chats
  src/status_im/chat/models.cljs
  src/status_im/chat/models/message.cljs
  src/status_im/data_store/chats.cljs
  src/status_im/data_store/realm/schemas/account/chat.cljs
  src/status_im/data_store/realm/schemas/account/core.cljs
  src/status_im/data_store/realm/schemas/account/migrations.cljs
  src/status_im/ui/screens/desktop/main/tabs/home/views.cljs
  src/status_im/ui/screens/home/views/inner_item.cljs
  test/cljs/status_im/test/data_store/chats.cljs
Labels: Tested - OK
