Repository status-im/status-mobile, pull requests merged in 2020-05, with the labels that each got.

#10476 Keycard e2e: interruption keycard flows e2e
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/views/base_view.py
  test/appium/views/keycard_view.py
  test/appium/views/sign_in_view.py
Labels: tests

#10496 fix maven deps shell by ajusting arguments
  nix/mobile/android/maven-and-npm-deps/maven/shell.nix
Labels: nix

#10523 nix: re-add maven-inputs2nix.sh script
  nix/mobile/android/maven-and-npm-deps/maven/generate-nix.sh
  nix/mobile/android/maven-and-npm-deps/maven/maven-inputs2nix.sh
Labels: nix

#10470 fix: display error and disable Update button if gas limit is less than 21000
  src/status_im/signing/gas.cljs
  test/appium/tests/atomic/transactions/test_wallet.py
  translations/en.json
Labels: Tested - OK, request-manual-qa

#10550 upgrade Kotlin: 1.3.11 > 1.3.50
  android/gradle.properties
  modules/react-native-status/android/build.gradle
  nix/mobile/android/maven-and-npm-deps/maven/maven-inputs.txt
  nix/mobile/android/maven-and-npm-deps/maven/maven-sources.nix
Labels: android, dependencies, nix

#10552 fix gradle warnings about deprecated build directive
  mobile/js_files/package.json
  mobile/js_files/yarn.lock
Labels: android, dependencies

#10553 fix broken nix-update-clojure by always using GNU grep
  nix/shells.nix
Labels: nix

#10555 fix parsing of maven package cache
  nix/deps/clojure/generate.sh
Labels: nix

#10372 feat: persistent send/receive action at bottom of asset list
  src/mocks/js_dependencies.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/ui/screens/wallet/account/styles.cljs
  src/status_im/ui/screens/wallet/account/views.cljs
Labels: Tested - OK

#10497 Nightly review: small fix for e2e
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/views/wallet_view.py
Labels: tests

#10419 Add animated headers to profiles
  src/quo/components/animated_header.cljs
  src/quo/components/header.cljs
  src/quo/react_native.cljs
  src/status_im/ui/components/large_toolbar/styles.cljs
  src/status_im/ui/components/large_toolbar/view.cljs
  src/status_im/ui/components/profile_header/view.cljs
  src/status_im/ui/screens/profile/components/views.cljs
  src/status_im/ui/screens/profile/contact/views.cljs
  src/status_im/ui/screens/profile/group_chat/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/ui/screens/routing/chat_stack.cljs
  src/status_im/ui/screens/routing/profile_stack.cljs
  src/status_im/ui/screens/wallet/accounts/styles.cljs
  src/status_im/ui/screens/wallet/accounts/views.cljs
  test/appium/views/profile_view.py
Labels: Tested - OK, request-manual-qa

#10574 nix: fix ios sim builds, build for amd64 instead 386
  nix/status-go/mobile/default.nix
Labels: ios, nix

#10559 Small fix e2e
  src/status_im/ui/screens/keycard/recovery/views.cljs
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/base_view.py
  test/appium/views/sign_in_view.py
Labels: tests

#10579 nix: add missing STATUS_GO_ANDROID_LIBDIR env variable
  nix/mobile/android/default.nix
Labels: android, bug, nix

#10581 [#10576] Change button "Sign with keycard" in dark mode
  src/status_im/ui/screens/signing/styles.cljs
  src/status_im/ui/screens/signing/views.cljs
Labels: Tested - OK, request-manual-qa

#10349 fix: display value decimals instead of using exp notation
  src/status_im/signing/core.cljs
  src/status_im/ui/screens/chat/message/command.cljs
Labels: Tested - OK, request-manual-qa

#10586 nix: fix maven deps shell
  nix/mobile/android/default.nix
  nix/mobile/android/maven-and-npm-deps/maven/shell.nix
  nix/mobile/default.nix
  nix/mobile/ios/default.nix
Labels: nix

#10583 Extend group chat e2e to 3 members
  test/appium/tests/atomic/chats/test_group_chat.py
Labels: tests

#10498 React native 62
  .gitignore
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/debug/java/im/status/ethereum/ReactNativeFlipper.java
  android/app/src/main/java/im/status/ethereum/MainApplication.java
  android/gradle.properties
  ios/Dummy.swift
  ios/Podfile
  ios/Podfile.lock
  ios/StatusIm-Bridging-Header.h
  ios/StatusIm.xcodeproj/project.pbxproj
  ios/StatusIm.xcodeproj/xcshareddata/xcschemes/StatusIm.xcscheme
  ios/StatusIm/AppDelegate.m
  mobile/js_files/package.json
  mobile/js_files/yarn.lock
  mobile_files/package.json.orig
  modules/react-native-status/ios/RCTStatus/RCTStatus.xcodeproj/project.pbxproj
  nix/mobile/android/maven-and-npm-deps/default.nix
  nix/mobile/android/maven-and-npm-deps/maven/maven-inputs.txt
  nix/mobile/android/maven-and-npm-deps/maven/maven-sources.nix
  src/status_im/core.cljs
  src/status_im/ui/components/copyable_text.cljs
  src/status_im/ui/components/react.cljs
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_public.py
Labels: request-manual-qa

#10588 Update e2e to fix false fails in deep link test
  test/appium/tests/atomic/dapps_and_browsing/test_deep_links.py
  test/appium/views/base_view.py
Labels: tests

#10596 [#10593] Amount is hardly visible when appearance is set to dark, but…
  src/status_im/ui/screens/wallet/send/views.cljs
Labels: Tested - OK

#10597 [#10587] `Unable to resolve spec` at attempt to rename group chat
  src/status_im/ui/screens/profile/db.cljs
Labels: Tested - OK

#10598 [#10494] Tapping on "Back up your seed phrase" from wallet doesn't op…
  src/status_im/ui/screens/wallet/accounts/sheets.cljs
  src/status_im/ui/screens/wallet/accounts/views.cljs
Labels: Tested - OK, request-manual-qa

#10600 Dapp permission screen to expect simpledapp
  test/appium/tests/__init__.py
Labels: tests

#10602 fix missing search filter event
  src/status_im/events.cljs
Labels: Tested - OK

#10605 3 new e2e
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/tests/atomic/dapps_and_browsing/test_deep_links.py
  test/appium/views/chat_view.py
  test/appium/views/dapps_view.py
  test/appium/views/elements_templates/url_1.png
  test/appium/views/elements_templates/url_2.png
  test/appium/views/elements_templates/url_3.png
Labels: tests

#10615 e2e for blocking and unblocking user from group chat
  test/appium/tests/atomic/chats/test_group_chat.py
Labels: tests

#10562 Update translations
  translations/ar.json
  translations/fil.json
  translations/fr.json
  translations/id.json
  translations/ko.json
  translations/ru.json
  translations/tr.json
Labels: translations

#10621 jenkins: allow combined jobs to copy artifacts
  ci/Jenkinsfile.android
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.linux
  ci/Jenkinsfile.macos
  ci/Jenkinsfile.windows
Labels: jenkins

#10606 [keycard] Account generation & tx signing on simulated card
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  src/status_im/hardwallet/card.cljs
  src/status_im/hardwallet/core.cljs
  src/status_im/hardwallet/fx.cljs
  src/status_im/hardwallet/ios_keycard.cljs
  src/status_im/hardwallet/keycard.cljs
  src/status_im/hardwallet/real_keycard.cljs
  src/status_im/hardwallet/simulated_keycard.cljs
  src/status_im/hardwallet/wallet.cljs
  src/status_im/multiaccounts/create/core.cljs
  src/status_im/multiaccounts/recover/core.cljs
  src/status_im/ui/screens/intro/views.cljs
  src/status_im/ui/screens/multiaccounts/recover/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/wallet/accounts/core.cljs
Labels: Tested - OK

#10618 Revive search chat test
  test/appium/tests/atomic/chats/test_chats_management.py
Labels: tests

#10626 fix ns duplication
  src/status_im/hardwallet/core.cljs
Labels: Tested - OK

#10603 Require translations
  nix/mobile/android/targets/release-android.nix
  src/mocks/js_dependencies.cljs
  src/status_im/bootnodes/core_test.cljs
  src/status_im/contact/db_test.cljs
  src/status_im/i18n.clj
  src/status_im/i18n_resources.cljs
  src/status_im/i18n_test.cljs
  src/status_im/multiaccounts/login/data_test.cljs
  src/status_im/multiaccounts/login/flow_test.cljs
Labels: Tested - OK

#10568 Update react-native-webview to 9.4.0
  mobile/js_files/package.json
  mobile/js_files/yarn.lock
Labels: Tested - OK, request-manual-qa

#10612 Incoming outgoing bug
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/ui/screens/chat/message/command.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/dapps_permissions/views.cljs
  src/status_im/ui/screens/desktop/main/views.cljs
Labels: Tested - OK

#10637 [#10632] Fix tx signing on keycard
  src/status_im/hardwallet/real_keycard.cljs
Labels: Tested - OK

#10633 Keycard transacting e2e
  test/appium/tests/__init__.py
  test/appium/tests/atomic/chats/test_keycard_commands.py
  test/appium/tests/atomic/transactions/test_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_wallet.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/keycard_view.py
  test/appium/views/send_transaction_view.py
  test/appium/views/transactions_view.py
  test/appium/views/wallet_view.py
  test/appium/views/web_views/status_test_dapp.py
Labels: tests

#10629 [#10434] Disable touch events during autologin
  src/status_im/multiaccounts/login/core.cljs
Labels: Tested - OK, request-manual-qa

#10653 Customise gas price in some tests
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/tests/atomic/transactions/test_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_dapps_transactions.py
  test/appium/views/send_transaction_view.py
Labels: tests

#10661 Extended search e2e
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_keycard_commands.py
  test/appium/tests/users.py
Labels: tests

#10647 unify multiple Makefile targets
  Makefile
  STARTING_GUIDE.md
  TROUBLESHOOTING.md
  nix/mobile/android/jsbundle/default.nix
  nix/shells.nix
  shadow-cljs.edn
  src/status_im/android/core.cljs
  src/status_im/core.cljs
  src/status_im/desktop/core.cljs
  src/status_im/ios/core.cljs
Labels: Tested - OK, android, ios

#10665 nix: move jetify-ing Java files to patchNodeModules
  nix/mobile/android/release.nix
  nix/tools/patchNodeModules.nix
Labels: nix

#10666 nix: fix nix-cache builds using wrong status-go targets
  ci/Jenkinsfile.nix-cache
Labels: nix

#10672 disable hermes warnings that dump translations to stdout
  android/app/build.gradle
Labels: android

#10671 nix: always use patched node_modules in shells
  nix/deps/nodejs-patched/default.nix
  nix/mobile/android/default.nix
  nix/mobile/android/release.nix
  nix/overlay.nix
  nix/shells.nix
Labels: nix

#10670 Fix e2e by rerun in a case of TLS failure in emulator
  test/appium/support/api/network_api.py
  test/appium/support/test_rerun.py
  test/appium/views/web_views/base_web_view.py
Labels: tests

#10681 e2e: can't add > 10 participants to group chat
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/views/base_element.py
  test/appium/views/contacts_view.py
  test/appium/views/home_view.py
Labels: tests

#10673 restore Keycard 2.1 compatibility
  mobile/js_files/package.json
  mobile/js_files/yarn.lock
Labels: v1.4 release

#10685 nix: fix ios shell to use patched nodejs modules
  nix/mobile/ios/default.nix
Labels: ios, nix

#10687 nix: enforce xcode only for status-go for ios
  nix/status-go/mobile/build.nix
Labels: ios, nix

#10692 nix: don't use gradle to patch node modules
  nix/deps/nodejs-patched/default.nix
  nix/mobile/android/release.nix
  nix/pkgs/patch-maven-srcs/default.nix
Labels: nix

#10696 nix: add missing Gradle repo path in gradle shell
  android/gradlew
  nix/mobile/android/default.nix
  nix/shells.nix
Labels: nix

#10688 Flaky tests plugin and another capability
  test/appium/requirements.txt
  test/appium/support/test_rerun.py
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/base_test_case.py
  test/appium/tests/marks.py
  test/appium/views/base_view.py
  test/appium/views/profile_view.py
Labels: tests

#10680 Quo Animated Button
  android/app/build.gradle
  mobile/js_files/package.json
  mobile/js_files/yarn.lock
  src/quo/animated.cljs
  src/quo/components/animated_header.cljs
  src/quo/components/button/animation.cljs
  src/quo/components/button/view.cljs
  src/quo/components/text_input.cljs
  src/quo/components/tooltip.cljs
  src/quo/core.cljs
  src/quo/design_system/colors.cljs
  src/quo/gesture_handler.cljs
  src/quo/haptic.cljs
  src/quo/previews/button.cljs
  src/quo/previews/main.cljs
  src/quo/previews/preview.cljs
  src/status_im/ui/screens/wallet/accounts/styles.cljs
Labels: UI tested - OK

#10691 e2e: search assets
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/home_view.py
  test/appium/views/profile_view.py
  test/appium/views/wallet_view.py
  test/appium/views/web_views/base_web_view.py
Labels: tests

#10689 [Fixes: #5124] Fix rtl flag
  src/status_im/data_store/messages.cljs
  src/status_im/data_store/messages_test.cljs
Labels: Tested - OK

#10701 [e2e] transaction with custom token
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/transactions/test_wallet.py
Labels: tests

#10706 nix: use go-maven-resolver to fix nix-update-gradle
  nix/deps/gradle/deps.json
  nix/deps/gradle/deps.urls
  nix/deps/gradle/generate.sh
  nix/deps/gradle/get_urls.sh
  nix/deps/gradle/repos.sh
  nix/deps/gradle/url2json.sh
  nix/overlay.nix
  nix/pkgs/go-maven-resolver/default.nix
  nix/pkgs/go-maven-resolver/deps.nix
  nix/shells.nix
Labels: android, nix

#10700 [Fixes: #10471] Parse markdown in chat subheader.
  src/status_im/chat/db.cljs
  src/status_im/search/core_test.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/home/views/inner_item.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa, v1.4 release

#10668 fix #10591 error when scrolling account view
  src/status_im/ui/screens/wallet/account/styles.cljs
Labels: Tested - OK, v1.4 release

#10613 cljfmt src if there is no git diff
  Makefile
Labels: Tested - OK

#10674 Do not use signer arg for keycard_signTypedData
  src/status_im/browser/core.cljs
  src/status_im/ui/screens/signing/views.cljs
Labels: Tested - OK

#10641 [#9661] Fix overlapping on puk code screen
  src/status_im/ui/screens/hardwallet/pin/styles.cljs
Labels: Tested - OK, request-manual-qa

#10709 nix: replace grep and sed with awk for parsing Gradle deps
  .gitignore
  nix/deps/gradle/README.md
  nix/deps/gradle/deps.json
  nix/deps/gradle/deps.list
  nix/deps/gradle/deps.urls
  nix/deps/gradle/generate.sh
  nix/deps/gradle/get_deps.sh
  nix/deps/gradle/gradle_parser.awk
  nix/deps/gradle/url2json.sh
  nix/pkgs/go-maven-resolver/default.nix
  nix/pkgs/go-maven-resolver/deps.nix
  scripts/colors.sh
Labels: android, dependencies, nix

#10702 Quo animated list items
  src/quo/components/animated/pressable.cljs
  src/quo/components/button/view.cljs
  src/quo/components/list/footer.cljs
  src/quo/components/list/header.cljs
  src/quo/components/list/item.cljs
  src/quo/core.cljs
  src/quo/previews/lists.cljs
  src/quo/previews/main.cljs
Labels: UI tested - OK

#10713 Remove keyboard capability
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/base_test_case.py
  test/appium/tests/test_api.py
Labels: tests

#10723 [#10718] Update FAQ links
  src/status_im/constants.cljs
  src/status_im/hardwallet/onboarding.cljs
  src/status_im/ui/screens/hardwallet/settings/views.cljs
  src/status_im/ui/screens/help_center/views.cljs
  src/status_im/ui/screens/keycard/onboarding/views.cljs
  src/status_im/ui/screens/keycard/recovery/views.cljs
  src/status_im/ui/screens/keycard/views.cljs
Labels: Tested - OK, request-manual-qa, v1.4 release
