Repository status-im/status-mobile, pull requests merged in 2021-10, with the labels that each got.

#12594 Custom Emoji Thumbnails for Community Channels
  doc/DEPENDENCIES.md
  package.json
  src/mocks/js_dependencies.cljs
  src/quo/react_native.cljs
  src/status_im/communities/core.cljs
  src/status_im/data_store/chats.cljs
  src/status_im/subs.cljs
  src/status_im/ui/components/chat_icon/screen.cljs
  src/status_im/ui/components/chat_icon/styles.cljs
  src/status_im/ui/components/emoji_thumbnail/color_picker.cljs
  src/status_im/ui/components/emoji_thumbnail/preview.cljs
  src/status_im/ui/components/emoji_thumbnail/styles.cljs
  src/status_im/ui/components/emoji_thumbnail/utils.cljs
  src/status_im/ui/components/profile_header/view.cljs
  src/status_im/ui/screens/chat/sheets.cljs
  src/status_im/ui/screens/chat/styles/main.cljs
  src/status_im/ui/screens/chat/toolbar_content.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/communities/channel_details.cljs
  src/status_im/ui/screens/communities/community.cljs
  src/status_im/ui/screens/communities/community_emoji_thumbnail_picker.cljs
  src/status_im/ui/screens/communities/create_channel.cljs
  src/status_im/ui/screens/home/views/inner_item.cljs
  src/status_im/ui/screens/screens.cljs
  status-go-version.json
  translations/en.json
  yarn.lock
Labels: Tested - OK, request-manual-qa

#12677 e2e: fixes + updates
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/tests/atomic/transactions/test_keycard_wallet.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/base_element.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
Labels: tests

#12678 Update translations
  translations/ar.json
  translations/bn.json
  translations/fil.json
  translations/it.json
  translations/ja.json
  translations/ko.json
  translations/ms.json
  translations/nl.json
  translations/pl.json
Labels: translations, 1.17

#12686 e2e: fix for emoji
  test/appium/tests/atomic/chats/test_public.py
  test/appium/views/base_element.py
  test/appium/views/chat_view.py
Labels: tests

#12662 [#12520] Sync deleted chats
  src/status_im/chat/models.cljs
  src/status_im/chat/models_test.cljs
  status-go-version.json
Labels: Tested - OK
