Repository status-im/status-mobile, pull requests merged in 2021-06, with the labels that each got.

#12166 [Fixes: #12140] Don't show gap after 30 days and allow user to set ms
  src/status_im/chat/db.cljs
  src/status_im/constants.cljs
  src/status_im/multiaccounts/core.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/default_sync_period_settings/view.cljs
  src/status_im/ui/screens/routing/profile_stack.cljs
  src/status_im/ui/screens/sync_settings/views.cljs
  translations/en.json
Labels: Tested - OK

#12178 Update translations
  translations/ar.json
  translations/bn.json
  translations/de.json
  translations/el.json
  translations/es.json
  translations/es_419.json
  translations/es_AR.json
  translations/fil.json
  translations/fr.json
  translations/id.json
  translations/it.json
  translations/ja.json
  translations/ko.json
  translations/ms.json
  translations/nl.json
  translations/pl.json
  translations/pt.json
  translations/pt_BR.json
  translations/ru.json
  translations/tr.json
  translations/vi.json
  translations/zh.json
  translations/zh_TW.json
Labels: 1.14, translations

#12171 Tests execution ordering
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/tests/atomic/zzz_multiple_drivers_tests/test_multiple_driver_tests.py
Labels: tests

#12159 set depreacted metamask fields
  resources/js/provider.js
Labels: Tested - OK

#12024 🔘 Anon metrics opt-in UI (disabled using feature flags)
  .env
  .env.e2e
  .env.jenkins
  .env.nightly
  .env.release
  resources/images/ui/graph@2x.png
  resources/images/ui/graph@3x.png
  src/status_im/anon_metrics/core.cljs
  src/status_im/constants.cljs
  src/status_im/init/core.cljs
  src/status_im/multiaccounts/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/multiaccounts/logout/core.cljs
  src/status_im/navigation.cljs
  src/status_im/react_native/resources.cljs
  src/status_im/subs.cljs
  src/status_im/ui/components/accordion.cljs
  src/status_im/ui/components/invite/views.cljs
  src/status_im/ui/components/status_bar/view.cljs
  src/status_im/ui/screens/anonymous_metrics_settings/views.cljs
  src/status_im/ui/screens/intro/views.cljs
  src/status_im/ui/screens/multiaccounts/key_storage/views.cljs
  src/status_im/ui/screens/privacy_and_security_settings/views.cljs
  src/status_im/ui/screens/routing/main.cljs
  src/status_im/ui/screens/routing/profile_stack.cljs
  src/status_im/utils/config.cljs
  translations/ar.json
  translations/bn.json
  translations/de.json
  translations/el.json
  translations/en.json
  translations/es.json
  translations/es_419.json
  translations/es_AR.json
  translations/fil.json
  translations/fr.json
  translations/id.json
  translations/it.json
  translations/ja.json
  translations/ko.json
  translations/ms.json
  translations/nl.json
  translations/pl.json
  translations/pt.json
  translations/pt_BR.json
  translations/ru.json
  translations/tl.json
  translations/tr.json
  translations/vi.json
  translations/zh.json
  translations/zh_TW.json
Labels: Tested - OK

#12183 add blocked card popover
  src/status_im/keycard/common.cljs
  src/status_im/ui/screens/keycard/views.cljs
  src/status_im/ui/screens/popover/views.cljs
Labels: Tested - OK, request-manual-qa

#12173 Community channel editing
  src/status_im/communities/core.cljs
  src/status_im/ethereum/json_rpc.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/chat/sheets.cljs
  src/status_im/ui/screens/communities/channel_details.cljs
  src/status_im/ui/screens/communities/create.cljs
  src/status_im/ui/screens/communities/create_channel.cljs
  src/status_im/ui/screens/communities/edit_channel.cljs
  src/status_im/ui/screens/routing/chat_stack.cljs
  status-go-version.json
  translations/en.json
Labels: Tested - OK, communities

#12198 Fix mute chat & reset navigation
  src/status_im/chat/models.cljs
  src/status_im/data_store/chats.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/profile/contact/views.cljs
  status-go-version.json
Labels: Tested - OK

#12202 ci: do no delete non-draft releases
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/tools/Jenkinsfile.fastlane-clean
Labels: jenkins, release

#12204 Tests/e2e tech debt
  test/appium/support/api/network_api.py
  test/appium/support/api/web3_api.py
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_keycard_commands.py
  test/appium/tests/atomic/transactions/test_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_wallet.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/base_view.py
  test/appium/views/elements_templates/blank_camera_image.png
  test/appium/views/elements_templates/default_icon_profile.png
  test/appium/views/send_transaction_view.py
  test/appium/views/transactions_view.py
  test/appium/views/wallet_view.py
Labels: tests

#12211 e2e update to align RN update
  test/appium/tests/atomic/account_management/test_create_account.py
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/tests/atomic/transactions/test_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_wallet.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/tests/atomic/zzz_multiple_drivers_tests/test_multiple_driver_tests.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/dapps_view.py
  test/appium/views/send_transaction_view.py
  test/appium/views/sign_in_view.py
  test/appium/views/wallet_view.py
  test/appium/views/web_views/base_web_view.py
Labels: tests

#12228 ci: upgrade XCode 12.3 to 12.5
  ci/Jenkinsfile.ios
Labels: Tested - OK, ios, jenkins

#12223 Update e2e test
  test/appium/tests/atomic/account_management/test_create_account.py
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/tests/atomic/transactions/test_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_wallet.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/tests/atomic/zzz_multiple_drivers_tests/test_multiple_driver_tests.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/sign_in_view.py
  test/appium/views/wallet_view.py
Labels: tests

#12234 [#12233] support $HEZ erc20 token
  resources/images/tokens/mainnet/HEZ.png
  src/status_im/ethereum/tokens.cljs
Labels: Tested - OK, ethCC 2021, request-manual-qa

#12230 Feature/qr for browser
  src/status_im/router/core.cljs
  src/status_im/ui/screens/browser/options/views.cljs
  src/status_im/ui/screens/browser/views.cljs
  src/status_im/ui/screens/wallet/recipient/views.cljs
  src/status_im/utils/http.cljs
  src/status_im/utils/universal_links/core.cljs
  src/status_im/wallet/choose_recipient/core.cljs
Labels: Tested - OK, ethCC 2021, request-manual-qa

#12241 RNN e2e aligned
  test/appium/tests/atomic/account_management/test_create_account.py
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/dapps_and_browsing/test_dapps.py
  test/appium/tests/atomic/dapps_and_browsing/test_deep_links.py
  test/appium/tests/atomic/transactions/test_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_wallet.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/tests/atomic/zzz_multiple_drivers_tests/test_multiple_driver_tests.py
  test/appium/views/base_element.py
  test/appium/views/base_view.py
  test/appium/views/home_view.py
  test/appium/views/profile_view.py
  test/appium/views/send_transaction_view.py
  test/appium/views/sign_in_view.py
Labels: tests

#12244 [#11885] Add ETH2x-FLI erc20 token in our default list of supported t…
  resources/images/tokens/mainnet/ETH2x-FLI.png
  resources/images/tokens/mainnet/ETH2x-FLI@2x.png
  resources/images/tokens/mainnet/ETH2x-FLI@3x.png
  src/status_im/ethereum/tokens.cljs
Labels: Tested - OK, request-manual-qa

#12163 🗝️ Password reset UI
  .env
  .env.nightly
  ios/Podfile.lock
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  src/status_im/multiaccounts/reset_password/core.cljs
  src/status_im/native_module/core.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/popover/views.cljs
  src/status_im/ui/screens/privacy_and_security_settings/events.cljs
  src/status_im/ui/screens/privacy_and_security_settings/views.cljs
  src/status_im/ui/screens/reset_password/views.cljs
  src/status_im/ui/screens/screens.cljs
  src/status_im/utils/config.cljs
  status-go-version.json
  translations/en.json
Labels: request-manual-qa, security-review

#12247 ci: allow for providing custom Nix cache hosts
  ci/Jenkinsfile.nix-cache
Labels: jenkins, nix

#12231 Edit messages
  ci/Jenkinsfile.android
  src/status_im/chat/models/input.cljs
  src/status_im/chat/models/mentions.cljs
  src/status_im/chat/models/mentions_test.cljs
  src/status_im/data_store/messages.cljs
  src/status_im/ethereum/json_rpc.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/chat/components/edit.cljs
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui/screens/chat/components/reply.cljs
  src/status_im/ui/screens/chat/components/style.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/views.cljs
  status-go-version.json
  translations/en.json
Labels: Tested - OK

#12253 e2e: fixes and align with edit messages
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_keycard_commands.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/tests/atomic/transactions/test_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_dapps_transactions.py
  test/appium/views/keycard_view.py
  test/appium/views/profile_view.py
  test/appium/views/sign_in_view.py
  test/appium/views/wallet_view.py
Labels: tests

#12258 rnn more issues
  src/status_im/keycard/backup_key.cljs
  src/status_im/keycard/login.cljs
  src/status_im/navigation/core.cljs
  src/status_im/signing/core.cljs
  src/status_im/ui/components/keyboard_avoid_presentation.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/communities/channel_details.cljs
  src/status_im/ui/screens/communities/community.cljs
  src/status_im/ui/screens/communities/invite.cljs
  src/status_im/ui/screens/communities/members.cljs
  src/status_im/ui/screens/communities/profile.cljs
  src/status_im/ui/screens/communities/requests_to_join.cljs
  src/status_im/ui/screens/profile/contact/views.cljs
  src/status_im/ui/screens/status/views.cljs
Labels: Tested - Issues, request-manual-qa

#12262 e2e: revert wait balance method
  test/appium/tests/atomic/account_management/test_create_account.py
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_keycard_commands.py
  test/appium/tests/atomic/transactions/test_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_dapps_transactions.py
  test/appium/views/sign_in_view.py
  test/appium/views/wallet_view.py
  test/appium/views/web_views/base_web_view.py
Labels: tests
