Repository status-im/status-mobile, pull requests merged in 2021-02, with the labels that each got.

#11700 [TESTS]e2e:wallet_management + chats_management
  test/appium/tests/atomic/account_management/test_create_account.py
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/tests/atomic/transactions/test_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_keycard_dapps_transactions.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/tests/users.py
  test/appium/views/base_element.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/home_view.py
  test/appium/views/wallet_view.py
Labels: tests

#11672 [Snyk] Fix for 1 vulnerabilities
  test/appium/requirements.txt
Labels: tests

#11697 [#11674] Make sure token balances are fetched on mobile network
  src/status_im/ethereum/transactions/core.cljs
  src/status_im/wallet/core.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#11709 e2e commands: refactoring
  .gitignore
  test/appium/requirements.txt
  test/appium/support/api/network_api.py
  test/appium/support/api/web3_api.py
  test/appium/tests/atomic/account_management/test_create_account.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/tests/atomic/chats/test_keycard_commands.py
  test/appium/tests/atomic/transactions/test_keycard_wallet.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/base_element.py
  test/appium/views/chat_view.py
  test/appium/views/home_view.py
  test/appium/views/send_transaction_view.py
  test/appium/views/transactions_view.py
  test/appium/views/wallet_view.py
Labels: tests

#11714 fastlane: use Apple Store Connect API for CI builds
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
  fastlane/Fastfile
Labels: ios, jenkins

#11701 Don't rely on contacst for one-to-one mentions, and remove cursor
  src/status_im/chat/models/mentions.cljs
  src/status_im/contact/db.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/chat/components/input.cljs
Labels: 1.11, Tested - OK

#11702 Webview camera permission
  test/appium/requirements.txt
  test/appium/tests/atomic/dapps_and_browsing/test_dapps.py
  test/appium/views/base_element.py
  test/appium/views/base_view.py
  test/appium/views/elements_templates/blank_camera_image.png
  test/appium/views/web_views/base_web_view.py
Labels: tests

#11653 [#11117] Move PNs to status-go
  android/app/src/main/AndroidManifest.xml
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/ForegroundService.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/NewMessageSignalHandler.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/PushNotification.java
  src/status_im/chat/models.cljs
  src/status_im/native_module/core.cljs
  src/status_im/notifications/android.cljs
  src/status_im/notifications/core.cljs
  src/status_im/notifications/local.cljs
  src/status_im/qr_scanner/core.cljs
  src/status_im/router/core.cljs
  src/status_im/router/core_test.cljs
  src/status_im/ui/screens/add_new/new_chat/events.cljs
  src/status_im/utils/universal_links/events.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#11718 When no chat on screen is expected
  test/appium/views/home_view.py
Labels: tests

#11722 [TESTS] e2e: fix failures
  test/appium/support/api/network_api.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_keycard_commands.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/tests/atomic/transactions/test_dapps_transactions.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/wallet_view.py
Labels: tests

#11676 🐱 Enable tenor.com and giphy.com
  src/status_im/ui/screens/chat/message/link_preview.cljs
  src/status_im/ui/screens/chat/message/styles.cljs
  src/status_im/utils/config.cljs
Labels: 1.11, Tested - OK, request-manual-qa

#11726 [TESTS] small nightly fix
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/views/base_view.py
Labels: tests

#11707 Update translations
  translations/ar.json
  translations/bn.json
  translations/de.json
  translations/el.json
  translations/es.json
  translations/es_419.json
  translations/es_ar.json
  translations/fil.json
  translations/fr.json
  translations/id.json
  translations/it.json
  translations/ja.json
  translations/ko.json
  translations/ms.json
  translations/pt.json
  translations/ru.json
  translations/tr.json
  translations/zh.json
  translations/zh_TW.json
Labels: translations

#11725 Handle eth_accounts exception
  resources/js/provider.js
  src/status_im/browser/core.cljs
Labels: 1.11, Tested - OK, request-manual-qa

#11734 [TESTS] fix for duplicating chat in 2 e2e
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/views/base_view.py
Labels: tests

#11749 [#11704] Android 11 flatlist performance degradation
  src/status_im/ui/screens/chat/views.cljs
Labels: 1.11, Tested - OK, request-manual-qa

#11732 📶 [#11716] Implement new Connectivity dialogues and remove 'Offline' sn… 📶
  resources/images/icons/mobile_sync@2x.png
  resources/images/icons/mobile_sync@3x.png
  resources/images/icons/mobile_sync_off@2x.png
  resources/images/icons/mobile_sync_off@3x.png
  resources/images/icons/node_offline@2x.png
  resources/images/icons/node_offline@3x.png
  resources/images/icons/offline@2x.png
  resources/images/icons/offline@3x.png
  src/quo/components/button/view.cljs
  src/quo/components/list/item.cljs
  src/status_im/subs.cljs
  src/status_im/ui/components/connectivity/styles.cljs
  src/status_im/ui/components/connectivity/view.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/mobile_network_settings/events.cljs
  src/status_im/ui/screens/mobile_network_settings/sheets.cljs
  src/status_im/ui/screens/mobile_network_settings/view.cljs
  src/status_im/ui/screens/sync_settings/views.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa

#11753 e2e: new connection status
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/tests/atomic/chats/test_keycard_commands.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/transactions/test_wallet.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/home_view.py
Labels: tests

#11698 buy crypto
  ios/Podfile.lock
  resources/images/icons/buy_crypto@2x.png
  resources/images/icons/buy_crypto@3x.png
  src/quo/components/list/item.cljs
  src/status_im/ethereum/json_rpc.cljs
  src/status_im/events.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/routing/main.cljs
  src/status_im/ui/screens/routing/wallet_stack.cljs
  src/status_im/ui/screens/wallet/account/views.cljs
  src/status_im/ui/screens/wallet/accounts/views.cljs
  src/status_im/ui/screens/wallet/buy_crypto/sheets.cljs
  src/status_im/ui/screens/wallet/buy_crypto/views.cljs
  src/status_im/ui/screens/wallet/events.cljs
  status-go-version.json
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/views/base_element.py
  translations/en.json
Labels: Tested - OK, design-review, request-manual-qa

#11758 e2e: fixes and py upgrade
  test/appium/requirements.txt
  test/appium/tests/atomic/account_management/test_wallet_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/views/base_element.py
  test/appium/views/home_view.py
Labels: tests

#11741 [#11395] Inapp Keycard upsell MVP
  src/status_im/ui/screens/multiaccounts/key_storage/views.cljs
  src/status_im/ui/screens/multiaccounts/login/views.cljs
Labels: 1.12, Tested - OK, request-manual-qa

#11766 e2e:-5 critical e2e and fixes
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/profile_view.py
Labels: tests

#11540 Feature/keycard ios
  ios/Bridge.swift
  ios/Podfile
  ios/Podfile.lock
  ios/StatusIm.xcodeproj/project.pbxproj
  ios/StatusIm/Info.plist
  ios/StatusIm/StatusIm.entitlements
  ios/StatusImPR/Info.plist
  ios/StatusImPR/StatusImPR.entitlements
  ios/StatusImTests-Bridging-Header.h
  ios/StatusImTests/Info.plist
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  package.json
  src/quo/components/bottom_sheet/view.cljs
  src/status_im/keycard/card.cljs
  src/status_im/keycard/change_pin.cljs
  src/status_im/keycard/common.cljs
  src/status_im/keycard/common_test.cljs
  src/status_im/keycard/core.cljs
  src/status_im/keycard/export_key.cljs
  src/status_im/keycard/fx.cljs
  src/status_im/keycard/keycard.cljs
  src/status_im/keycard/login.cljs
  src/status_im/keycard/real_keycard.cljs
  src/status_im/keycard/recovery.cljs
  src/status_im/keycard/sign.cljs
  src/status_im/keycard/simulated_keycard.cljs
  src/status_im/multiaccounts/create/core.cljs
  src/status_im/multiaccounts/recover/core.cljs
  src/status_im/signing/core.cljs
  src/status_im/ui/screens/intro/views.cljs
  src/status_im/ui/screens/keycard/recovery/views.cljs
  src/status_im/ui/screens/keycard/views.cljs
  src/status_im/ui/screens/multiaccounts/key_storage/views.cljs
  src/status_im/ui/screens/multiaccounts/recover/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/ui/screens/signing/views.cljs
  src/status_im/ui/screens/wallet/add_new/views.cljs
  yarn.lock
Labels: Tested - OK

#11776 e2e: several fixes
  test/appium/support/api/network_api.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/chats/test_public.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
Labels: tests

#11761 ci: adjust behavior of PUBLISH to be true for releases
  ci/Jenkinsfile.combined
Labels: jenkins, release

#11782 New e2e test to set image from Gallary and Photo
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/dapps_and_browsing/test_dapps.py
  test/appium/views/base_element.py
  test/appium/views/base_view.py
  test/appium/views/elements_templates/sauce_logo_profile.png
  test/appium/views/profile_view.py
Labels: tests

#11752 Delivered messages marked in private chats
  resources/images/icons/tiny_delivered@2x.png
  resources/images/icons/tiny_delivered@3x.png
  src/status_im/chat/models/message.cljs
  src/status_im/signals/core.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#11774 improve Keycard login performance
  package.json
  src/status_im/keycard/card.cljs
  src/status_im/keycard/common.cljs
  src/status_im/keycard/fx.cljs
  src/status_im/keycard/ios_keycard.cljs
  src/status_im/keycard/keycard.cljs
  src/status_im/keycard/real_keycard.cljs
  src/status_im/keycard/recovery.cljs
  src/status_im/keycard/simulated_keycard.cljs
  yarn.lock
Labels: Tested - OK

#11785 e2e: previews in links
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/base_test_case.py
  test/appium/views/chat_view.py
Labels: tests

#11727 PNs for transaction messages
  src/status_im/notifications/local.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#11756 [#11743] Fix crash on network change
  src/status_im/ui/screens/network/network_details/views.cljs
Labels: Tested - OK, community, request-manual-qa

#11794 Test migrate kk + test for delivered messages
  src/status_im/ui/screens/multiaccounts/key_storage/views.cljs
  src/status_im/ui/screens/multiaccounts/login/views.cljs
  src/status_im/ui/screens/multiaccounts/recover/views.cljs
  test/appium/tests/atomic/account_management/test_create_account.py
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/views/chat_view.py
  test/appium/views/profile_view.py
  test/appium/views/sign_in_view.py
Labels: tests
