Repository status-im/status-mobile, pull requests merged in 2022-04, with the labels that each got.

#13237 Don't unmute contact while adding
  src/status_im/chat/models.cljs
  src/status_im/chat/models/loading.cljs
  src/status_im/data_store/chats.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#13238 E2e: backup of nicknames, blocked users, ENS
  test/appium/tests/atomic/account_management/test_profile.py
Labels: tests

#13241 [#13233] Proper message after clearing history in pubchat
  src/status_im/ui/screens/chat/group.cljs
  translations/en.json
Labels: Tested - OK

#13244 e2e: nightly fixes
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/test_public_chat_browsing.py
  test/appium/tests/atomic/transactions/test_keycard_wallet.py
  test/appium/tests/atomic/zzz_multiple_drivers_tests/test_multiple_driver_tests.py
Labels: tests

#13250 e2e: group for ENS and mentions
  test/appium/support/testrail_report.py
  test/appium/tests/atomic/account_management/test_create_restore_account.py
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_one_to_one.py
  test/appium/tests/atomic/zzz_multiple_drivers_tests/test_multiple_driver_tests.py
  test/appium/views/chat_view.py
Labels: tests

#13242 Sauce sessions check
  test/appium/tests/__init__.py
Labels: tests

#13211 status timeline: set image max width to avoid overflow of horizontally long images
  src/status_im/ui/screens/status/views.cljs
Labels: Tested - OK, request-manual-qa

#12980 ci: upgrade Nix from 2.3.12 to 2.6.1
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
  nix/KNOWN_ISSUES.md
  nix/scripts/build.sh
  nix/scripts/clean.sh
  nix/scripts/lib.sh
  nix/scripts/node_modules.sh
  nix/scripts/purge.sh
  nix/scripts/setup.sh
  nix/scripts/source.sh
  package.json
  yarn.lock
Labels: nix

#13251 e2e: test browser medium group
  test/appium/support/testrail_report.py
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/tests/atomic/test_public_chat_browsing.py
Labels: tests

#13264 e2e: added test_browser_resolve_ipns_name into browser group
  test/appium/tests/atomic/dapps_and_browsing/test_dapps.py
  test/appium/tests/atomic/test_public_chat_browsing.py
Labels: tests

#13261 e2e: pairing
  test/appium/support/testrail_report.py
  test/appium/tests/atomic/zzz_multiple_drivers_tests/test_multiple_driver_tests.py
  test/appium/tests/test_performance.py
  test/appium/views/chat_view.py
Labels: tests

#13270 Fix yarn install issue with rn-emoji-keyboard
  package.json
  yarn.lock
Labels: Tested - OK, request-manual-qa

#13268 [WIP] e2e: cleanup
  ci/tests/Jenkinsfile.e2e-prs
  test/appium/support/testrail_report.py
  test/appium/tests/atomic/account_management/test_keycard.py
  test/appium/tests/atomic/account_management/test_profile.py
  test/appium/tests/atomic/chats/test_chats_management.py
  test/appium/tests/atomic/chats/test_commands.py
  test/appium/tests/atomic/chats/test_communities.py
  test/appium/tests/atomic/chats/test_group_chat.py
  test/appium/tests/atomic/chats/test_keycard_commands.py
  test/appium/tests/atomic/dapps_and_browsing/test_browsing.py
  test/appium/tests/atomic/dapps_and_browsing/test_dapps.py
  test/appium/tests/atomic/dapps_and_browsing/test_deep_links.py
  test/appium/tests/atomic/test_public_chat_browsing.py
  test/appium/tests/atomic/transactions/test_keycard_wallet.py
  test/appium/tests/atomic/transactions/test_wallet_dapp_tx.py
  test/appium/tests/atomic/zzz_multiple_drivers_tests/test_multiple_driver_tests.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/tests/critical/onboarding/test_onboarding_flows.py
  test/appium/tests/critical/test_pairing_devices_sync.py
  test/appium/tests/critical/test_public_chat_browsing.py
  test/appium/tests/critical/wallet_and_tx/test_send_tx_dapp_keycard.py
  test/appium/tests/critical/wallet_and_tx/test_wallet.py
  test/appium/tests/marks.py
  test/appium/tests/medium/chats/test_chats.py
  test/appium/tests/medium/test_browser_profile.py
  test/appium/tests/medium/test_multiple_devices.py
  test/appium/tests/medium/test_single_device.py
  test/appium/tests/non_func/test_api.py
  test/appium/tests/non_func/test_chatbot.py
  test/appium/tests/non_func/test_performance.py
  test/appium/tests/non_func/test_translations.py
  test/appium/tests/upgrade/test_upgrade.py
Labels: tests

#13262 [#13198] Backup deleted community
  status-go-version.json
Labels: Tested - OK

#13265 e2e: Updated GH and TR reports
  ci/tests/Jenkinsfile.e2e-prs
  test/appium/support/base_test_report.py
  test/appium/support/github_report.py
  test/appium/support/test_data.py
  test/appium/support/testrail_report.py
  test/appium/tests/__init__.py
  test/appium/tests/base_test_case.py
Labels: tests

#13292 [#13283] Fix syncing of adding contact after removal
  src/status_im/subs.cljs
  src/status_im/ui/screens/add_new/new_chat/views.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/profile/contact/views.cljs
  status-go-version.json
Labels: request-manual-qa
