Repository status-im/status-mobile, pull requests merged in 2022-05, with the labels that each got.

#13294 Nightly fixes
  ci/tests/Jenkinsfile.e2e-nightly
  ci/tests/Jenkinsfile.e2e-prs
  test/appium/support/testrail_report.py
  test/appium/tests/base_test_case.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/tests/critical/onboarding/test_onboarding_flows.py
  test/appium/tests/critical/test_pairing_devices_sync.py
  test/appium/tests/critical/test_public_chat_browsing.py
  test/appium/tests/critical/wallet_and_tx/test_wallet.py
  test/appium/tests/medium/test_browser_profile.py
  test/appium/views/base_view.py
  test/appium/views/elements_templates/collectible_pic.png
Labels: tests

#13318 e2e refactor:added TestDeeplinkChatProfile medium group
  test/appium/support/testrail_report.py
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
  test/appium/tests/medium/test_single_device.py
Labels: tests

#13326 Changed adding TR results
  test/appium/support/testrail_report.py
  test/appium/tests/conftest.py
  test/appium/tests/non_func/test_api.py
Labels: E:E2E

#13329 Nightly fixes for e2e
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/test_public_chat_browsing.py
  test/appium/tests/critical/wallet_and_tx/test_wallet.py
  test/appium/tests/medium/chats/test_chats.py
  test/appium/tests/medium/test_multiple_devices.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/base_view.py
Labels: tests, E:E2E

#13332 Fixed adding results to TestRail
  test/appium/support/testrail_report.py
Labels: E:E2E

#13324 ci: upgarde to Xcode 13.3.1
  ci/Jenkinsfile.ios
  nix/overlay.nix
Labels: ios, Tested - OK, dependencies

#13341 fix nickname not setted on adding contact
  src/status_im/add_new/core.cljs
  src/status_im/ui/screens/add_new/new_chat/views.cljs
Labels: Tested - OK, request-manual-qa

#13343 e2e: launching by groups
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/tests/critical/onboarding/test_onboarding_flows.py
  test/appium/tests/critical/test_pairing_devices_sync.py
  test/appium/tests/critical/test_public_chat_browsing.py
  test/appium/tests/critical/wallet_and_tx/test_send_tx_dapp_keycard.py
  test/appium/tests/critical/wallet_and_tx/test_wallet.py
  test/appium/tests/medium/chats/test_chats.py
  test/appium/tests/medium/test_browser_profile.py
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
Labels: E:E2E

#13243 Fix currency and sticker synchronisation
  .gitignore
  src/status_im/multiaccounts/update/core.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#13350 e2e: fix for users
  test/appium/tests/critical/wallet_and_tx/test_send_tx_dapp_keycard.py
  test/appium/tests/medium/test_multiple_devices.py
  test/appium/tests/medium/test_single_device.py
Labels: tests

#13356 e2e: medium pairing
  test/appium/support/testrail_report.py
  test/appium/tests/medium/test_multiple_devices.py
  test/appium/tests/medium/test_pairing_devices_sync_m.py
  test/appium/tests/medium/test_single_device.py
Labels: tests

#13267 nix: fix purge.sh script on Darwin platform
  nix/scripts/lib.sh
  nix/scripts/purge.sh
Labels: nix

#13363 TR results fix
  ci/tests/Jenkinsfile.e2e-prs
  test/appium/support/testrail_report.py
Labels: tests

#13308 Feat/wallet sync
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/transport/message/core.cljs
Labels: Tested - OK

#13371 fix chat image long press issue
  src/status_im/ui/screens/chat/message/reactions.cljs
Labels: Tested - OK, request-manual-qa

#13362 e2e: 2 groups
  test/appium/support/testrail_report.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/medium/chats/test_chats.py
  test/appium/tests/medium/test_activity_center.py
  test/appium/tests/medium/test_multiple_devices.py
  test/appium/tests/medium/test_profile_m.py
  test/appium/views/home_view.py
Labels: tests

#13388 e2e: refactor permissions_scan_qr group
  test/appium/support/testrail_report.py
  test/appium/tests/medium/test_permissions_scan_qr.py
  test/appium/tests/medium/test_single_device.py
Labels: tests

#13382 e2e: all 2-driver tests are refactored
  test/appium/support/testrail_report.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_multiple_devices.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/elements_templates/ment_new.png
  test/appium/views/home_view.py
  test/appium/views/wallet_view.py
Labels: tests, E:E2E

#13392 e2e: test steps for groups
  test/appium/tests/conftest.py
Labels: E:E2E

#13364 [feature] [#13099] Automatic RPC usage refresh
  src/status_im/ui/screens/rpc_usage_info.cljs
Labels: Tested - OK, request-manual-qa, external

#13373 Update translations and add Hindi
  src/status_im/i18n/i18n_resources.cljs
  translations/ar.json
  translations/bn.json
  translations/de.json
  translations/es_419.json
  translations/fil.json
  translations/fr.json
  translations/hi.json
  translations/it.json
  translations/ja.json
  translations/ko.json
  translations/ms.json
  translations/nl.json
  translations/pl.json
  translations/pt_BR.json
  translations/ru.json
  translations/tr.json
  translations/zh.json
  translations/zh_TW.json
Labels: translations

#13384 Implementation of new UI toggle
  src/status_im/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/navigation/roots.cljs
  src/status_im/navigation2.cljs
  src/status_im/navigation2/home_stack.cljs
  src/status_im/navigation2/roots.cljs
  src/status_im/navigation2/screens.cljs
  src/status_im/subs.cljs
  src/status_im/switcher/styles.cljs
  src/status_im/ui/screens/advanced_settings/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/ui/screens/screens.cljs
  src/status_im/ui/screens/views.cljs
  src/status_im/utils/config.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa

#13379 [#13357] 'Unknown Not a contact' screen with endless spinner when sta…
  src/status_im/chat/models.cljs
  src/status_im/contact/chat.cljs
  src/status_im/events.cljs
  src/status_im/group_chats/core.cljs
  src/status_im/navigation/core.cljs
  src/status_im/navigation/state.cljs
  src/status_im/qr_scanner/core.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/ui/screens/add_new/new_public_chat/view.cljs
  src/status_im/ui/screens/browser/options/views.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/help_center/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/screens.cljs
  src/status_im/utils/universal_links/core.cljs
  test/appium/views/base_view.py
Labels: Tested - OK, request-manual-qa

#13393 e2e: nav fixes
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/tests/critical/onboarding/test_onboarding_flows.py
  test/appium/tests/critical/test_pairing_devices_sync.py
  test/appium/tests/critical/test_public_chat_browsing.py
  test/appium/tests/critical/wallet_and_tx/test_wallet.py
  test/appium/tests/medium/test_activity_center.py
  test/appium/tests/medium/test_browser_profile.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
Labels: tests

#13426 fixed ids for qr scan tests
  test/appium/tests/medium/test_permissions_scan_qr.py
Labels: tests

#13413 e2e: final group, finishing refactoring
  test/appium/support/testrail_report.py
  test/appium/tests/medium/test_single_device.py
  test/appium/tests/medium/test_wallet_keycard_m.py
  test/appium/views/home_view.py
Labels: tests
