Repository status-im/status-mobile, pull requests merged in 2022-11, with the labels that each got.

#14275 Add `code-snippet` component
  android/app/src/main/assets/fonts/UbuntuMono-Regular.ttf
  ios/StatusIm.xcodeproj/project.pbxproj
  ios/StatusIm/Info.plist
  ios/StatusImPR/Info.plist
  package.json
  resources/fonts/UbuntuMono-Regular.ttf
  src/quo2/components/code/snippet.cljs
  src/quo2/components/markdown/text.cljs
  src/quo2/foundations/typography.cljs
  src/quo2/screens/code/snippet.cljs
  src/quo2/screens/main.cljs
  yarn.lock
Labels: request-manual-qa, external, new-design [quo2]

#14274 Add members key to the chat-preview flow to show count of members on chat preview
  src/status_im/data_store/chats.cljs
  src/status_im/group_chats/db.cljs
  src/status_im/ui/screens/home/views/inner_item.cljs
  status-go-version.json
Labels: Tested - OK

#14285 e2e: deep_link tests
  test/appium/support/testrail_report.py
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
  test/appium/views/chat_view.py
Labels: tests

#14257 fix #14236 Sometimes profile pictures don't load
  src/status_im/multiaccounts/core.cljs
  src/status_im/subs/chat/chats.cljs
  src/status_im/ui/components/fast_image.cljs
Labels: request-manual-qa

#14256 Messages home items
  src/quo2/components/avatars/user_avatar.cljs
  src/quo2/components/list_items/received_cr_item.cljs
  src/quo2/components/notifications/info_count.cljs
  src/status_im/subs/chat/chats.cljs
  src/status_im/subs/ens.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui2/screens/chat/components/contact_item/test.cljs
  src/status_im/ui2/screens/chat/components/contact_item/view.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/style.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/test.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/view.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  translations/en.json
Labels: new-design [quo2]

#14278 1-1 chat group and configurable datacenter
  test/appium/support/base_test_report.py
  test/appium/support/testrail_report.py
  test/appium/tests/base_test_case.py
  test/appium/tests/cloudbase_test_api.py
  test/appium/tests/conftest.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/views/chat_view.py
  test/appium/views/profile_view.py
Labels: E:E2E

#14316 chore: fix can't remove node 0 error breaking react-devtools
  package.json
  yarn.lock
Labels: developer-xp

#14309 Document new guidelines
  README.md
  doc/codebase-structure-and-guidelines.md
  doc/new-guidelines.md
Labels: docs

#14358 fix community channel back button
  src/status_im/chat/models.cljs
Labels: request-manual-qa

#14295 Feature: Implement selectors for blurred background
  src/quo2/components/selectors/selectors.cljs
  src/status_im/ui2/screens/quo2_preview/selectors/selectors.cljs
Labels: external, new-design [quo2]

#14283 Use WakuNodes in ClusterConfig for Waku V2
  resources/config/fleets.json
  src/status_im/node/core.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#14072 Feature/#14025 messages loading skeleton
  src/react_native/reanimated.cljs
  src/status_im/ui/screens/chat/components/messages_skeleton.cljs
  src/status_im/ui/screens/chat/message/gap.cljs
  src/status_im/ui2/screens/chat/messages/view.cljs
  src/status_im/ui2/screens/quo2_preview/main.cljs
  src/status_im/ui2/screens/quo2_preview/posts_and_attachments/messages_skeleton.cljs
Labels: Tested - OK, new-design [quo2]

#14365 Implement identity verification flow
  src/quo2/components/notifications/activity_logs.cljs
  src/quo2/core.cljs
  src/status_im/activity_center/core.cljs
  src/status_im/activity_center/core_test.cljs
  src/status_im/activity_center/notification_types.cljs
  src/status_im/constants.cljs
  src/status_im/data_store/activities_test.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/style.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/view.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/style.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
  src/status_im/ui/screens/activity_center/sheet/contact_verification.cljs
  src/status_im/ui/screens/activity_center/style.cljs
  src/status_im/ui/screens/activity_center/utils.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/bottom_sheets/views.cljs
  src/status_im/ui2/screens/quo2_preview/notifications/activity_logs.cljs
  status-go-version.json
  translations/en.json
Labels: Activity center

#14398 [Fix] Activity Centre UI bug
  src/status_im/activity_center/core.cljs
  src/status_im/ui/screens/activity_center/style.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im2/contexts/communities/home/view.cljs
Labels: Activity center

#14389 Fix Metro Warnings ⚠️
  resources/images/icons2/32x32/identicon-ring@2x.png
  resources/images/icons2/32x32/identicon-ring@3x.png
  src/quo2/components/avatars/user_avatar.cljs
  src/quo2/components/drawers/action_drawers.cljs
  src/quo2/components/icons/icons.clj
  src/react_native/navigation.cljs
  src/status_im/ui2/screens/chat/actions.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/view.cljs
  src/status_im/ui2/screens/chat/components/reply.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im2/navigation/core.cljs
  src/status_im2/navigation/events.cljs
  src/status_im2/setup/dev.cljs
Labels: developer-xp, performance

#14401 Fix reconciliation of notifications for new filter type :all
  src/status_im/activity_center/core.cljs
  src/status_im/activity_center/core_test.cljs
  src/status_im/data_store/activities.cljs
  src/status_im/data_store/activities_test.cljs
  src/status_im/transport/message/core.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/utils/config.cljs
Labels: bug, Activity center

#14407 e2e: pin messages in 1-1 and group chats
  ci/tests/Jenkinsfile.e2e-nightly
  test/appium/support/testrail_report.py
  test/appium/tests/marks.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/views/base_element.py
  test/appium/views/chat_view.py
  test/appium/views/home_view.py
Labels: tests

#14377 Group Details Screen
  src/quo2/components/avatars/group_avatar.cljs
  src/react_native/core.cljs
  src/react_native/section_list.cljs
  src/status_im/i18n/i18n_test.cljs
  src/status_im/ui/screens/profile/components/sheets.cljs
  src/status_im/ui/screens/screens.cljs
  src/status_im/ui2/screens/chat/actions.cljs
  src/status_im/ui2/screens/chat/components/contact_item/view.cljs
  src/status_im/ui2/screens/chat/group_details/style.cljs
  src/status_im/ui2/screens/chat/group_details/view.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im2/setup/i18n_test.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, new-design [quo2]

#14405 Fix various Activity Log layout issues
  src/quo2/components/notifications/activity_log/style.cljs
  src/quo2/components/notifications/activity_log/view.cljs
  src/quo2/core.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/view.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
  src/status_im/ui/screens/activity_center/style.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im2/contexts/quo_preview/notifications/activity_logs.cljs
Labels: Activity center

#14404 [#14381] Wrap texts with view to ensure separate accessibility labels
  src/quo2/components/avatars/user_avatar.cljs
  src/status_im/ui/screens/communities/invite.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
Labels: Tested - OK, request-manual-qa

#14304 Author component
  src/quo2/components/messages/author/style.cljs
  src/quo2/components/messages/author/view.cljs
  src/status_im2/contexts/quo_preview/main.cljs
  src/status_im2/contexts/quo_preview/messages/author.cljs
  src/status_im2/contexts/quo_preview/preview.cljs
Labels: new-design [quo2]

#14420 e2e: testrail align
  test/appium/support/testrail_report.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
  test/appium/views/chat_view.py
  test/appium/views/elements_templates/member2.png
Labels: tests

#14249 Allow styling text in composer when selecting it with native actions
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/RNSelectableTextInputModule.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/RNSelectableTextInputViewManager.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusPackage.java
  src/status_im/ui2/screens/chat/composer/input.cljs
  translations/en.json
Labels: Tested - OK

#14419 move chats home
  src/quo2/components/navigation/top_nav.cljs
  src/quo2/components/tabs/tabs.cljs
  src/quo2/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/ui/screens/wallet/accounts/views.cljs
  src/status_im/ui2/screens/chat/components/contact_item/test.cljs
  src/status_im/ui2/screens/chat/components/contact_item/view.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/style.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/test.cljs
  src/status_im/ui2/screens/chat/components/message_home_item/view.cljs
  src/status_im/ui2/screens/chat/group_details/view.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/common/alert/view.cljs
  src/status_im/ui2/screens/common/core.cljs
  src/status_im/utils/utils.cljs
  src/status_im2/common/confirmation_drawer/style.cljs
  src/status_im2/common/confirmation_drawer/view.cljs
  src/status_im2/common/contact_list_item/style.cljs
  src/status_im2/common/contact_list_item/view.cljs
  src/status_im2/common/home/actions/view.cljs
  src/status_im2/common/home/style.cljs
  src/status_im2/common/home/view.cljs
  src/status_im2/contexts/chat/home/chat_list_item/style.cljs
  src/status_im2/contexts/chat/home/chat_list_item/view.cljs
  src/status_im2/contexts/chat/home/contact_request/style.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
  src/status_im2/contexts/chat/home/view.cljs
  src/status_im2/contexts/communities/home/view.cljs
  src/status_im2/contexts/communities/overview/style.cljs
  src/status_im2/contexts/communities/overview/view.cljs
  src/status_im2/contexts/quo_preview/navigation/top_nav.cljs
  src/status_im2/contexts/shell/home_stack.cljs
  src/status_im2/contexts/shell/view.cljs
  src/status_im2/navigation/screens.cljs
  src/status_im2/subs/activity_center.cljs
  src/status_im2/subs/contact.cljs
  src/utils/address.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa

#14403 adjust navigation colors and small bugfixes
  src/status_im/events.cljs
  src/status_im/multiaccounts/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im2/contexts/shell/view.cljs
  src/status_im2/navigation/core.cljs
  src/status_im2/navigation/events.cljs
  src/status_im2/navigation/roots.cljs
  src/status_im2/navigation/view.cljs
  src/status_im2/setup/dev.cljs
  src/status_im2/setup/events.cljs
Labels: Tested - OK

#14434 ci: add missing suffix to android e2e builds
  ci/Jenkinsfile.android
Labels: android

#14431 fix everyone is displaying as online in community channel and chat list
  src/status_im/events.cljs
  src/status_im/ui/screens/profile/visibility_status/views.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im2/contexts/chat/home/chat_list_item/view.cljs
  src/status_im2/subs/general.cljs
Labels: Tested - OK, request-manual-qa

#14439 Mark CTA notifications as read
  src/status_im/activity_center/core.cljs
  src/status_im/activity_center/core_test.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/view.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im2/common/home/view.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
Labels: Activity center

#14281 feat: add scrolling in community
  src/quo2/components/navigation/page_nav.cljs
  src/react_native/core.cljs
  src/status_im/ui/screens/communities/icon.cljs
  src/status_im2/contexts/communities/overview/style.cljs
  src/status_im2/contexts/communities/overview/view.cljs
  src/status_im2/contexts/communities/requests/actions/view.cljs
  src/status_im2/navigation/core.cljs
Labels: Tested - Issues, request-manual-qa, new-design [quo2]

#14445 Update guidelines
  doc/new-guidelines.md
Labels: docs

#14367 Fix edit message
  resources/images/icons2/16x16/connector@2x.png
  resources/images/icons2/16x16/connector@3x.png
  src/status_im/chat/models/input.cljs
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui2/screens/chat/components/edit/style.cljs
  src/status_im/ui2/screens/chat/components/edit/view.cljs
  src/status_im/ui2/screens/chat/composer/edit/style.cljs
  src/status_im/ui2/screens/chat/composer/edit/view.cljs
  src/status_im/ui2/screens/chat/composer/input.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
Labels: Tested - OK, new-design [quo2]

#14451 [Feature][#14352] Added mentions in Activity Center
  src/quo2/core.cljs
  src/status_im/ui/screens/activity_center/notification/common/style.cljs
  src/status_im/ui/screens/activity_center/notification/common/view.cljs
  src/status_im/ui/screens/activity_center/notification/mentions/style.cljs
  src/status_im/ui/screens/activity_center/notification/mentions/view.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  translations/en.json
Labels: Activity center, new-design [quo2]

#14454 [Chore] Use common for repeated code
  src/status_im/ui/screens/activity_center/notification/contact_request/style.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/view.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/style.cljs
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
  src/status_im/ui/screens/activity_center/notification/mentions/view.cljs
Labels: chore, Activity center

#14452 e2e: Creating users and getting names in parallel
  test/appium/tests/__init__.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
Labels: tests

#14444 fix: adjust community cards on discover page
  src/quo2/components/community/community_card_view.cljs
  src/status_im2/contexts/communities/discover/view.cljs
Labels: Tested - OK, request-manual-qa, new-design [quo2]
