Repository status-im/status-mobile, pull requests merged in 2022-12, with the labels that each got.

#13899 Implement Token Gating
  .gitignore
  src/quo2/components/buttons/button.cljs
  src/quo2/components/community/community_view.cljs
  src/quo2/components/community/token_gating.cljs
  src/quo2/components/info/info_message.cljs
  src/quo2/components/info/information_box.cljs
  src/quo2/components/list_items/channel.cljs
  src/quo2/components/tags/permission_tag.cljs
  src/status_im2/contexts/communities/overview/view.cljs
  src/status_im2/contexts/quo_preview/community/token_gating.cljs
  src/status_im2/contexts/quo_preview/main.cljs
  translations/en.json
Labels: external, new-design [quo2]

#14472 Introduce subscription tests
  .clj-kondo/config.edn
  doc/new-guidelines.md
  src/status_im/test_helpers.clj
  src/status_im/test_helpers.cljs
  src/status_im2/subs/activity_center_test.cljs
  src/status_im2/subs/communities_test.cljs
  src/status_im2/subs/subs_test.cljs
  src/status_im2/subs/wallet/wallet_test.cljs
Labels: tech-debt, chore

#14497 e2e:Fixed test_group_chat_pin_messages and moved to PR tests
  test/appium/support/testrail_report.py
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
Labels: tests

#14411 ci: update Apple dev team ID to update the org
  doc/STARTING_GUIDE.md
  ios/StatusIm.xcodeproj/project.pbxproj
Labels: ios, Tested - OK

#14502 Bug/composer background fix
  src/status_im/ui2/screens/chat/composer/style.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
Labels: Tested - OK, request-manual-qa

#14453 chore: refactor scroll page component to be more generic
  src/quo2/components/community/community_view.cljs
  src/quo2/core.cljs
  src/status_im2/common/scroll_page/style.cljs
  src/status_im2/common/scroll_page/view.cljs
  src/status_im2/contexts/communities/overview/style.cljs
  src/status_im2/contexts/communities/overview/view.cljs
Labels: Tested - OK, request-manual-qa

#14492 Set Activity Center as the new default
  src/quo2/components/notifications/activity_log/view.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im2/setup/config.cljs
Labels: Tested - OK, Activity center

#14506 e2e: new activity centre
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/test_pairing_devices_sync.py
  test/appium/views/home_view.py
Labels: tests

#14525 fix unread badge and add back button accessibility id
  src/quo2/components/navigation/page_nav.cljs
  src/status_im/chat/models.cljs
Labels: Tested - OK, request-manual-qa

#14526 Lint namespace aliases
  .clj-kondo/config.edn
  doc/new-guidelines.md
  src/quo2/components/avatars/wallet_user_avatar.cljs
  src/quo2/components/code/snippet.cljs
  src/quo2/components/icons/icons.clj
  src/status_im/async_storage/transit.cljs
  src/status_im/contact/db.cljs
  src/status_im/ethereum/macros.clj
  src/status_im/keycard/sign.cljs
  src/status_im/notifications/local.cljs
  src/status_im/test_runner.cljs
  src/status_im/ui/components/icons/icons.clj
  src/status_im/ui/screens/activity_center/notification/contact_verification/view.cljs
  src/status_im/ui/screens/activity_center/notification/mentions/view.cljs
  src/status_im/ui/screens/communities/community_emoji_thumbnail_picker.cljs
  src/status_im/ui/screens/communities/create.cljs
  src/status_im/ui/screens/communities/create_category.cljs
  src/status_im/ui/screens/communities/create_channel.cljs
  src/status_im/ui/screens/communities/edit_channel.cljs
  src/status_im/ui/screens/communities/invite.cljs
  src/status_im/ui/screens/privacy_and_security_settings/events.cljs
  src/status_im/ui/screens/signing/sheets.cljs
  src/status_im/ui/screens/wallet/collectibles/views.cljs
  src/status_im/ui/screens/wallet/swap/views.cljs
  src/status_im/ui2/screens/chat/components/received_cr_item.cljs
  src/status_im/utils/datetime.cljs
  src/status_im/utils/name.cljs
  src/status_im/utils/snoopy.cljs
Labels: chore

#14515 Communities now correctly listed in pending/joined sections.
  src/status_im2/contexts/communities/home/view.cljs
  src/status_im2/contexts/communities/overview/style.cljs
  src/status_im2/contexts/communities/overview/view.cljs
  src/status_im2/subs/communities.cljs
  src/status_im2/subs/communities_test.cljs
  translations/en.json
Labels: communities

#14421 e2e: communities new tests
  test/appium/support/testrail_report.py
  test/appium/tests/critical/test_public_chat_browsing.py
  test/appium/views/chat_view.py
  test/appium/views/home_view.py
Labels: tests

#14533 Remove old Notification Center
  src/status_im/activity_center/core.cljs
  src/status_im/activity_center/core_test.cljs
  src/status_im/chat/models/loading.cljs
  src/status_im/chat/models/message.cljs
  src/status_im/communities/core.cljs
  src/status_im/contact/block.cljs
  src/status_im/contact/chat.cljs
  src/status_im/contact/core.cljs
  src/status_im/data_store/activities.cljs
  src/status_im/data_store/activities_test.cljs
  src/status_im/events.cljs
  src/status_im/group_chats/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/notifications_center/core.cljs
  src/status_im/transport/message/core.cljs
  src/status_im/ui/screens/communities/community.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/notifications_center/styles.cljs
  src/status_im/ui/screens/notifications_center/views.cljs
  src/status_im/ui/screens/notifications_center/views/notification.cljs
  src/status_im/ui/screens/screens.cljs
  src/status_im/utils/universal_links/core.cljs
  src/status_im2/common/contact_list_item/view.cljs
  src/status_im2/common/home/view.cljs
  src/status_im2/contexts/chat/home/chat_list_item/view.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
  src/status_im2/contexts/chat/home/view.cljs
  src/status_im2/setup/config.cljs
  src/status_im2/subs/activity_center.cljs
  src/status_im2/subs/root.cljs
Labels: Activity center

#14450 Message input issues
  src/quo/react_native.cljs
  src/status_im/chat/models/input.cljs
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui2/screens/chat/components/edit/view.cljs
  src/status_im/ui2/screens/chat/composer/edit/view.cljs
  src/status_im/ui2/screens/chat/composer/input.cljs
  src/status_im/ui2/screens/chat/composer/mentions.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
Labels: Tested - OK

#14546 feat: Added Dividers Date Component to quo2
  src/quo2/components/dividers/date.cljs
  src/quo2/core.cljs
  src/status_im2/contexts/chat/messages/list/view.cljs
  src/status_im2/contexts/quo_preview/dividers/date.cljs
  src/status_im2/contexts/quo_preview/main.cljs
Labels: external, new-design [quo2]

#14514 UI for mobile to mobile local pairing - updated
  .env
  .env.e2e
  .env.jenkins
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  resources/images/ui/sync-new-device-cover-background@2x.png
  resources/images/ui/sync-new-device-cover-background@3x.png
  src/status_im/constants.cljs
  src/status_im/native_module/core.cljs
  src/status_im/qr_scanner/core.cljs
  src/status_im/router/core.cljs
  src/status_im/signals/core.cljs
  src/status_im/ui/screens/advanced_settings/views.cljs
  src/status_im/ui/screens/multiaccounts/recover/views.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im2/contexts/syncing/events.cljs
  src/status_im2/contexts/syncing/sheets/enter_password/view.cljs
  src/status_im2/contexts/syncing/sheets/sync_device_notice/styles.cljs
  src/status_im2/contexts/syncing/sheets/sync_device_notice/view.cljs
  src/status_im2/contexts/syncing/styles.cljs
  src/status_im2/contexts/syncing/view.cljs
  src/status_im2/navigation/screens.cljs
  src/status_im2/setup/config.cljs
  src/status_im2/setup/core.cljs
  translations/en.json
Labels: pairing

#14554 Move Activity Center to new app structure
  src/react_native/safe_area.cljs
  src/status_im/chat/models/loading.cljs
  src/status_im/communities/core.cljs
  src/status_im/contact/block.cljs
  src/status_im/data_store/activities.cljs
  src/status_im/data_store/activities_test.cljs
  src/status_im/events.cljs
  src/status_im/group_chats/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/transport/message/core.cljs
  src/status_im/ui/screens/activity_center/notification/contact_request/view.cljs
  src/status_im/ui/screens/activity_center/notification/mentions/view.cljs
  src/status_im/ui/screens/activity_center/sheet/contact_verification.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/bottom_sheets/views.cljs
  src/status_im/ui/screens/popover/views.cljs
  src/status_im/ui/screens/screens.cljs
  src/status_im2/contexts/activity_center/events.cljs
  src/status_im2/contexts/activity_center/events_test.cljs
  src/status_im2/contexts/activity_center/notification/common/style.cljs
  src/status_im2/contexts/activity_center/notification/common/view.cljs
  src/status_im2/contexts/activity_center/notification/contact_request/view.cljs
  src/status_im2/contexts/activity_center/notification/contact_verification/view.cljs
  src/status_im2/contexts/activity_center/notification/mentions/style.cljs
  src/status_im2/contexts/activity_center/notification/mentions/view.cljs
  src/status_im2/contexts/activity_center/notification_types.cljs
  src/status_im2/contexts/activity_center/style.cljs
  src/status_im2/contexts/activity_center/utils.cljs
  src/status_im2/contexts/activity_center/view.cljs
  src/status_im2/navigation/screens.cljs
  src/status_im2/subs/activity_center.cljs
  translations/en.json
Labels: refactoring, chore, Activity center

#14516 e2e: Updated tests 702807 and 702808
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/views/home_view.py
Labels: tests

#14500 Add privacy options component
  src/quo2/components/settings/privacy_option.cljs
  src/quo2/components/settings/style.cljs
  src/quo2/core.cljs
  src/status_im2/contexts/quo_preview/main.cljs
  src/status_im2/contexts/quo_preview/settings/privacy_option.cljs
Labels: external, new-design [quo2]

#14487 Photo Selector 2
  Makefile
  shadow-cljs.edn
  src/status_im/chat/models/images.cljs
  src/status_im/chat/models_test.cljs
  src/status_im/ui/screens/chat/image/views.cljs
  src/status_im/ui/screens/status/new/views.cljs
  src/status_im/ui2/screens/chat/composer/images/view.cljs
  src/status_im/ui2/screens/chat/composer/input.cljs
  src/status_im/ui2/screens/chat/composer/style.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im/ui2/screens/chat/photo_selector/style.cljs
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
  src/status_im2/subs/root.cljs
  translations/en.json
Labels: Tested - OK

#14576 New make target to run tests via REPL
  Makefile
  package.json
  yarn.lock
Labels: chore

#14567 moving security from status-im namespace to root level utils directory
  doc/decisions/0007-masking-sensitive-data.md
  src/status_im/integration_test.cljs
  src/status_im/keycard/change_pin.cljs
  src/status_im/keycard/recovery.cljs
  src/status_im/multiaccounts/create/core.cljs
  src/status_im/multiaccounts/key_storage/core.cljs
  src/status_im/multiaccounts/key_storage/core_test.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/multiaccounts/recover/core.cljs
  src/status_im/multiaccounts/recover/core_test.cljs
  src/status_im/multiaccounts/reset_password/core.cljs
  src/status_im/router/core.cljs
  src/status_im/signing/core.cljs
  src/status_im/ui/screens/chat/message/link_preview.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/keycard/pairing/views.cljs
  src/status_im/ui/screens/multiaccounts/key_storage/views.cljs
  src/status_im/ui/screens/multiaccounts/login/views.cljs
  src/status_im/ui/screens/multiaccounts/recover/views.cljs
  src/status_im/ui/screens/multiaccounts/views.cljs
  src/status_im/ui/screens/onboarding/password/views.cljs
  src/status_im/ui/screens/onboarding/phrase/view.cljs
  src/status_im/ui/screens/privacy_and_security_settings/delete_profile.cljs
  src/status_im/ui/screens/privacy_and_security_settings/events.cljs
  src/status_im/ui/screens/reset_password/views.cljs
  src/status_im/ui/screens/signing/views.cljs
  src/status_im/ui/screens/wallet/account_settings/views.cljs
  src/status_im/ui/screens/wallet/add_new/views.cljs
  src/status_im/ui/screens/wallet_connect/session_proposal/views.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/utils/keychain/core.cljs
  src/status_im/wallet/accounts/core.cljs
  src/status_im2/contexts/syncing/events.cljs
  src/status_im2/subs/multiaccount.cljs
  src/utils/security/core.cljs
  src/utils/security/security_html.cljs
  src/utils/security/security_html_test.cljs
  src/utils/security/security_test.cljs
Labels: Tested - OK, tech-debt, request-manual-qa, E:TechDebt

#14170 Record audio button component
  src/js/record_audio_worklets.js
  src/js/worklet_factory.js
  src/mocks/js_dependencies.cljs
  src/quo2/components/record_audio/record_audio/style.cljs
  src/quo2/components/record_audio/record_audio/view.cljs
  src/quo2/foundations/colors.cljs
  src/react_native/reanimated.cljs
  src/status_im2/contexts/quo_preview/main.cljs
  src/status_im2/contexts/quo_preview/record_audio/record_audio.cljs
Labels: new-design [quo2]

#14376 feat: toast component
  src/mocks/js_dependencies.cljs
  src/quo2/components/notifications/count_down_circle.cljs
  src/quo2/components/notifications/toast.cljs
  src/quo2/core.cljs
  src/react_native/core.cljs
  src/react_native/reanimated.cljs
  src/react_native/svg.cljs
  src/status_im2/common/toasts/events.cljs
  src/status_im2/common/toasts/view.cljs
  src/status_im2/contexts/quo_preview/main.cljs
  src/status_im2/contexts/quo_preview/notifications/toast.cljs
  src/status_im2/navigation/core.cljs
  src/status_im2/navigation/view.cljs
  src/status_im2/setup/events.cljs
  src/status_im2/subs/root.cljs
  src/status_im2/subs/toasts.cljs
Labels: design-review, E:MobileComponents

#14570 fix: Scroll to bottom button click not working
  src/status_im2/contexts/chat/messages/list/view.cljs
  src/status_im2/contexts/chat/messages/view.cljs
Labels: Tested - OK, external

#14578 [Update][#14555] Channel name update in Context Tag
  src/quo2/components/tags/context_tags.cljs
  src/status_im2/contexts/quo_preview/tags/context_tags.cljs
Labels: Activity center

#14494 Group details screen (3)
  src/quo2/components/avatars/group_avatar.cljs
  src/status_im/group_chats/core.cljs
  src/status_im/ui/screens/group/views.cljs
  src/status_im/ui2/screens/chat/group_details/style.cljs
  src/status_im/ui2/screens/chat/group_details/view.cljs
  src/status_im/ui2/screens/common/contact_list/view.cljs
  src/status_im2/common/contact_list_item/view.cljs
  src/status_im2/common/home/actions/view.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
  src/status_im2/contexts/chat/messages/view.cljs
  src/status_im2/contexts/quo_preview/avatars/group_avatar.cljs
  src/status_im2/setup/db.cljs
  src/status_im2/subs/chat/chats.cljs
  src/status_im2/subs/contact.cljs
  src/status_im2/subs/general.cljs
  src/status_im2/subs/root.cljs
  src/utils/collection.cljs
  translations/en.json
Labels: Tested - OK, new-design [quo2]

#14610 Redirect user to Activity Center to manage pending contact requests
  .zprintrc
  src/quo2/components/notifications/info_count.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/contact/core.cljs
  src/status_im/test_helpers.clj
  src/status_im/test_helpers.cljs
  src/status_im/ui2/screens/chat/components/received_cr_item.cljs
  src/status_im/ui2/screens/chat/photo_selector/style.cljs
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
  src/status_im2/contexts/activity_center/events.cljs
  src/status_im2/contexts/activity_center/events_test.cljs
  src/status_im2/contexts/chat/home/chat_list_item/view.cljs
  src/status_im2/contexts/chat/home/contact_request/style.cljs
  src/status_im2/contexts/chat/home/contact_request/view.cljs
  src/status_im2/contexts/chat/home/view.cljs
Labels: bug, Tested - OK, request-manual-qa, chore, Activity center

#14573 move messages to status-im2
  src/quo2/components/dividers/date.cljs
  src/quo2/components/messages/author/style.cljs
  src/quo2/components/messages/author/view.cljs
  src/quo2/components/navigation/page_nav.cljs
  src/quo2/components/reactions/reaction.cljs
  src/quo2/components/reactions/style.cljs
  src/quo2/core.cljs
  src/status_im/browser/core.cljs
  src/status_im/chat/models.cljs
  src/status_im/chat/models/mentions.cljs
  src/status_im/chat/models/message.cljs
  src/status_im/chat/models/reactions.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/message/reactions_row.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
  src/status_im/ui/screens/status/views.cljs
  src/status_im/ui2/screens/chat/components/reaction_drawer.cljs
  src/status_im/ui2/screens/chat/composer/view.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/utils/config.cljs
  src/status_im2/common/constants.cljs
  src/status_im2/common/not_implemented.cljs
  src/status_im2/contexts/chat/messages/content/deleted/view.cljs
  src/status_im2/contexts/chat/messages/content/pin/style.cljs
  src/status_im2/contexts/chat/messages/content/pin/view.cljs
  src/status_im2/contexts/chat/messages/content/reactions/view.cljs
  src/status_im2/contexts/chat/messages/content/status/view.cljs
  src/status_im2/contexts/chat/messages/content/style.cljs
  src/status_im2/contexts/chat/messages/content/system/text/view.cljs
  src/status_im2/contexts/chat/messages/content/text/style.cljs
  src/status_im2/contexts/chat/messages/content/text/view.cljs
  src/status_im2/contexts/chat/messages/content/unknown/view.cljs
  src/status_im2/contexts/chat/messages/content/view.cljs
  src/status_im2/contexts/chat/messages/delete_message/events.cljs
  src/status_im2/contexts/chat/messages/delete_message/events_test.cljs
  src/status_im2/contexts/chat/messages/delete_message_for_me/events.cljs
  src/status_im2/contexts/chat/messages/delete_message_for_me/events_test.cljs
  src/status_im2/contexts/chat/messages/drawers/view.cljs
  src/status_im2/contexts/chat/messages/list/view.cljs
  src/status_im2/contexts/chat/messages/pin/list/view.cljs
  src/status_im2/contexts/chat/messages/view.cljs
  src/status_im2/contexts/quo_preview/reactions/react.cljs
  test/appium/views/chat_view.py
Labels: Tested - OK, request-manual-qa

#14641 [Fix][#14532] Scroll To Index bug in Scrollable Tabs
  src/quo2/components/tabs/tabs.cljs
Labels: Tested - Issues, request-manual-qa

#14513 add Non Token Gated - Manual Approval Required flow
  src/quo2/components/community/community_card_view.cljs
  src/quo2/components/community/icon.cljs
  src/quo2/components/selectors/disclaimer.cljs
  src/quo2/components/selectors/selectors.cljs
  src/quo2/core.cljs
  src/status_im2/contexts/communities/discover/view.cljs
  src/status_im2/contexts/communities/overview/style.cljs
  src/status_im2/contexts/communities/overview/view.cljs
  src/status_im2/contexts/communities/requests/actions/style.cljs
  src/status_im2/contexts/communities/requests/actions/view.cljs
  src/status_im2/subs/communities.cljs
  src/status_im2/subs/communities_test.cljs
  src/utils/requests.cljs
  translations/en.json
Labels: Tested - Issues, request-manual-qa

#14646 Photo selector fix
  src/status_im/ui2/screens/chat/composer/images/view.cljs
  src/status_im/ui2/screens/chat/photo_selector/view.cljs
Labels: Tested - OK, request-manual-qa

#14209 Feature: Quo2 BottomSheet component
  src/js/bottom_sheet.js
  src/mocks/js_dependencies.cljs
  src/quo2/foundations/colors.cljs
  src/react_native/core.cljs
  src/react_native/hooks.cljs
  src/status_im/bottom_sheet/core.cljs
  src/status_im/ui/screens/bottom_sheets/views.cljs
  src/status_im2/common/bottom_sheet/styles.cljs
  src/status_im2/common/bottom_sheet/view.cljs
  src/status_im2/contexts/quo_preview/bottom_sheet/bottom_sheet.cljs
  src/status_im2/navigation/view.cljs
Labels: external, new-design [quo2]

#14650 New component Selector > Filter
  .zprintrc
  doc/new-guidelines.md
  shadow-cljs.edn
  src/quo2/components/banners/__tests__/banner_component_spec.cljs
  src/quo2/components/buttons/__tests__/buttons_component_spec.cljs
  src/quo2/components/counter/__tests__/counter_component_spec.cljs
  src/quo2/components/dividers/__tests__/divider_label_component_spec.cljs
  src/quo2/components/drawers/__tests__/action_drawers_component_spec.cljs
  src/quo2/components/markdown/__tests__/text_component_spec.cljs
  src/quo2/components/selectors/__tests__/selectors_component_spec.cljs
  src/quo2/components/selectors/disclaimer.cljs
  src/quo2/components/selectors/disclaimer/style.cljs
  src/quo2/components/selectors/disclaimer/view.cljs
  src/quo2/components/selectors/filter/component_spec.cljs
  src/quo2/components/selectors/filter/style.cljs
  src/quo2/components/selectors/filter/view.cljs
  src/quo2/core.cljs
  src/quo2/core_spec.cljs
  src/status_im2/contexts/activity_center/view.cljs
  src/status_im2/contexts/quo_preview/main.cljs
  src/status_im2/contexts/quo_preview/selectors/disclaimer.cljs
  src/status_im2/contexts/quo_preview/selectors/filter.cljs
  src/status_im2/setup/db.cljs
  src/test_helpers/component.clj
  src/test_helpers/component.cljs
Labels: Activity center, new-design [quo2]

#14649 e2e: activity centre
  test/appium/pytest.ini
  test/appium/support/testrail_report.py
  test/appium/tests/conftest.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/tests/critical/test_public_chat_browsing.py
  test/appium/tests/medium/test_activity_center.py
  test/appium/views/base_element.py
  test/appium/views/chat_view.py
  test/appium/views/home_view.py
Labels: tests

#14639 fix home stack height
  src/quo2/components/buttons/dynamic_button.cljs
  src/quo2/components/navigation/floating_shell_button.cljs
  src/status_im2/contexts/chat/messages/list/view.cljs
  src/status_im2/contexts/quo_preview/buttons/dynamic_button.cljs
  src/status_im2/contexts/quo_preview/navigation/floating_shell_button.cljs
  src/status_im2/contexts/shell/animation.cljs
  src/status_im2/contexts/shell/constants.cljs
  src/status_im2/contexts/shell/style.cljs
  src/status_im2/contexts/shell/view.cljs
  src/status_im2/setup/core.cljs
Labels: Tested - OK

#14643 UI Component - Account
  src/quo2/components/avatars/account_avatar.cljs
  src/quo2/components/settings/accounts/style.cljs
  src/quo2/components/settings/accounts/view.cljs
  src/quo2/core.cljs
  src/status_im2/contexts/quo_preview/main.cljs
  src/status_im2/contexts/quo_preview/settings/accounts.cljs
Labels: external, new-design [quo2]

#14678 e2e: new workarounds
  test/appium/tests/conftest.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/tests/medium/test_activity_center.py
  test/appium/views/base_view.py
Labels: tests
