Repository status-im/status-mobile, pull requests merged in 2022-10, with the labels that each got.

#14101 ci: bump jenkins lib to use generalized nix library
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/Jenkinsfile.tests
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
Labels: nix

#14092 [#14021] Add goerli geth.log to logs archive on iOS
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
Labels: Tested - OK

#14028 Rename filter-tags and refactor token-tag
  src/quo2/components/community/community_view.cljs
  src/quo2/components/tags/filter_tag.cljs
  src/quo2/components/tags/tag.cljs
  src/quo2/components/tags/tags.cljs
  src/quo2/components/tags/token_tag.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/tags/permission_tag.cljs
  src/quo2/screens/tags/tags.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
Labels: Tested - OK, request-manual-qa, new-design [quo2]

#14105 [#13967] Displays filtering tabs and read/unread filter
  resources/images/icons/close20@2x.png
  resources/images/icons/close20@3x.png
  resources/images/icons/unread20@2x.png
  resources/images/icons/unread20@3x.png
  src/mocks/js_dependencies.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/subs/activity_center.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/utils/number.cljs
  translations/en.json
Labels: Activity center

#14108 chore: add components to communities overview
  resources/images/icons/communities20@2x.png
  resources/images/icons/communities20@3x.png
  src/quo2/screens/selectors/disclaimer.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui/screens/communities/request_to_join_bottom_sheet_redesign.cljs
Labels: communities

#14113 e2e: catch exception, add another custom network
  test/appium/support/testrail_report.py
  test/appium/tests/medium/test_browser_profile.py
  test/appium/views/profile_view.py
Labels: tests

#14129 [Feature][#14063] Added floating button to scroll down in chat
  src/status_im/ui/screens/chat/views.cljs
Labels: new-design [quo2]

#14098 feat: reply to message new ui
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui/screens/chat/components/reply.cljs
Labels: new-design [quo2]

#14125 [#13968] Fetch and reconcile notifications by type and read status
  src/quo2/components/tabs/tabs.cljs
  src/status_im/activity_center/core.cljs
  src/status_im/activity_center/core_test.cljs
  src/status_im/constants.cljs
  src/status_im/subs/activity_center.cljs
  src/status_im/subs/root.cljs
  src/status_im/ui/screens/activity_center/views.cljs
Labels: Activity center

#13773 [#13569] Page Nav
  src/quo2/components/navigation/page_nav.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/navigation/page_nav.cljs
Labels: new-design [quo2]

#14007 feat: delete for me logic without UI
  src/status_im/chat/models/delete_message_for_me.cljs
  src/status_im/chat/models/delete_message_for_me_test.cljs
  src/status_im/data_store/messages.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/utils/config.cljs
  status-go-version.json
  translations/en.json
Labels: Tested - OK, request-manual-qa, E:ChatFeatures, new-design [quo2], message-context-drawer

#14154 Implementation of Floating Shell Button
  src/quo2/components/buttons/dynamic_button.cljs
  src/quo2/components/navigation/floating_shell_button.cljs
  src/quo2/screens/buttons/dynamic_button.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/navigation/floating_shell_button.cljs
Labels: new-design [quo2]

#14142 feat: autocomplete mentions new ui
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui/screens/chat/components/style.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
  src/status_im/ui/screens/chat/views.cljs
Labels: new-design [quo2]

#14147 feat: pinned messages new ui
  src/status_im/chat/models/pin_message.cljs
  src/status_im/constants.cljs
  src/status_im/ui/screens/chat/components/edit.cljs
  src/status_im/ui/screens/chat/components/reply.cljs
  src/status_im/ui/screens/chat/components/style.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/message/styles.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
Labels: new-design [quo2]

#13716 Allow dApps to suggest change of RPC (EIP-3085 EIP-3326)
  src/status_im/browser/core.cljs
  src/status_im/browser/eip3085.cljs
  src/status_im/browser/eip3326.cljs
  src/status_im/ui/screens/browser/eip3085/sheet.cljs
  src/status_im/ui/screens/browser/eip3326/sheet.cljs
Labels: Tested - OK, request-manual-qa, external

#14159 fix: remove strict equal check on timer in delete for me test
  src/status_im/chat/models/delete_message_for_me_test.cljs
Labels: E: integration tests

#14149 fix ens name turns into public key while editing message
  VERSION
  src/status_im/chat/models/mentions.cljs
  src/status_im/ui/screens/chat/components/input.cljs
Labels: Tested - OK, request-manual-qa

#14152 Fix: refactored token token to fix a bug
  src/quo2/components/tags/token_tag.cljs
  src/quo2/screens/tags/permission_tag.cljs
Labels: Tested - OK, request-manual-qa

#13700 [13564] account-avatar component
  src/quo2/components/avatars/account_avatar.cljs
  src/quo2/screens/avatars/account_avatar.cljs
  src/quo2/screens/main.cljs
Labels: new-design [quo2]

#14165 Feature/#14131 blur activity center background
  src/quo2/components/tabs/tab.cljs
  src/quo2/components/tabs/tabs.cljs
  src/quo2/components/tags/context_tags.cljs
  src/status_im/ui/components/topnav.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui/screens/popover/views.cljs
Labels: Activity center, new-design [quo2]

#13940 replace web3-utils methods usage by status-go
  doc/DEPENDENCIES.md
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  modules/react-native-status/nodejs/status.cpp
  package.json
  src/status_im/ethereum/core.cljs
  src/status_im/ethereum/eip55.cljs
  src/status_im/ethereum/encode.cljs
  src/status_im/native_module/core.cljs
  src/status_im/notifications/local.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/utils/db.cljs
  src/status_im/utils/react_native.cljs
  src/status_im/utils/test.cljs
  status-go-version.json
  yarn.lock
Labels: Tested - OK, request-manual-qa

#14116 [WIP] e2e: new tests
  test/appium/tests/medium/test_single_device.py
Labels: tests

#14144 [#11335] Use Pokt network as an infura replacement
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/Jenkinsfile.tests
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
  nix/mobile/android/jsbundle/default.nix
  nix/mobile/android/release.nix
  scripts/build-android.sh
  shadow-cljs.edn
  src/status_im/network/core.cljs
  src/status_im/utils/config.cljs
  status-go-version.json
Labels: request-manual-qa

#14183 Messages home tabs new UI in ui2
  src/quo/components/list/item.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/switcher/home_stack.cljs
  src/status_im/ui/components/chat_icon/screen.cljs
  src/status_im/ui/components/chat_icon/styles.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/toolbar_content.cljs
  src/status_im/ui/screens/chat/views.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community.cljs
  src/status_im/ui/screens/screens.cljs
  src/status_im/ui2/screens/chat/composer/input.cljs
  src/status_im/ui2/screens/chat/composer/mentions.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/view.cljs
  translations/en.json
Labels: new-design [quo2]

#14185 Move e2e to eu datacenter
  fastlane/Fastfile
  test/appium/support/base_test_report.py
  test/appium/tests/__init__.py
  test/appium/tests/base_test_case.py
  test/appium/tests/cloudbase_test_api.py
  test/appium/tests/conftest.py
Labels: tests

#14199 nix: fix shadow-cljs on M1 by upgrading to 2.11.16
  nix/deps/clojure/deps.json
  nix/deps/clojure/deps.list
  package.json
  shadow-cljs.edn
  yarn.lock
Labels: clojure, nix, dependencies

#14184 Show pinned messages ui2
  src/status_im/ui/components/chat_icon/screen.cljs
  src/status_im/ui/screens/chat/styles/message/message.cljs
  src/status_im/ui/screens/chat/toolbar_content.cljs
  src/status_im/ui2/screens/chat/components/reply.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
  src/status_im/ui2/screens/chat/view.cljs
Labels: new-design [quo2]

#14168 feat: deleted for me message UI
  src/quo2/components/messages/system_message.cljs
  src/status_im/chat/models/delete_message_for_me.cljs
  src/status_im/chat/models/delete_message_for_me_test.cljs
  src/status_im/chat/models/message_list.cljs
  src/status_im/navigation/core.cljs
  src/status_im/ui2/screens/chat/messages/message.cljs
Labels: new-design [quo2]

#14205 android: use projectDir for VERSION file path
  android/app/build.gradle
Labels: android

#14169 feat: add leave community feature to redesign
  src/quo2/components/navigation/page_nav.cljs
  src/quo2/screens/navigation/page_nav.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_options_bottom_sheet.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui/screens/screens.cljs
  translations/en.json
Labels: request-manual-qa, new-design [quo2]

#14099 Shell & Bottom Tabs Migration
  src/js/worklet_factory.js
  src/quo/react_native.cljs
  src/quo2/components/buttons/dynamic_button.cljs
  src/quo2/components/navigation/bottom_nav_tab.cljs
  src/quo2/components/navigation/top_nav.cljs
  src/quo2/components/reactions/reaction.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/navigation/bottom_nav_tab.cljs
  src/status_im/core.cljs
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/navigation2.cljs
  src/status_im/navigation2/core.cljs
  src/status_im/navigation2/roots.cljs
  src/status_im/navigation2/screens.cljs
  src/status_im/navigation2/stack_with_switcher.cljs
  src/status_im/switcher/animation.cljs
  src/status_im/switcher/bottom_tabs.cljs
  src/status_im/switcher/cards/messaging_card.cljs
  src/status_im/switcher/cards/styles.cljs
  src/status_im/switcher/constants.cljs
  src/status_im/switcher/home_stack.cljs
  src/status_im/switcher/shell.cljs
  src/status_im/switcher/shell_stack.cljs
  src/status_im/switcher/styles.cljs
  src/status_im/switcher/switcher.cljs
  src/status_im/switcher/switcher_container.cljs
  src/status_im/switcher/utils.cljs
  src/status_im/ui/screens/chat/message/reactions_row.cljs
  src/status_im/ui2/screens/chat/components/reaction_drawer.cljs
  src/status_im/ui2/screens/chat/components/reply.cljs
  src/status_im/ui2/screens/chat/home.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, new-design [quo2]

#14214 fix: adjust selectors to designs
  resources/images/icons2/20x20/check-small@2x.png
  resources/images/icons2/20x20/check-small@3x.png
  src/quo2/components/selectors/selectors.cljs
Labels: new-design [quo2]

#14221 Messages contact requests
  src/quo/components/bottom_sheet/view.cljs
  src/quo2/components/community/discover_card.cljs
  src/quo2/components/list_items/received_contact_request.cljs
  src/quo2/components/notifications/notification_dot.cljs
  src/quo2/components/tabs/tabs.cljs
  src/status_im/ui2/screens/chat/home.cljs
  src/status_im/utils/utils.cljs
  translations/en.json
Labels: new-design [quo2]

#14223 Display contact verification requests and allow users to decline them
  src/status_im/activity_center/core.cljs
  src/status_im/activity_center/core_test.cljs
  src/status_im/constants.cljs
  src/status_im/data_store/activities.cljs
  src/status_im/data_store/activities_test.cljs
  src/status_im/data_store/messages.cljs
  src/status_im/data_store/messages_test.cljs
  src/status_im/test_helpers.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  translations/en.json
Labels: Activity center

#14239 e2e: 1st new ui test
  ci/tests/Jenkinsfile.e2e-nightly
  ci/tests/Jenkinsfile.e2e-prs
  test/appium/support/testrail_report.py
  test/appium/tests/__init__.py
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/marks.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/home_view.py
  test/appium/views/sign_in_view.py
Labels: E:E2E

#14244 Fixes/activity center UI issues
  src/status_im/ui/components/topnav.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/ui2/screens/chat/home.cljs
Labels: Activity center

#14252 Implement positive button state
  src/quo2/components/buttons/button.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/buttons/button.cljs
Labels: design-review, new-design [quo2]

#14250 Fix unbounded number of calls to fetch notifications
  src/status_im/activity_center/core_test.cljs
  src/status_im/data_store/activities.cljs
  src/status_im/data_store/activities_test.cljs
Labels: bug, Activity center

#14270 e2e: non-latin
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/views/chat_view.py
  test/appium/views/elements_templates/member.png
  test/appium/views/profile_view.py
Labels: E:E2E
