Repository status-im/status-mobile, pull requests merged in 2022-09, with the labels that each got.

#13860 feat: add messages gap component
  .prettierrc.js
  ios/Podfile.lock
  resources/images/icons/message-gap-info12@2x.png
  resources/images/icons/message-gap-info12@3x.png
  resources/images/ui/message-gap-circle-bg-dark@2x.png
  resources/images/ui/message-gap-circle-bg-dark@3x.png
  resources/images/ui/message-gap-circle-bg-light@2x.png
  resources/images/ui/message-gap-circle-bg-light@3x.png
  resources/images/ui/message-gap-hborder-dark@2x.png
  resources/images/ui/message-gap-hborder-dark@3x.png
  resources/images/ui/message-gap-hborder-light@2x.png
  resources/images/ui/message-gap-hborder-light@3x.png
  resources/images/ui/message-gap-vborder-light@2x.png
  resources/images/ui/message-gap-vborder-light@3x.png
  src/quo2/components/messages_gap.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/messages_gap.cljs
  translations/en.json
Labels: E:MobileComponents, new-design [quo2]

#13926 ci: use pipefail to actually catch test errors
  ci/Jenkinsfile.tests
Labels: tests

#13928 Revert "[13857] Extend integration tests to recover multiaccount from seed phrase"
  src/mocks/js_dependencies.cljs
  src/status_im/integration_test.cljs
  src/status_im/utils/test.cljs
Labels: tests

#13920 e2e: update libs [updated Python 3.8 -> 3.10]
  test/appium/requirements.txt
  test/appium/support/api/network_api.py
Labels: tests

#13930 hooks: use AWK instead of jq for better portability
  scripts/hooks/prepare-commit-msg
Labels: E:DeveloperXP

#13918 fix keycard account shown as regular account on theme change while login
  src/status_im/events.cljs
Labels: Tested - OK, request-manual-qa

#13839 RE: User avatar component
  resources/images/icons/identicon_ring20@2x.png
  resources/images/icons/identicon_ring20@3x.png
  resources/images/icons/identicon_ring24@2x.png
  resources/images/icons/identicon_ring24@3x.png
  resources/images/icons/identicon_ring32@2x.png
  resources/images/icons/identicon_ring32@3x.png
  resources/images/icons/identicon_ring48@2x.png
  resources/images/icons/identicon_ring48@3x.png
  resources/images/icons/identicon_ring80@2x.png
  resources/images/icons/identicon_ring80@3x.png
  src/quo2/components/user_avatar.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/user_avatar.cljs
Labels: new-design [quo2]

#13924 fix ios keycard recovery pin error
  src/status_im/keycard/common.cljs
  src/status_im/ui/screens/keycard/pin/views.cljs
Labels: Tested - OK, request-manual-qa

#13937 Fix: typos
  doc/FDROID.md
Labels: external

#13620 [#13517] UI Component - Message Input
  ios/Podfile.lock
  package.json
  resources/images/icons/arrow-up20@2x.png
  resources/images/icons/arrow-up20@3x.png
  resources/images/icons/image20@2x.png
  resources/images/icons/image20@3x.png
  resources/images/icons/reaction20@2x.png
  resources/images/icons/reaction20@3x.png
  src/mocks/js_dependencies.cljs
  src/quo/gesture_handler.cljs
  src/quo2/gesture.cljs
  src/quo2/reanimated.cljs
  src/status_im/switcher/constants.cljs
  src/status_im/switcher/switcher.cljs
  src/status_im/ui/components/react.cljs
  src/status_im/ui/screens/chat/components/input.cljs
  src/status_im/ui/screens/chat/components/style.cljs
  src/status_im/ui/screens/chat/views.cljs
  yarn.lock
Labels: Tested - OK, request-manual-qa, new-design [quo2]

#13941 e2e: update six
  test/appium/requirements.txt
Labels: tests

#13631 [13524] React component
  resources/images/icons/add_reaction20@2x.png
  resources/images/icons/add_reaction20@3x.png
  resources/images/icons/angry16@2x.png
  resources/images/icons/angry16@3x.png
  resources/images/icons/laugh16@2x.png
  resources/images/icons/laugh16@3x.png
  resources/images/icons/love16@2x.png
  resources/images/icons/love16@3x.png
  resources/images/icons/sad16@2x.png
  resources/images/icons/sad16@3x.png
  resources/images/icons/thumbs_down16@2x.png
  resources/images/icons/thumbs_down16@3x.png
  resources/images/icons/thumbs_up16@2x.png
  resources/images/icons/thumbs_up16@3x.png
  src/quo2/components/reacts.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/reacts.cljs
Labels: new-design [quo2]

#13934 keycard confirm seed phrase screen remove back button
  src/status_im/keycard/onboarding.cljs
  src/status_im/ui/screens/keycard/onboarding/views.cljs
Labels: Tested - OK, request-manual-qa

#13902 [#13894] Update activity indicator on removed contact request
  src/status_im/contact/core.cljs
Labels: Tested - OK, request-manual-qa

#13881 [#13855] Sync last contact request decisions on Sync All
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#13922 fix keycard redundant screen
  src/status_im/ui/screens/keycard/onboarding/views.cljs
Labels: Tested - OK, request-manual-qa

#13944 Reduce recording time to 1 minute
  src/status_im/ui/screens/chat/audio_message/views.cljs
  test/appium/tests/critical/chats/test_1_1_public_chats.py
Labels: Tested - OK, request-manual-qa

#13946 [13857] Extend integration tests to recover multiaccount from seed ph…
  src/mocks/js_dependencies.cljs
  src/status_im/integration_test.cljs
  src/status_im/utils/test.cljs
Labels: tests

#13954 ci: do not upload release builds to Diawi
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
Labels: ios, release

#13945 feat: add community overview page
  resources/images/ui/coinbase-community-background@2x.png
  resources/images/ui/coinbase_community-background@3x.png
  src/quo2/components/community/community_card_view.cljs
  src/status_im/subs.cljs
  src/status_im/switcher/home_stack.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui/screens/screens.cljs
  translations/en.json
Labels: new-design [quo2]

#13942 e2e: urllib update
  test/appium/requirements.txt
  test/appium/support/api/network_api.py
  test/appium/support/api/web3_api.py
  test/appium/tests/conftest.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/base_view.py
  test/appium/views/web_views/status_test_dapp.py
Labels: tests

#13959 chore: restructure quo2 menu page
  src/quo2/screens/main.cljs
Labels: new-design [quo2]

#13958 [#13855] Fix contact request decision status on Sync All
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#13976 ci: upgrade Xcode from 13.3.1 to 13.4
  ci/Jenkinsfile.ios
Labels: ios, dependencies

#13830 Implement Preview lists component
  resources/images/icons/more12@2x.png
  resources/images/icons/more12@3x.png
  src/quo2/components/list_items/preview_list.cljs
  src/quo2/screens/list_items/preview_lists.cljs
  src/quo2/screens/main.cljs
Labels: new-design [quo2]

#13947 fix: resolve token ens name in EIP-681 links from qr code
  src/status_im/ethereum/eip681.cljs
  src/status_im/ethereum/eip681_test.cljs
  src/status_im/ui/screens/qr_scanner/views.cljs
Labels: Tested - OK, request-manual-qa

#13645 [13558] Lowest price component
  src/quo2/components/info/lowest_price.cljs
  src/quo2/screens/info/lowest_price.cljs
  src/quo2/screens/main.cljs
Labels: new-design [quo2]

#13984 [#13579] Added integration test for opening one-to-one chat
  src/mocks/js_dependencies.cljs
  src/status_im/integration_test.cljs
Labels: tests

#13993 [#13951] feat: merge favourites in saved addresses #2844
  src/status_im/multiaccounts/login/core.cljs
  src/status_im/wallet/recipient/core.cljs
  status-go-version.json
Labels: request-manual-qa

#13658 [13563] Channel avatar component
  resources/images/icons/locked12@2x.png
  resources/images/icons/locked12@3x.png
  resources/images/icons/unlocked12@2x.png
  resources/images/icons/unlocked12@3x.png
  src/quo2/components/avatars/channel_avatar.cljs
  src/quo2/screens/avatars/channel_avatar.cljs
  src/quo2/screens/main.cljs
Labels: new-design [quo2]

#13988 fix can't unpin message from popup with 3 messages with preview
  src/status_im/ui/screens/chat/message/pinned_message.cljs
Labels: Tested - OK, request-manual-qa

#13987 [#13895] Create new Activity Center screen
  src/status_im/activity_center/core.cljs
  src/status_im/events.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/screens.cljs
Labels: Activity center, new-design [quo2]

#14005 ci: add wait for GitHub release to appear
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.nix-cache
  ci/Jenkinsfile.tests
  ci/tests/Jenkinsfile.e2e-prs
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.playstore-meta
Labels: release

#13935 [Feature][#13915] Added New Messages component
  src/quo2/components/dividers/new_messages.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/dividers/new_messages.cljs
  src/quo2/screens/main.cljs
  translations/en.json
Labels: new-design [quo2]

#14001 feat: add ability to join open community in new-ui
  src/quo2/components/tags/context_tags.cljs
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/community_overview_redesign.cljs
  src/status_im/ui/screens/communities/request_to_join_bottom_sheet_redesign.cljs
  translations/en.json
Labels: communities

#13980 [#13933] Fix activity notification delition on message delition
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#13858 Move abi-spec to status-go
  modules/react-native-status/android/src/main/java/im/status/ethereum/module/StatusModule.java
  modules/react-native-status/ios/RCTStatus/RCTStatus.m
  modules/react-native-status/nodejs/status.cpp
  src/status_im/ethereum/abi_spec.cljs
  src/status_im/ethereum/abi_spec_test.cljs
  src/status_im/ethereum/decode.cljs
  src/status_im/ethereum/ens.cljs
  src/status_im/native_module/core.cljs
  src/status_im/signing/core.cljs
  src/status_im/signing/core_test.cljs
  src/status_im/signing/keycard.cljs
  src/status_im/ui/screens/network_info/views.cljs
  src/status_im/utils/test.cljs
  src/status_im/utils/varint.cljs
  src/status_im/utils/varint_test.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa, external

#13771 Use image server for all kind of images and integrate identity rings
  src/status_im/signals/core.cljs
  src/status_im/subs.cljs
  src/status_im/ui/screens/chat/photos.cljs
  src/status_im/ui/screens/profile/user/views.cljs
  src/status_im/utils/image_server.cljs
Labels: Tested - OK, request-manual-qa, external

#13974 [Feature][#13905] Added Divider Label Component
  src/quo2/components/dividers/divider_label.cljs
  src/quo2/screens/dividers/divider_label.cljs
  src/quo2/screens/main.cljs
  src/status_im/ui/screens/chat/photos.cljs
Labels: new-design [quo2]

#14006 fix quo2 colors
  src/quo2/components/avatars/avatar_themes.cljs
  src/quo2/components/avatars/group_avatar.cljs
  src/quo2/components/avatars/icon_avatar.cljs
  src/quo2/components/avatars/user_avatar.cljs
  src/quo2/components/avatars/wallet_user_avatar.cljs
  src/quo2/components/dividers/new_messages.cljs
  src/quo2/components/tags/token_tag.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/avatars/group_avatar.cljs
  src/quo2/screens/avatars/icon_avatar.cljs
  src/quo2/screens/avatars/user_avatar.cljs
  src/quo2/screens/avatars/wallet_user_avatar.cljs
  src/quo2/screens/buttons/button.cljs
  src/quo2/screens/counter/counter.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/markdown/text.cljs
  src/quo2/screens/reactions/react.cljs
  src/quo2/screens/tabs/segmented_tab.cljs
  src/quo2/screens/tabs/tabs.cljs
  src/quo2/screens/tags/token_tag.cljs
  src/quo2/screens/wallet/token_overview.cljs
  src/status_im/ui/screens/profile/visibility_status/utils.cljs
Labels: new-design [quo2]

#13854 Implementation of switcher cards
  resources/images/mock/community-banner@2x.png
  resources/images/mock/community-logo@2x.png
  resources/images/mock/gif@2x.png
  resources/images/mock/photo1@2x.png
  resources/images/mock/photo2@2x.png
  resources/images/mock/photo3@2x.png
  resources/images/mock/sticker@2x.png
  src/quo2/components/avatars/channel_avatar.cljs
  src/quo2/components/counter/counter.cljs
  src/quo2/components/list_items/preview_list.cljs
  src/quo2/components/switcher/styles.cljs
  src/quo2/components/switcher/switcher_cards.cljs
  src/quo2/components/tags/status_tags.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/list_items/preview_lists.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/switcher/switcher_cards.cljs
  src/status_im/react_native/resources.cljs
  translations/en.json
Labels: new-design [quo2]

#14029 fix: comment out context tag in communities redesign as its causing i…
  src/status_im/ui/screens/communities/communities_list_redesign.cljs
  src/status_im/ui/screens/communities/request_to_join_bottom_sheet_redesign.cljs
Labels: new-design [quo2]

#14014 [#13964 #13962] Display contact requests
  Makefile
  package.json
  resources/images/icons/add_user16@2x.png
  resources/images/icons/add_user16@3x.png
  resources/images/icons/add_user20@2x.png
  resources/images/icons/add_user20@3x.png
  src/quo2/components/tags/status_tags.cljs
  src/quo2/screens/tags/status_tags.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/utils/datetime.cljs
  src/status_im/utils/datetime_test.cljs
  translations/en.json
  yarn.lock
Labels: Activity center

#14004 e2e: group tests fix
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/tests/critical/test_pairing_devices_sync.py
  test/appium/tests/medium/test_activity_center.py
  test/appium/tests/medium/test_browser_profile.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_pairing_devices_sync_m.py
  test/appium/tests/medium/test_profile_m.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/elements_templates/logo_chats_view_2.png
Labels: tests

#14043 nix: drop KEYSTORE_PATH from extra-sandbox-paths
  scripts/build-android.sh
Labels: android, nix, E:FDroid

#14032 Migrate to API 31 for android
  android/app/src/main/AndroidManifest.xml
  android/gradle.properties
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/ForegroundService.java
  modules/react-native-status/android/src/main/java/im/status/ethereum/pushnotifications/PushNotificationHelper.java
  nix/pkgs/android-sdk/compose.nix
Labels: Tested - OK, request-manual-qa

#13816 add account-selector component to sandbox
  src/quo2/components/tabs/account_selector.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/tabs/account_selector.cljs
Labels: new-design [quo2]

#13866 [issue-13578] Dropdown component
  resources/images/icons/dropdown20@2x.png
  resources/images/icons/dropdown20@3x.png
  resources/images/icons/dropdown_dark20@2x.png
  resources/images/icons/dropdown_dark20@3x.png
  resources/images/icons/pullup20@2x.png
  resources/images/icons/pullup20@3x.png
  resources/images/icons/pullup_dark20@2x.png
  resources/images/icons/pullup_dark20@3x.png
  src/quo2/components/list_items/dropdown.cljs
  src/quo2/screens/list_items/dropdown.cljs
  src/quo2/screens/main.cljs
Labels: new-design [quo2]

#13977 Disable back button when migrating to a keycard 📱➡️ 💳.
  src/status_im/events.cljs
  src/status_im/keycard/backup_key.cljs
  src/status_im/keycard/core.cljs
  src/status_im/keycard/onboarding.cljs
  src/status_im/keycard/recovery.cljs
  src/status_im/multiaccounts/key_storage/core.cljs
  src/status_im/navigation/core.cljs
  src/status_im/ui/screens/screens.cljs
Labels: Tested - OK, request-manual-qa

#14042 scripts/fdroid-pr.sh: fix typo in vars and directory
  scripts/fdroid-pr.sh
Labels: E:FDroid

#14057 Add expire time to ens banner
  src/status_im/ui/screens/home/views.cljs
Labels: request-manual-qa

#14058 [#14056] Error '1.20.0 (20220922040832) is not a function' when openi…
  src/status_im/subs/general.cljs
Labels: Tested - OK

#13820 [WIP] e2e: new e2e tests
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/test_pairing_devices_sync.py
  test/appium/tests/medium/test_browser_profile.py
  test/appium/tests/medium/test_chats_m.py
  test/appium/tests/medium/test_deeplink_chat_share_profile.py
  test/appium/tests/medium/test_profile_m.py
Labels: tests

#14050 e2e: w3 upd
  test/appium/requirements.txt
  test/appium/support/api/web3_api.py
  test/appium/tests/medium/test_single_device.py
  test/appium/views/base_view.py
  test/appium/views/wallet_view.py
Labels: tests

#14062 e2e: fixes for 702185, 6305, 702294, 702296
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/medium/test_activity_center.py
  test/appium/tests/medium/test_chats_m.py
Labels: tests

#14067 e2e: fixed 702185
  test/appium/tests/medium/test_activity_center.py
Labels: tests

#14040 Jc/add channel list item
  resources/images/icons/channel-notification20@2x.png
  resources/images/icons/channel-notification20@3x.png
  resources/images/icons/channel-notification_dark20@2x.png
  resources/images/icons/channel-notification_dark20@3x.png
  resources/images/icons/muted20@2x.png
  resources/images/icons/muted20@3x.png
  src/quo2/components/avatars/channel_avatar.cljs
  src/quo2/components/list_items/channel.cljs
  src/quo2/foundations/colors.cljs
  src/quo2/screens/avatars/channel_avatar.cljs
  src/quo2/screens/list_items/channel.cljs
  src/quo2/screens/main.cljs
Labels: new-design [quo2]

#13886 Implement Message Context Drawer
  resources/images/icons/browser_context20@2x.png
  resources/images/icons/browser_context20@3x.png
  resources/images/icons/copy_context20@2x.png
  resources/images/icons/copy_context20@3x.png
  resources/images/icons/delete_context20@2x.png
  resources/images/icons/delete_context20@3x.png
  resources/images/icons/edit_context20@2x.png
  resources/images/icons/edit_context20@3x.png
  resources/images/icons/forward@2x.png
  resources/images/icons/forward@3x.png
  resources/images/icons/forward_context20@2x.png
  resources/images/icons/forward_context20@3x.png
  resources/images/icons/gif@2x.png
  resources/images/icons/gif@3x.png
  resources/images/icons/gif_context20@2x.png
  resources/images/icons/gif_context20@3x.png
  resources/images/icons/link_context20@2x.png
  resources/images/icons/link_context20@3x.png
  resources/images/icons/mention@2x.png
  resources/images/icons/mention@3x.png
  resources/images/icons/mention_context20@2x.png
  resources/images/icons/mention_context20@3x.png
  resources/images/icons/pin_context20@2x.png
  resources/images/icons/pin_context20@3x.png
  resources/images/icons/reply_context20@2x.png
  resources/images/icons/reply_context20@3x.png
  resources/images/icons/save@2x.png
  resources/images/icons/save@3x.png
  resources/images/icons/save_context20@2x.png
  resources/images/icons/save_context20@3x.png
  resources/images/icons/share@2x.png
  resources/images/icons/share@3x.png
  resources/images/icons/share_context20@2x.png
  resources/images/icons/share_context20@3x.png
  resources/images/icons/stickers_context20@2x.png
  resources/images/icons/stickers_context20@3x.png
  src/quo2/components/list_items/menu_item.cljs
  src/status_im/ui/screens/chat/bottom_sheets/context_drawer.cljs
  src/status_im/ui/screens/chat/message/message.cljs
  src/status_im/ui/screens/chat/message/reactions.cljs
  src/status_im/ui/screens/chat/message/reactions_row.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, new-design [quo2]

#14060 fix: switching to light / dark mode makes the app reset to the old ui when new ui toggle is activated
  src/status_im/navigation2.cljs
  src/status_im/ui/screens/appearance/views.cljs
Labels: Tested - OK, developer-xp, request-manual-qa

#14073 [#13965 #13966 #13969] Implement accept/decline/open chat for contact requests
  src/quo2/components/notifications/activity_logs.cljs
  src/status_im/activity_center/core.cljs
  src/status_im/activity_center/core_test.cljs
  src/status_im/test_helpers.cljs
  src/status_im/transport/message/core.cljs
  src/status_im/ui/components/topnav.cljs
  src/status_im/ui/screens/activity_center/views.cljs
  src/status_im/ui/screens/home/views.cljs
  src/status_im/utils/config.cljs
Labels: Activity center

#14074 [#14059] Show effective gas price
  src/status_im/ethereum/transactions/core.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#14077 Implemention of quo2 bottom-nav-tab
  resources/images/icons/browser24@2x.png
  resources/images/icons/browser24@3x.png
  resources/images/icons/communities24@2x.png
  resources/images/icons/communities24@3x.png
  resources/images/icons/messages24@2x.png
  resources/images/icons/messages24@3x.png
  resources/images/icons/wallet24@2x.png
  resources/images/icons/wallet24@3x.png
  src/quo/previews/preview.cljs
  src/quo2/components/counter/counter.cljs
  src/quo2/components/navigation/bottom_nav_tab.cljs
  src/quo2/components/switcher/styles.cljs
  src/quo2/components/switcher/switcher_cards.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/navigation/bottom_nav_tab.cljs
  src/quo2/screens/switcher/switcher_cards.cljs
Labels: new-design [quo2]

#13781 [issue-13557] Network breakdown and Network amount components
  resources/images/icons/arbitrum40@2x.png
  resources/images/icons/arbitrum40@3x.png
  resources/images/icons/ethereum40@2x.png
  resources/images/icons/ethereum40@3x.png
  resources/images/icons/optimism40@2x.png
  resources/images/icons/optimism40@3x.png
  resources/images/icons/zksync40@2x.png
  resources/images/icons/zksync40@3x.png
  src/quo2/components/info/network_amount.cljs
  src/quo2/components/info/network_breakdown.cljs
  src/quo2/screens/info/network_amount.cljs
  src/quo2/screens/info/network_breakdown.cljs
  src/quo2/screens/main.cljs
Labels: new-design [quo2]

#14078 feat: implement selectors for quo2
  resources/images/icons/check20@2x.png
  resources/images/icons/check20@3x.png
  src/quo2/components/selectors/selectors.cljs
  src/quo2/screens/main.cljs
  src/quo2/screens/selectors/selectors.cljs
Labels: new-design [quo2]

#14045 [#13992] Delete account only after moving keys to keycard
  src/status_im/keycard/card.cljs
  src/status_im/keycard/fx.cljs
  src/status_im/keycard/keycard.cljs
  src/status_im/keycard/onboarding.cljs
  src/status_im/keycard/real_keycard.cljs
  src/status_im/keycard/recovery.cljs
  src/status_im/keycard/simulated_keycard.cljs
  src/status_im/multiaccounts/key_storage/core.cljs
Labels: Tested - OK, request-manual-qa
