Repository status-im/status-mobile, pull requests merged in 2025-02, with the labels that each got.

#21980 fix: prevent receiving routes for unsupported receiving chains on bridge flow
  status-go-version.json
Labels: request-manual-qa, status-go, test cases required, wallet-core

#21995 feat(wallet)_: Remove EIP-3770 address format
  src/quo/components/drawers/drawer_top/view.cljs
  src/quo/components/inputs/address_input/view.cljs
  src/quo/components/list_items/account_list_card/component_spec.cljs
  src/quo/components/list_items/account_list_card/view.cljs
  src/quo/components/share/share_qr_code/component_spec.cljs
  src/quo/components/share/share_qr_code/schema.cljs
  src/quo/components/share/share_qr_code/view.cljs
  src/status_im/config.cljs
  src/status_im/contexts/preview/quo/list_items/account_list_card.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/add_address_to_save/view.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/events.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/events_test.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/save_address/view.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/share_address/view.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/sheets/address_options/view.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/view.cljs
  src/status_im/contexts/shell/qr_reader/sheets/scanned_wallet_address.cljs
  src/status_im/contexts/shell/share/wallet/component_spec.cljs
  src/status_im/contexts/shell/share/wallet/view.cljs
  src/status_im/contexts/wallet/account/edit_account/view.cljs
  src/status_im/contexts/wallet/account/share_address/view.cljs
  src/status_im/contexts/wallet/account/tabs/about/view.cljs
  src/status_im/contexts/wallet/add_account/add_address_to_watch/view.cljs
  src/status_im/contexts/wallet/common/utils/external_links.cljs
  src/status_im/contexts/wallet/send/events.cljs
  src/status_im/contexts/wallet/send/events_test.cljs
  src/status_im/contexts/wallet/send/from/view.cljs
  src/status_im/contexts/wallet/send/select_address/tabs/view.cljs
  src/status_im/contexts/wallet/send/select_address/view.cljs
  src/status_im/contexts/wallet/sheets/account_options/view.cljs
  src/utils/address.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, wallet-core

#22015 e2e: fix for wallet swap test
  test/appium/tests/critical/test_wallet.py
Labels: tests

#22007 fix(wallet)_: Assets unsupported for bridge appear as disabled on swap flow
  src/status_im/contexts/wallet/account/view.cljs
  src/status_im/contexts/wallet/common/token_value/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#21985 feat: elevate and highlight wallet CTAs on wallet home screen
  src/status_im/contexts/shell/share/view.cljs
  src/status_im/contexts/wallet/events.cljs
  src/status_im/contexts/wallet/home/style.cljs
  src/status_im/contexts/wallet/home/view.cljs
  src/status_im/contexts/wallet/send/events.cljs
  src/status_im/contexts/wallet/send/events_test.cljs
  src/status_im/contexts/wallet/send/from/view.cljs
  src/status_im/contexts/wallet/swap/events.cljs
  src/status_im/contexts/wallet/swap/select_account/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22018 feat(messenger): Add option to copy active message ID
  src/status_im/contexts/chat/messenger/messages/drawers/view.cljs
  src/status_im/subs/chats.cljs
  src/status_im/subs/profile.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa

#22008 Changing the PIN of the Keycard
  src/status_im/contexts/keycard/change_pin/events.cljs
  src/status_im/contexts/keycard/change_pin/view.cljs
  src/status_im/contexts/keycard/effects.cljs
  src/status_im/contexts/keycard/events.cljs
  src/status_im/contexts/keycard/manage/profile_keys/view.cljs
  src/status_im/contexts/keycard/pin/create/view.cljs
  src/status_im/contexts/keycard/pin/enter/view.cljs
  src/status_im/events.cljs
  src/status_im/navigation/effects.cljs
  src/status_im/navigation/screens.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, test cases required, keycard

#22009 Allow users to view the recovery phrase again when creating a profile for an empty keycard
  src/status_im/contexts/keycard/create/events.cljs
  src/status_im/contexts/keycard/migrate/events.cljs
  src/status_im/contexts/profile/backup_recovery_phrase/view.cljs
  src/status_im/contexts/wallet/add_account/create_account/new_keypair/confirm_backup/view.cljs
Labels: Tested - OK, request-manual-qa, keycard

#22026 [#21939] fix: handle sign message after dapp pairing
  src/status_im/contexts/keycard/utils.cljs
  src/status_im/contexts/wallet/wallet_connect/events/session_requests.cljs
  src/utils/address.cljs
Labels: Tested - OK, request-manual-qa

#21937 Make reagent transform prop keys in vectors
  src/quo/components/blur/view.cljs
  src/quo/components/buttons/button/style.cljs
  src/quo/components/buttons/button/view.cljs
  src/quo/components/drawers/drawer_top/view.cljs
  src/quo/components/gradient/gradient_cover/view.cljs
  src/quo/components/inputs/input/view.cljs
  src/quo/components/keycard/style.cljs
  src/quo/components/messages/gap.cljs
  src/quo/components/settings/category/data_item/view.cljs
  src/quo/components/settings/category/reorder/view.cljs
  src/quo/components/settings/category/settings/view.cljs
  src/quo/components/share/qr_code/style.cljs
  src/quo/components/share/qr_code/view.cljs
  src/quo/components/tags/context_tag/view.cljs
  src/quo/components/wallet/network_bridge/view.cljs
  src/react_native/core.cljs
  src/react_native/reanimated.cljs
  src/react_native/utils_test.cljs
  src/status_im/common/scan_qr_code/style.cljs
  src/status_im/common/scan_qr_code/view.cljs
  src/status_im/core.cljs
  src/utils/reagent.cljs
  src/utils/transforms.cljs
Labels: Tested - OK, request-manual-qa, developer-xp

#22028 Fix keycard theme issue and add documentation for ready to add key pair screen
  src/quo/components/drawers/documentation_drawers/style.cljs
  src/quo/components/drawers/documentation_drawers/view.cljs
  src/status_im/contexts/keycard/backup/events.cljs
  src/status_im/contexts/keycard/change_pin/events.cljs
  src/status_im/contexts/keycard/check/events.cljs
  src/status_im/contexts/keycard/check/view.cljs
  src/status_im/contexts/keycard/create/events.cljs
  src/status_im/contexts/keycard/create/view.cljs
  src/status_im/contexts/keycard/error/view.cljs
  src/status_im/contexts/keycard/events.cljs
  src/status_im/contexts/keycard/factory_reset/view.cljs
  src/status_im/contexts/keycard/login/events.cljs
  src/status_im/contexts/keycard/manage/profile_keys/view.cljs
  src/status_im/contexts/keycard/migrate/events.cljs
  src/status_im/contexts/keycard/nfc/sheets/events.cljs
  src/status_im/contexts/keycard/nfc/sheets/view.cljs
  src/status_im/contexts/wallet/add_account/create_account/new_keypair/confirm_backup/view.cljs
  src/status_im/navigation/screens.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa

#22030 [#21993] Keycard - Unblock Keycard
  src/status_im/contexts/keycard/backup/events.cljs
  src/status_im/contexts/keycard/check/events.cljs
  src/status_im/contexts/keycard/create/events.cljs
  src/status_im/contexts/keycard/error/view.cljs
  src/status_im/contexts/keycard/events.cljs
  src/status_im/contexts/keycard/migrate/events.cljs
  src/status_im/contexts/keycard/unblock/events.cljs
  src/status_im/contexts/keycard/unblock/view.cljs
  src/status_im/contexts/keycard/utils.cljs
  src/status_im/navigation/screens.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, test cases required, keycard

#22043 Fix: update copy for keycard
  translations/en.json
Labels: skip-manual-qa

#22041 fix: add version field to localSrc definition for go-mobile nix build
  nix/status-go/source.nix
Labels: skip-manual-qa, mobile-core

#22064 e2e: added smoke tests for android 12 and 13
  test/appium/tests/base_test_case.py
  test/appium/tests/test_different_android_versions.py
Labels: tests

#22066 Update Keycard color in keycard flows
  src/quo/components/empty_state/empty_state/styles.cljs
  src/quo/components/inputs/input/style.cljs
  src/quo/components/keycard/component_spec.cljs
  src/quo/components/keycard/style.cljs
  src/quo/components/keycard/view.cljs
  src/quo/foundations/colors.cljs
  src/status_im/contexts/keycard/error/view.cljs
  src/status_im/contexts/keycard/manage/profile_keys/view.cljs
  src/status_im/contexts/keycard/migrate/profile_keys/view.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa

#22076 e2e: added test for contact request, receiver is offline
  test/appium/support/testrail_report.py
  test/appium/tests/activity_center/test_activity_center.py
  test/appium/views/home_view.py
Labels: tests

#21867 [#21483] fix: update collectible amounts after sending
  src/status_im/contexts/wallet/collectible/events.cljs
  src/status_im/contexts/wallet/collectible/utils.cljs
  src/status_im/contexts/wallet/collectible/utils_test.cljs
  src/status_im/contexts/wallet/common/collectibles_tab/view.cljs
  src/status_im/contexts/wallet/data_store.cljs
  src/status_im/contexts/wallet/data_store_test.cljs
  src/status_im/contexts/wallet/send/events.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22075 fix few Keycard UI issues
  src/quo/components/buttons/predictive_keyboard/view.cljs
  src/quo/components/onboarding/small_option_card/view.cljs
  src/status_im/contexts/keycard/create/view.cljs
  src/status_im/contexts/keycard/empty/view.cljs
  src/status_im/contexts/keycard/error/view.cljs
  translations/en.json
Labels: skip-manual-qa

#21988 Improve activity loading to avoid sitations when activity tab becomes empty after auto-refresh or app backgrounding
  src/status_im/contexts/wallet/common/activity_tab/events.cljs
  src/status_im/contexts/wallet/common/activity_tab/view.cljs
  src/status_im/contexts/wallet/events.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22078 feat: show swap proposal exchange rate
  src/status_im/contexts/wallet/swap/setup_swap/style.cljs
  src/status_im/contexts/wallet/swap/setup_swap/view.cljs
  src/status_im/subs/wallet/swap.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, wallet-core

#22040 fix: transaction fails when signed from auto-restored derived account after seed phrase recovery with biometric authentication enabled
  src/status_im/common/standard_authentication/events.cljs
  src/status_im/subs/wallet/wallet.cljs
  src/status_im/subs/wallet/wallet_test.cljs
  src/tests/integration_test/standard_auth_test.cljs
Labels: Tested - OK, request-manual-qa, bug, wallet-core

#22119 deps: fix path to hack script and regenerate
  nix/deps/gradle/deps.json
  nix/deps/gradle/deps.list
  nix/deps/gradle/deps.urls
  nix/deps/gradle/generate.sh
Labels: infra, skip-manual-qa

#22108 Allow user to access recovery phrase after canceling 'Confirm Backup' drawer
  src/status_im/contexts/wallet/add_account/create_account/new_keypair/confirm_backup/view.cljs
Labels: Tested - OK, request-manual-qa

#21940 ci: upgrade go to 1.22
  nix/overlay.nix
  nix/pkgs/gomobile/default.nix
  status-go-version.json
Labels: Tested - OK, request-manual-qa, status-go

#22031 [#22029] fix: bridge button when there is single account
  src/status_im/contexts/wallet/events.cljs
  src/status_im/contexts/wallet/home/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22169 e2e: added tests for collectibles
  test/appium/tests/critical/wallet/test_collectibles.py
  test/appium/tests/critical/wallet/test_wallet_mainnet.py
  test/appium/tests/critical/wallet/test_wallet_testnet.py
  test/appium/views/elements_templates/BVL_collectible_image_template.png
  test/appium/views/elements_templates/BVL_expanded_collectible_image_template.png
  test/appium/views/elements_templates/Glitch Punks_collectible_image_template.png
  test/appium/views/elements_templates/Glitch Punks_expanded_collectible_image_template.png
  test/appium/views/wallet_view.py
Labels: tests

#22151 deps: dynamically get gradle-lint version
  nix/deps/gradle/deps_hack.sh
  nix/pkgs/aapt2/default.nix
Labels: skip-manual-qa

#22019 Quick transaction settings
  src/status_im/constants.cljs
  src/status_im/contexts/wallet/data_store.cljs
  src/status_im/contexts/wallet/send/events.cljs
  src/status_im/contexts/wallet/send/input_amount/view.cljs
  src/status_im/contexts/wallet/send/transaction_confirmation/view.cljs
  src/status_im/contexts/wallet/send/transaction_settings/core.cljs
  src/status_im/contexts/wallet/send/transaction_settings/view.cljs
  src/status_im/contexts/wallet/send/utils.cljs
  src/status_im/contexts/wallet/send/utils_test.cljs
  src/status_im/contexts/wallet/swap/set_spending_cap/view.cljs
  src/status_im/contexts/wallet/swap/swap_confirmation/view.cljs
  src/status_im/subs/wallet/send.cljs
  src/status_im/subs/wallet/swap.cljs
  src/status_im/subs/wallet/swap_test.cljs
  src/status_im/subs/wallet/wallet.cljs
  src/status_im/subs/wallet/wallet_test.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa, test cases required, wallet-core

#22115 [#21999] fix: disable manual auto refresh as new endpoint include auto refresh
  src/status_im/contexts/wallet/swap/events.cljs
  src/status_im/contexts/wallet/swap/set_spending_cap/view.cljs
  src/status_im/contexts/wallet/swap/setup_swap/view.cljs
  src/status_im/contexts/wallet/swap/swap_confirmation/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22143 [#21233] Add missing community stats
  src/quo/components/community/community_card_view.cljs
  src/quo/components/community/community_list_view.cljs
  src/quo/components/community/community_view.cljs
  src/quo/components/community/style.cljs
  src/status_im/contexts/communities/actions/leave/events.cljs
  src/status_im/contexts/communities/discover/view.cljs
Labels: request-manual-qa

#21975 chore(analytics): Allow analytics to be configured per env
  ci/Jenkinsfile.android
  ci/Jenkinsfile.combined
  ci/Jenkinsfile.e2e-nightly
  ci/Jenkinsfile.ios
  ci/Jenkinsfile.tests
  ci/tests/Jenkinsfile.e2e-nightly
  ci/tests/Jenkinsfile.e2e-prs
  ci/tests/Jenkinsfile.e2e-upgrade
  ci/tools/Jenkinsfile.fastlane-clean
  ci/tools/Jenkinsfile.nix-cache
  ci/tools/Jenkinsfile.playstore-meta
  ci/tools/Jenkinsfile.xcode-clean
  scripts/build-android.sh
  shadow-cljs.edn
  src/status_im/config.cljs
Labels: infra, skip-manual-qa

#22192 _TEMPORARY_ enabled all logging in release for testing purposes
  .env.release
Labels: skip-manual-qa

#22197 nix: use openjdk_headless to avoid pulling GTK
  nix/mobile/android/default.nix
  nix/mobile/jsbundle/default.nix
  nix/overlay.nix
  nix/pkgs/android-sdk/shell.nix
  nix/shells.nix
  nix/status-go/mobile/build.nix
Labels: nix

#22196 [#22194] NFC prompt text not visible
  src/status_im/contexts/keycard/nfc/sheets/view.cljs
Labels: Tested - OK, request-manual-qa

#22201 fix_: no log file
  src/legacy/status_im/log_level/core.cljs
  src/legacy/status_im/ui/screens/log_level_settings/views.cljs
Labels: request-manual-qa, status-go
