Repository status-im/status-mobile, pull requests merged in 2025-03, with the labels that each got.

#22212 [#22206] fix: swap proposal keep sending update either after clean up
  src/status_im/contexts/wallet/swap/events.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22210 Fix slide-button not resetting
  nix/mobile/android/build.nix
  nix/mobile/android/default.nix
  nix/mobile/jsbundle/default.nix
  nix/overlay.nix
  nix/pkgs/android-sdk/shell.nix
  nix/shells.nix
  nix/status-go/mobile/build.nix
  src/quo/components/buttons/slide_button/constants.cljs
  src/quo/components/buttons/slide_button/view.cljs
  src/status_im/common/standard_authentication/standard_auth/slide_button/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22220 fix Some of the message longtap options disappear until relogin after unmuting chat
  src/status_im/contexts/chat/events.cljs
Labels: Tested - OK, request-manual-qa

#22221 fix Some of the message longtap options disappear until relogin after unmuting chat
  src/status_im/contexts/chat/events.cljs
Labels: skip-manual-qa

#22215 feat(wallet)_: Add base chain indicator
  src/quo/components/common/new_feature_dot.cljs
  src/quo/components/common/new_feature_gradient.cljs
  src/quo/components/dropdowns/network_dropdown/component_spec.cljs
  src/quo/components/dropdowns/network_dropdown/style.cljs
  src/quo/components/dropdowns/network_dropdown/view.cljs
  src/quo/components/navigation/page_nav/view.cljs
  src/quo/components/settings/settings_item/style.cljs
  src/quo/components/settings/settings_item/view.cljs
  src/quo/components/wallet/wallet_overview/schema.cljs
  src/quo/components/wallet/wallet_overview/view.cljs
  src/quo/foundations/colors.cljs
  src/status_im/contexts/wallet/common/account_switcher/view.cljs
  src/status_im/contexts/wallet/common/utils.cljs
  src/status_im/contexts/wallet/effects.cljs
  src/status_im/contexts/wallet/events.cljs
  src/status_im/contexts/wallet/home/view.cljs
  src/status_im/contexts/wallet/send/input_amount/component_spec.cljs
  src/status_im/contexts/wallet/sheets/network_filter/view.cljs
  src/status_im/events.cljs
  src/status_im/subs/wallet/wallet.cljs
  test/appium/tests/critical/wallet/test_collectibles.py
  test/appium/tests/critical/wallet/test_wallet_mainnet.py
  test/appium/views/wallet_view.py
  translations/en.json
Labels: Tested - OK, request-manual-qa, wallet-core

#22224 e2e: fix for collectibles tests
  test/appium/tests/critical/wallet/test_collectibles.py
  test/appium/views/elements_templates/BVL_collectible_image_template.png
  test/appium/views/elements_templates/BVL_expanded_collectible_image_template.png
Labels: tests

#22218 Updated designs for swap sign transaction screen
  src/quo/components/wallet/summary_info/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22207 Fix for overlapping elements on Swap input page
  src/quo/components/banners/alert_banner/style.cljs
  src/quo/components/banners/alert_banner/view.cljs
  src/status_im/contexts/wallet/swap/setup_swap/style.cljs
  src/status_im/contexts/wallet/swap/setup_swap/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22231 fix(wallet)_: Address or ENS - Paste button behaviour
  src/status_im/contexts/settings/wallet/saved_addresses/add_address_to_save/view.cljs
  src/status_im/contexts/wallet/add_account/add_address_to_watch/view.cljs
  src/status_im/contexts/wallet/common/utils.cljs
  src/status_im/contexts/wallet/send/select_address/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22222 e2e: added tests for mobile data messaging
  test/appium/tests/base_test_case.py
  test/appium/tests/critical/chats/test_public_chat_browsing.py
  test/appium/views/base_view.py
  test/appium/views/profile_view.py
Labels: tests

#22233 Use updated prices from route to calculate swap exchange rate
  ci/tools/Jenkinsfile.nix-cache
  src/status_im/contexts/wallet/common/utils.cljs
  src/status_im/contexts/wallet/swap/events.cljs
  src/status_im/contexts/wallet/swap/utils.cljs
  src/status_im/subs/wallet/swap.cljs
  test/appium/tests/base_test_case.py
  test/appium/tests/critical/chats/test_public_chat_browsing.py
  test/appium/tests/critical/wallet/test_collectibles.py
  test/appium/views/base_view.py
  test/appium/views/elements_templates/BVL_collectible_image_template.png
  test/appium/views/elements_templates/BVL_expanded_collectible_image_template.png
  test/appium/views/profile_view.py
Labels: Tested - OK, request-manual-qa, wallet-core

#22239 Fix slide-button not resetting (cherry-pick from release into develop)
  src/quo/components/buttons/slide_button/constants.cljs
  src/quo/components/buttons/slide_button/view.cljs
  src/status_im/common/standard_authentication/standard_auth/slide_button/view.cljs
Labels: skip-manual-qa, wallet-core

#22193 Disable full logging in release
  .env.release
Labels: skip-manual-qa, wallet-core

#22225 feat(wallet)_: Add base chain indicator (#22215)
  src/quo/components/common/new_feature_dot.cljs
  src/quo/components/common/new_feature_gradient.cljs
  src/quo/components/dropdowns/network_dropdown/component_spec.cljs
  src/quo/components/dropdowns/network_dropdown/style.cljs
  src/quo/components/dropdowns/network_dropdown/view.cljs
  src/quo/components/navigation/page_nav/view.cljs
  src/quo/components/settings/settings_item/style.cljs
  src/quo/components/settings/settings_item/view.cljs
  src/quo/components/wallet/wallet_overview/schema.cljs
  src/quo/components/wallet/wallet_overview/view.cljs
  src/quo/foundations/colors.cljs
  src/status_im/contexts/wallet/common/account_switcher/view.cljs
  src/status_im/contexts/wallet/common/utils.cljs
  src/status_im/contexts/wallet/effects.cljs
  src/status_im/contexts/wallet/events.cljs
  src/status_im/contexts/wallet/home/view.cljs
  src/status_im/contexts/wallet/send/input_amount/component_spec.cljs
  src/status_im/contexts/wallet/sheets/network_filter/view.cljs
  src/status_im/events.cljs
  src/status_im/subs/wallet/wallet.cljs
  test/appium/tests/critical/wallet/test_collectibles.py
  test/appium/tests/critical/wallet/test_wallet_mainnet.py
  test/appium/views/wallet_view.py
  translations/en.json
Labels: skip-manual-qa, wallet-core

#22244 fix(wallet)_: Address or ENS - Paste button behaviour
  src/status_im/contexts/settings/wallet/saved_addresses/add_address_to_save/view.cljs
  src/status_im/contexts/wallet/add_account/add_address_to_watch/view.cljs
  src/status_im/contexts/wallet/common/utils.cljs
  src/status_im/contexts/wallet/send/select_address/view.cljs
Labels: skip-manual-qa, wallet-core

#22245 Swap exchange rate conversion (cherry-picked)
  src/status_im/contexts/wallet/common/utils.cljs
  src/status_im/contexts/wallet/swap/events.cljs
  src/status_im/contexts/wallet/swap/utils.cljs
  src/status_im/subs/wallet/swap.cljs
Labels: skip-manual-qa, wallet-core

#22216 Update keycard connect stage while changing pin
  src/status_im/contexts/keycard/change_pin/events.cljs
Labels: Tested - OK, request-manual-qa

#22260 Fix swap error when the flow is finished
  src/status_im/contexts/wallet/swap/utils.cljs
  src/status_im/subs/wallet/swap.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22049 Signing with standard-auth (incl. keycard signing)
  src/status_im/common/standard_authentication/core.cljs
  src/status_im/common/standard_authentication/events.cljs
  src/status_im/common/standard_authentication/events_schema.cljs
  src/status_im/common/standard_authentication/events_test.cljs
  src/status_im/common/standard_authentication/keycard_events.cljs
  src/status_im/common/standard_authentication/slide_auth.cljs
  src/status_im/common/standard_authentication/slide_sign.cljs
  src/status_im/common/standard_authentication/standard_auth/slide_button/view.cljs
  src/status_im/common/standard_authentication/utils.cljs
  src/status_im/config.cljs
  src/status_im/contexts/communities/actions/accounts_selection/effects.cljs
  src/status_im/contexts/communities/actions/accounts_selection/events.cljs
  src/status_im/contexts/communities/actions/accounts_selection/events_test.cljs
  src/status_im/contexts/communities/actions/accounts_selection/style.cljs
  src/status_im/contexts/communities/actions/accounts_selection/view.cljs
  src/status_im/contexts/communities/actions/addresses_for_permissions/view.cljs
  src/status_im/contexts/communities/actions/airdrop_addresses/view.cljs
  src/status_im/contexts/communities/actions/request_to_join/style.cljs
  src/status_im/contexts/communities/actions/request_to_join/view.cljs
  src/status_im/contexts/communities/overview/events.cljs
  src/status_im/contexts/communities/overview/events_test.cljs
  src/status_im/contexts/communities/overview/view.cljs
  src/status_im/contexts/communities/utils.cljs
  src/status_im/contexts/keycard/authorise/view.cljs
  src/status_im/contexts/keycard/effects.cljs
  src/status_im/contexts/keycard/sign/events.cljs
  src/status_im/contexts/profile/settings/screens/password/view.cljs
  src/status_im/contexts/settings/wallet/events.cljs
  src/status_im/contexts/settings/wallet/keypairs_and_accounts/missing_keypairs/encrypted_qr/view.cljs
  src/status_im/contexts/settings/wallet/keypairs_and_accounts/missing_keypairs/import_private_key/view.cljs
  src/status_im/contexts/settings/wallet/keypairs_and_accounts/missing_keypairs/import_seed_phrase/view.cljs
  src/status_im/contexts/settings/wallet/keypairs_and_accounts/remove/view.cljs
  src/status_im/contexts/syncing/setup_syncing/view.cljs
  src/status_im/contexts/wallet/add_account/create_account/events.cljs
  src/status_im/contexts/wallet/add_account/create_account/view.cljs
  src/status_im/contexts/wallet/data_store.cljs
  src/status_im/contexts/wallet/effects.cljs
  src/status_im/contexts/wallet/send/events.cljs
  src/status_im/contexts/wallet/send/transaction_confirmation/view.cljs
  src/status_im/contexts/wallet/send/utils.cljs
  src/status_im/contexts/wallet/swap/set_spending_cap/view.cljs
  src/status_im/contexts/wallet/swap/swap_confirmation/view.cljs
  src/status_im/contexts/wallet/wallet_connect/events/session_responses.cljs
  src/status_im/contexts/wallet/wallet_connect/modals/common/footer/view.cljs
  src/status_im/navigation/screens.cljs
  src/status_im/subs/communities.cljs
  src/status_im/subs/root.cljs
  src/status_im/subs/standard_authentication.cljs
  src/status_im/subs/wallet/dapps/requests.cljs
  src/tests/integration_test/standard_auth_test.cljs
  src/utils/promesa.clj
  src/utils/signatures.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22263 Fix swap error when the flow is finished (cherry-picked)
  src/status_im/contexts/wallet/swap/utils.cljs
  src/status_im/subs/wallet/swap.cljs
Labels: skip-manual-qa, wallet-core

#22204 [#22111] fix: disabled bridge assets effect other list
  src/status_im/contexts/wallet/common/asset_list/view.cljs
  src/status_im/contexts/wallet/home/view.cljs
  src/status_im/subs/wallet/wallet.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22253 [#22248] fix: wallet tokens card padding
  src/status_im/contexts/wallet/home/tabs/style.cljs
Labels: skip-manual-qa, design-review-required, wallet-core

#22256 [#22249] fix: display 24-hour amount change instead of current price
  src/status_im/contexts/wallet/common/utils.cljs
  src/status_im/contexts/wallet/common/utils_test.cljs
Labels: Tested - OK, request-manual-qa, design-review-required, wallet-core

#22177 feat: add status help link
  src/legacy/status_im/ui/screens/help_center/views.cljs
  src/status_im/common/standard_authentication/events_test.cljs
  src/status_im/constants.cljs
Labels: Tested - OK, request-manual-qa, external, design-review-required

#22185 Wrong address opening when attempt to edit a saved one
  src/status_im/contexts/settings/wallet/saved_addresses/add_address_to_save/view.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/events.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/save_address/view.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/sheets/address_options/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22242 Fix quick transaction setting when bridging erc20
  src/status_im/contexts/wallet/send/events.cljs
  src/status_im/contexts/wallet/send/utils.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22270 Fixes activities list cleaning after unsuccessful activites request from status-go
  src/status_im/contexts/wallet/common/activity_tab/constants.cljs
  src/status_im/contexts/wallet/common/activity_tab/events.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa, wallet-core

#22283 ci: fix Nix Cache Jenkins job
  ci/tools/Jenkinsfile.nix-cache
Labels: infra, nix

#22235 chore(analytics): Simplify analytics testing
  src/legacy/status_im/ui/screens/advanced_settings/views.cljs
  src/status_im/contexts/profile/events.cljs
  src/status_im/feature_flags.cljs
  src/status_im/subs/root.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa

#22290 e2e: fix for contact request handling
  test/appium/views/home_view.py
Labels: tests

#22272 [#21389] fix: display correct amount without rounding
  src/status_im/contexts/wallet/common/utils.cljs
  src/utils/number.cljs
  src/utils/number_test.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22048 [#22036] fix: max fee issue when swapping from ETH
  src/quo/components/wallet/swap_input/style.cljs
  src/quo/components/wallet/swap_input/view.cljs
  src/status_im/constants.cljs
  src/status_im/contexts/wallet/common/token_value/view.cljs
  src/status_im/contexts/wallet/common/utils.cljs
  src/status_im/contexts/wallet/common/utils_test.cljs
  src/status_im/contexts/wallet/data_store.cljs
  src/status_im/contexts/wallet/send/events.cljs
  src/status_im/contexts/wallet/swap/events.cljs
  src/status_im/contexts/wallet/swap/select_asset_to_pay/view.cljs
  src/status_im/contexts/wallet/swap/setup_swap/view.cljs
  src/status_im/contexts/wallet/swap/utils.cljs
  src/status_im/subs/wallet/swap.cljs
  src/utils/money.cljs
Labels: Tested - OK, request-manual-qa, test cases added, wallet-core

#22214 Keycard "refactoring" fixing many issues and UI/UX
  resources/images/ui2/keycard-profile-already-added@2x.png
  resources/images/ui2/keycard-profile-already-added@3x.png
  src/keycard/keycard.cljs
  src/status_im/common/resources.cljs
  src/status_im/contexts/keycard/authorise/view.cljs
  src/status_im/contexts/keycard/backup/events.cljs
  src/status_im/contexts/keycard/backup/view.cljs
  src/status_im/contexts/keycard/change_pin/events.cljs
  src/status_im/contexts/keycard/check/events.cljs
  src/status_im/contexts/keycard/create/events.cljs
  src/status_im/contexts/keycard/create/view.cljs
  src/status_im/contexts/keycard/different_card/view.cljs
  src/status_im/contexts/keycard/effects.cljs
  src/status_im/contexts/keycard/empty/view.cljs
  src/status_im/contexts/keycard/error/view.cljs
  src/status_im/contexts/keycard/events.cljs
  src/status_im/contexts/keycard/factory_reset/view.cljs
  src/status_im/contexts/keycard/init/events.cljs
  src/status_im/contexts/keycard/login/events.cljs
  src/status_im/contexts/keycard/login/view.cljs
  src/status_im/contexts/keycard/manage/events.cljs
  src/status_im/contexts/keycard/manage/profile_keys/view.cljs
  src/status_im/contexts/keycard/manage/view.cljs
  src/status_im/contexts/keycard/migrate/events.cljs
  src/status_im/contexts/keycard/migrate/profile_keys/view.cljs
  src/status_im/contexts/keycard/migrate/view.cljs
  src/status_im/contexts/keycard/unblock/events.cljs
  src/status_im/contexts/keycard/utils.cljs
  src/status_im/contexts/settings/keycard/view.cljs
  src/status_im/navigation/screens.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, keycard

#22269 Add seed phrase validation for keycard and status-go calls
  src/status_im/contexts/keycard/effects.cljs
  src/status_im/contexts/wallet/effects.cljs
Labels: skip-manual-qa

#22313 e2e: fix for logs
  test/appium/support/testrail_report.py
Labels: tests

#22312 invalid seed phrase generated when onboarding with keycard flow #22310
  src/legacy/status_im/ethereum/mnemonic.cljs
  src/legacy/status_im/ethereum/mnemonic_test.cljs
Labels: Tested - OK, request-manual-qa

#22289 Bugfixes/cherry pick 2.33
  src/quo/components/banners/alert_banner/style.cljs
  src/quo/components/banners/alert_banner/view.cljs
  src/quo/components/wallet/summary_info/view.cljs
  src/status_im/contexts/wallet/swap/setup_swap/style.cljs
  src/status_im/contexts/wallet/swap/setup_swap/view.cljs
Labels: skip-manual-qa

#22252 Improve Error Handling Logic in Enter Seed Phrase Screen
  src/quo/components/buttons/predictive_keyboard/view.cljs
  src/status_im/common/enter_seed_phrase/events.cljs
  src/status_im/common/enter_seed_phrase/view.cljs
  src/status_im/contexts/keycard/backup/events.cljs
  src/status_im/contexts/keycard/create/events.cljs
  src/status_im/contexts/keycard/migrate/events.cljs
  src/status_im/contexts/keycard/unblock/events.cljs
  src/status_im/contexts/onboarding/events.cljs
  src/status_im/contexts/wallet/add_account/create_account/events.cljs
  src/status_im/contexts/wallet/add_account/create_account/select_keypair/view.cljs
  src/status_im/events.cljs
  src/status_im/subs/root.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa

#22232 Add send collectible fee validation (and small send collectible fixes)
  src/quo/components/banners/alert_banner/style.cljs
  src/quo/components/tags/summary_tag/style.cljs
  src/quo/components/tags/summary_tag/view.cljs
  src/status_im/contexts/wallet/send/events.cljs
  src/status_im/contexts/wallet/send/transaction_confirmation/view.cljs
  src/status_im/subs/wallet/send.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22323 Add seed phrase validation for keycard unblock flow
  src/status_im/contexts/keycard/unblock/events.cljs
Labels: Tested - OK, request-manual-qa

#22299 perf: optimize fetch token details calls
  src/status_im/contexts/wallet/account/view.cljs
  src/status_im/contexts/wallet/events.cljs
  src/status_im/contexts/wallet/home/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22226 fix(communities): view-only channels unsupported
  src/legacy/status_im/data_store/communities.cljs
  src/status_im/contexts/chat/events.cljs
  src/status_im/contexts/communities/events.cljs
  src/status_im/contexts/communities/overview/view.cljs
  src/status_im/subs/chats.cljs
Labels: Tested - OK, request-manual-qa

#22331 Missing header for the password drawer during transaction signing by …
  src/status_im/common/standard_authentication/keycard_events.cljs
  src/status_im/contexts/keycard/pin/view.cljs
Labels: skip-manual-qa, keycard

#22319 fix: login and logout issue with Waku metrics service
  status-go-version.json
Labels: Tested - OK, request-manual-qa, status-go, mobile-core

#22328 [#22303] Keycard - Implement card scanning dialog (android)
  ios/Podfile.lock
  package.json
  resources/images/ui2/nfc-fail@2x.png
  resources/images/ui2/nfc-fail@3x.png
  resources/images/ui2/nfc-prompt-android@2x.png
  resources/images/ui2/nfc-prompt-android@3x.png
  src/status_im/common/resources.cljs
  src/status_im/contexts/keycard/change_pin/events.cljs
  src/status_im/contexts/keycard/create/events.cljs
  src/status_im/contexts/keycard/events.cljs
  src/status_im/contexts/keycard/migrate/events.cljs
  src/status_im/contexts/keycard/nfc/effects.cljs
  src/status_im/contexts/keycard/nfc/events.cljs
  src/status_im/contexts/keycard/nfc/sheets/events.cljs
  src/status_im/contexts/keycard/nfc/sheets/style.cljs
  src/status_im/contexts/keycard/nfc/sheets/view.cljs
  src/status_im/contexts/keycard/unblock/events.cljs
  src/status_im/contexts/wallet/add_account/create_account/edit_derivation_path/view.cljs
  src/status_im/navigation/view.cljs
  src/status_im/subs/keycard.cljs
  translations/en.json
  yarn.lock
Labels: Tested - OK, request-manual-qa, keycard

#22338 e2e: false failures fixes
  test/appium/tests/critical/test_fallback.py
  test/appium/tests/critical/wallet/test_collectibles.py
  test/appium/views/elements_templates/BVL_collectible_image_template.png
  test/appium/views/elements_templates/BVL_expanded_collectible_image_template.png
  test/appium/views/elements_templates/Glitch Punks_collectible_image_template.png
Labels: tests

#22258 Fix transaction time estimation (and added route malli schema)
  src/schema/common.cljs
  src/status_im/contexts/wallet/common/utils.cljs
  src/status_im/contexts/wallet/data_store.cljs
  src/status_im/contexts/wallet/router/core.cljs
  src/status_im/contexts/wallet/router/router_test.cljs
  src/status_im/contexts/wallet/router/schema.cljs
  src/status_im/contexts/wallet/send/transaction_confirmation/view.cljs
  src/status_im/contexts/wallet/send/transaction_settings/view.cljs
  src/status_im/contexts/wallet/send/utils.cljs
  src/status_im/contexts/wallet/swap/set_spending_cap/view.cljs
  src/status_im/contexts/wallet/swap/swap_confirmation/view.cljs
  src/status_im/contexts/wallet/wallet_connect/modals/send_transaction/view.cljs
  src/status_im/subs/wallet/send.cljs
  src/status_im/subs/wallet/swap.cljs
  src/status_im/subs/wallet/wallet.cljs
  test/appium/tests/critical/wallet/test_collectibles.py
  test/appium/tests/critical/wallet/test_wallet_mainnet.py
  translations/en.json
Labels: Tested - OK, request-manual-qa, wallet-core

#22330 Entered PIN is not cleared if user entered wrong Keycard PIN OR retur…
  src/status_im/contexts/keycard/pin/create/view.cljs
  src/status_im/contexts/keycard/pin/events.cljs
Labels: Tested - OK, request-manual-qa, keycard

#22345 Polish keycard UI
  resources/images/icons2/20x20/move-up@2x.png
  resources/images/icons2/20x20/move-up@3x.png
  resources/images/icons2/20x20/pincode@2x.png
  resources/images/icons2/20x20/pincode@3x.png
  resources/images/icons2/20x20/revert@2x.png
  resources/images/icons2/20x20/revert@3x.png
  resources/images/ui2/check-your-keycard.png
  resources/images/ui2/keycard-check@2x.png
  resources/images/ui2/keycard-check@3x.png
  resources/images/ui2/keycard-orange@2x.png
  resources/images/ui2/keycard-orange@3x.png
  src/quo/components/keycard/component_spec.cljs
  src/quo/components/keycard/view.cljs
  src/quo/foundations/resources.cljs
  src/status_im/common/resources.cljs
  src/status_im/contexts/keycard/create/view.cljs
  src/status_im/contexts/keycard/error/view.cljs
  src/status_im/contexts/keycard/login/view.cljs
  src/status_im/contexts/keycard/manage/profile_keys/view.cljs
  src/status_im/contexts/keycard/manage/view.cljs
  src/status_im/contexts/keycard/migrate/profile_keys/view.cljs
  src/status_im/contexts/keycard/pin/create/view.cljs
  src/status_im/contexts/keycard/pin/enter/view.cljs
  translations/en.json
Labels: skip-manual-qa, keycard

#22339 Fix `reagent.config/kv-conf` extracting `name` from non-named props
  src/react_native/flat_list.cljs
  src/reagent/config.cljs
Labels: Tested - OK, request-manual-qa

#22350 chore: update status-go to v10.13.0
  status-go-version.json
Labels: status-go, mobile-core

#22359 small fix for keycard ui
  src/status_im/contexts/keycard/pin/create/view.cljs
Labels: skip-manual-qa

#22278 fix: allow auto-correct to update message text before sending message
  src/status_im/contexts/chat/messenger/composer/actions/view.cljs
Labels: Tested - OK, request-manual-qa, chat-composer, mobile-core

#22337 [#22160] feat: add usdc to tokens default list
  status-go-version.json
Labels: Tested - OK, request-manual-qa, wallet-core

#22329 fix: error and error callback not passed when keycard auth fails
  src/status_im/common/standard_authentication/keycard_events.cljs
  src/status_im/contexts/keycard/sign/events.cljs
  src/status_im/contexts/keycard/utils.cljs
Labels: request-manual-qa, wallet-core, keycard

#22344 Check balance when changing tx fee settings
  status-go-version.json
Labels: Tested - OK, request-manual-qa, status-go, wallet-core

#22267 feat(wallet)_: Add status network sepolia
  resources/images/networks/Status@2x.png
  resources/images/networks/Status@3x.png
  src/quo/components/wallet/summary_info/view.cljs
  src/quo/foundations/resources.cljs
  src/status_im/config.cljs
  src/status_im/constants.cljs
  src/status_im/contexts/settings/wallet/network_settings/view.cljs
  src/status_im/contexts/settings/wallet/saved_addresses/sheets/address_options/view.cljs
  src/status_im/contexts/wallet/account/tabs/about/view.cljs
  src/status_im/contexts/wallet/common/utils.cljs
  src/status_im/contexts/wallet/common/utils/external_links.cljs
  src/status_im/contexts/wallet/common/utils/networks.cljs
  src/status_im/contexts/wallet/data_store.cljs
  src/status_im/contexts/wallet/db.cljs
  src/status_im/contexts/wallet/events.cljs
  src/status_im/contexts/wallet/events_test.cljs
  src/status_im/contexts/wallet/send/utils.cljs
  src/status_im/contexts/wallet/sheets/network_filter/view.cljs
  src/status_im/contexts/wallet/sheets/network_selection/view.cljs
  src/status_im/subs/wallet/wallet_test.cljs
  status-go-version.json
  translations/en.json
Labels: Tested - OK, request-manual-qa, status-go, test cases required, wallet-core

#22365 e2e: fix for Testrail
  test/appium/requirements.txt
  test/appium/support/testrail_report.py
Labels: tests

#22366 e2e: false failure fixes
  test/appium/tests/critical/wallet/test_wallet_mainnet.py
  test/appium/tests/critical/wallet/test_wallet_testnet.py
Labels: tests

#22314 Refactoring: removed duplications in swap rf-db access paths
  src/status_im/contexts/wallet/buy_crypto/events.cljs
  src/status_im/contexts/wallet/db_path.cljs
  src/status_im/contexts/wallet/events.cljs
  src/status_im/contexts/wallet/signals.cljs
  src/status_im/contexts/wallet/swap/events.cljs
  src/status_im/subs/wallet/swap_test.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22371 scripts: bump Diawi upload retries, add clear error
  scripts/diawi-upload.mjs
Labels: ios, infra

#22293 [#21902] Reimplement community overview
  src/js/worklets/communities.js
  src/mocks/js_dependencies.cljs
  src/quo/components/navigation/page_nav/style.cljs
  src/quo/components/navigation/page_nav/view.cljs
  src/react_native/gesture.cljs
  src/react_native/reanimated.cljs
  src/react_native/utils.cljs
  src/status_im/contexts/communities/overview/style.cljs
  src/status_im/contexts/communities/overview/view.cljs
  src/status_im/subs/chats.cljs
  src/status_im/subs/communities.cljs
  src/status_im/subs/communities_test.cljs
  src/utils/transforms.cljs
  src/utils/worklets/communities.cljs
Labels: Tested - OK, request-manual-qa

#22348 [#22347] fix: handle wc intent for android device
  android/app/src/main/AndroidManifest.xml
  src/status_im/common/router.cljs
  src/status_im/constants.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22361 Login to keycard's profile with biometrics
  src/status_im/common/biometric/events.cljs
  src/status_im/common/bottom_sheet/style.cljs
  src/status_im/common/bottom_sheet/view.cljs
  src/status_im/common/keychain/events.cljs
  src/status_im/common/standard_authentication/keycard_events.cljs
  src/status_im/contexts/profile/settings/screens/password/view.cljs
Labels: Tested - OK, request-manual-qa, keycard

#22334 e2e: added profile tests
  test/appium/requirements.txt
  test/appium/support/testrail_report.py
  test/appium/tests/critical/test_profile.py
  test/appium/views/base_element.py
  test/appium/views/base_view.py
  test/appium/views/chat_view.py
  test/appium/views/elements_templates/profile_image.png
  test/appium/views/elements_templates/profile_image_contacts_profile.png
  test/appium/views/elements_templates/profile_image_sign_in_view.png
  test/appium/views/home_view.py
  test/appium/views/profile_view.py
  test/appium/views/sign_in_view.py
  test/appium/views/wallet_view.py
Labels: tests

#22393 e2e: reorganised TR cases
  test/appium/support/testrail_report.py
  test/appium/tests/critical/chats/test_public_chat_browsing.py
Labels: tests

#22402 e2e: new PR scope
  test/appium/tests/critical/chats/test_1_1_public_chats.py
  test/appium/tests/critical/chats/test_group_chat.py
  test/appium/tests/critical/chats/test_public_chat_browsing.py
  test/appium/tests/critical/test_profile.py
  test/appium/tests/critical/wallet/test_wallet_mainnet.py
  test/appium/tests/critical/wallet/test_wallet_testnet.py
Labels: tests

#22410 e2e: change structure to align with current functional areas
  test/appium/tests/communities/test_community.py
  test/appium/tests/deep_links/test_deep_and_universal_links.py
  test/appium/tests/different_os/test_different_android_versions.py
  test/appium/tests/marks.py
  test/appium/tests/non_func/exp.db
  test/appium/tests/private_chats/test_group_chat.py
  test/appium/tests/private_chats/test_one_to_one_chat.py
  test/appium/tests/profile/test_fallback.py
  test/appium/tests/profile/test_profile.py
  test/appium/tests/wallet/test_collectibles.py
  test/appium/tests/wallet/test_wallet_mainnet_no_send.py
  test/appium/tests/wallet_txs/test_wallet_testnet.py
Labels: tests
