Repository status-im/status-mobile, pull requests merged in 2025-04, with the labels that each got.

#22360 Remove traces of identity rings in the mobile app
  src/legacy/status_im/subs/ens.cljs
  src/legacy/status_im/subs/root.cljs
  src/legacy/status_im/ui/components/chat_icon/screen.cljs
  src/quo/components/avatars/user_avatar/schema.cljs
  src/quo/components/avatars/user_avatar/style.cljs
  src/quo/components/avatars/user_avatar/view.cljs
  src/quo/components/list_items/preview_list/view.cljs
  src/quo/components/messages/system_message/view.cljs
  src/quo/components/navigation/top_nav/view.cljs
  src/quo/components/share/qr_code/view.cljs
  src/quo/components/tags/context_tag/view.cljs
  src/quo/components/wallet/account_origin/view.cljs
  src/quo/components/wallet/keypair/view.cljs
  src/schema/quo.cljs
  src/status_im/common/confirmation_drawer/view.cljs
  src/status_im/common/scalable_avatar/view.cljs
  src/status_im/contexts/chat/home/chat_list_item/view.cljs
  src/status_im/contexts/chat/messenger/composer/reply/view.cljs
  src/status_im/contexts/chat/messenger/messages/avatar/view.cljs
  src/status_im/contexts/chat/messenger/messages/content/deleted/view.cljs
  src/status_im/contexts/chat/messenger/messages/content/view.cljs
  src/status_im/contexts/preview/quo/avatars/user_avatar.cljs
  src/status_im/contexts/profile/edit/header/view.cljs
  src/status_im/contexts/shell/activity_center/events.cljs
  src/status_im/subs/contact/utils.cljs
  src/status_im/subs/profile.cljs
  src/utils/image_server.cljs
  src/utils/image_server_test.cljs
Labels: Tested - OK, request-manual-qa, test cases added

#22419 e2e: swap action
  test/appium/support/testrail_report.py
  test/appium/tests/wallet/test_wallet_mainnet_no_send.py
  test/appium/tests/wallet_txs/test_wallet_mainnet_txs.py
  test/appium/tests/wallet_txs/test_wallet_testnet.py
  test/appium/views/wallet_view.py
Labels: tests

#22387 [#21649] Backup recovery phrase flow into Settings
  src/legacy/status_im/ui/screens/profile/seed/styles.cljs
  src/legacy/status_im/ui/screens/profile/seed/views.cljs
  src/legacy/status_im/ui/screens/screens.cljs
  src/quo/components/counter/counter/style.cljs
  src/quo/components/counter/counter/view.cljs
  src/quo/components/overlay/view.cljs
  src/status_im/contexts/profile/backup_recovery_phrase/style.cljs
  src/status_im/contexts/profile/backup_recovery_phrase/view.cljs
  src/status_im/contexts/profile/settings/list_items.cljs
  src/status_im/contexts/profile/settings/view.cljs
  src/status_im/contexts/wallet/add_account/create_account/new_keypair/confirm_backup/style.cljs
  src/status_im/contexts/wallet/add_account/create_account/new_keypair/confirm_backup/view.cljs
  src/status_im/navigation/screens.cljs
  src/status_im/subs/profile.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, test cases required

#22433 Chore: Lint warnings cleanup
  src/legacy/status_im/subs/mailservers.cljs
  src/quo/components/selectors/react/view.cljs
  src/quo/components/share/share_qr_code/style.cljs
  src/quo/components/wallet/account_card/view.cljs
  src/react_native/keychain.cljs
  src/status_im/common/pairing/events.cljs
  src/status_im/contexts/communities/actions/accounts_selection/events_test.cljs
  src/status_im/contexts/keycard/manage/view.cljs
  src/status_im/contexts/preview/quo/settings/data_item.cljs
  src/status_im/contexts/profile/edit/modal/view.cljs
  src/status_im/contexts/settings/keycard/style.cljs
  src/status_im/contexts/settings/keycard/view.cljs
  src/status_im/contexts/wallet/collectible/tabs/about/view.cljs
  src/status_im/contexts/wallet/networks/db.cljs
  src/status_im/contexts/wallet/rpc.cljs
  src/status_im/contexts/wallet/send/transaction_settings/core.cljs
  src/status_im/contexts/wallet/wallet_connect/utils/data_store.cljs
  src/status_im/subs/bottom_sheet.cljs
  src/status_im/subs/communities.cljs
  src/status_im/subs/root.cljs
  src/status_im/subs/wallet/dapps/requests.cljs
  src/status_im/subs/wallet/saved_addresses.cljs
  src/status_im/subs/wallet/swap.cljs
  src/status_im/subs/wallet/wallet.cljs
  src/status_im/subs/wallet/wallet_test.cljs
  src/test_helpers/integration.cljs
  src/utils/ethereum/chain_test.cljs
  src/utils/ethereum/eip/eip681.cljs
Labels: skip-manual-qa

#22394 Refactoring: removed duplications in send rf-db access paths
  src/status_im/contexts/wallet/bridge/flow_config.cljs
  src/status_im/contexts/wallet/db.cljs
  src/status_im/contexts/wallet/db_path.cljs
  src/status_im/contexts/wallet/events.cljs
  src/status_im/contexts/wallet/send/events.cljs
  src/status_im/contexts/wallet/send/events_test.cljs
  src/status_im/contexts/wallet/send/flow_config.cljs
  src/status_im/subs/wallet/networks_test.cljs
  src/status_im/subs/wallet/send_test.cljs
  src/status_im/subs/wallet/wallet_test.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22443 Implement status list item component
  resources/images/icons2/20x20/danger@2x.png
  resources/images/icons2/20x20/danger@3x.png
  resources/images/icons2/20x20/warning@2x-1.png
  resources/images/icons2/20x20/warning@2x.png
  resources/images/icons2/20x20/warning@3x-1.png
  resources/images/icons2/20x20/warning@3x.png
  src/quo/components/list_items/status_list_item/component_spec.cljs
  src/quo/components/list_items/status_list_item/schema.cljs
  src/quo/components/list_items/status_list_item/style.cljs
  src/quo/components/list_items/status_list_item/view.cljs
  src/quo/core.cljs
  src/quo/core_spec.cljs
  src/status_im/contexts/preview/quo/list_items/status_list_item.cljs
  src/status_im/contexts/preview/quo/main.cljs
  src/status_im/contexts/profile/settings/list_items.cljs
Labels: skip-manual-qa

#22390 [#22318] fix: re-enabled watched accounts with limited number
  src/status_im/constants.cljs
  src/status_im/contexts/wallet/account/view.cljs
  src/status_im/contexts/wallet/data_store.cljs
  src/status_im/contexts/wallet/home/view.cljs
  src/status_im/contexts/wallet/sheets/account_options/view.cljs
  src/status_im/feature_flags.cljs
  src/status_im/subs/wallet/wallet.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, wallet-core

#22455 Bug/passwords do not match validation error does not appear until first password field is focused #22449
  src/status_im/contexts/onboarding/create_password/view.cljs
Labels: Tested - OK, request-manual-qa

#22462 e2e: updated recovery phrase elements and flow
  test/appium/tests/profile/test_fallback.py
  test/appium/tests/profile/test_profile.py
  test/appium/tests/wallet/test_collectibles.py
  test/appium/tests/wallet/test_wallet_mainnet_no_send.py
  test/appium/views/base_view.py
  test/appium/views/profile_view.py
  test/appium/views/wallet_view.py
Labels: tests

#22446 fix React has detected a change in the order of Hooks
  src/legacy/status_im/ui/screens/communities/members.cljs
  src/status_im/common/emoji_picker/view.cljs
  src/status_im/common/lightbox/view.cljs
  src/status_im/contexts/profile/edit/modal/view.cljs
  src/status_im/contexts/wallet/add_account/add_address_to_watch/confirm_address/view.cljs
  src/status_im/contexts/wallet/add_account/create_account/new_keypair/confirm_backup/view.cljs
Labels: Tested - OK, request-manual-qa

#22484 e2e: wallet balance fix
  test/appium/tests/wallet/test_wallet_mainnet_no_send.py
Labels: tests

#22486 Unify onboarding copy across Mobile and Desktop apps
  src/status_im/contexts/onboarding/common/background/view.cljs
  translations/en.json
Labels: skip-manual-qa

#22450 Auto select last profile on app start
  src/status_im/contexts/profile/data_store.cljs
  src/status_im/contexts/profile/events.cljs
  src/status_im/contexts/profile/login/events.cljs
  src/status_im/contexts/profile/logout/events.cljs
  src/status_im/contexts/profile/profiles/view.cljs
  src/status_im/navigation/events.cljs
  src/tests/integration_test/standard_auth_test.cljs
Labels: Tested - OK, request-manual-qa

#22434 Add a hidden view-id-tracker view for e2e testing
  .env.e2e
  .env.jenkins
  src/status_im/config.cljs
  src/status_im/contexts/shell/view.cljs
Labels: Tested - OK, request-manual-qa

#22428 Quo component: Market token list item
  src/quo/components/counter/counter/style.cljs
  src/quo/components/counter/counter/view.cljs
  src/quo/components/list_items/market_token/component_spec.cljs
  src/quo/components/list_items/market_token/schema.cljs
  src/quo/components/list_items/market_token/style.cljs
  src/quo/components/list_items/market_token/view.cljs
  src/quo/core.cljs
  src/status_im/contexts/preview/quo/list_items/market_token.cljs
  src/status_im/contexts/preview/quo/main.cljs
  src/status_im/contexts/preview/quo/preview.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#21983 Integrate Firebase for Android and iOS
  .env.jenkins
  Makefile
  android/app/build.gradle
  android/app/google-services.json
  android/app/googleServices.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/values/colors.xml
  android/build.gradle
  doc/fdroid.md
  ios/GoogleService-Info.plist
  ios/Podfile
  ios/Podfile.lock
  ios/StatusIm.xcodeproj/project.pbxproj
  ios/StatusIm/AppDelegate.mm
  ios/StatusIm/Info.plist
  ios/StatusImPR/Info.plist
  nix/deps/gradle/deps.json
  nix/deps/gradle/deps.list
  nix/deps/gradle/deps.urls
  nix/deps/gradle/proj.list
  package.json
  scripts/build-android.sh
  scripts/google-free.sh
  shadow-cljs.edn
  src/legacy/status_im/events.cljs
  src/legacy/status_im/ui/screens/notifications_settings/events.cljs
  src/legacy/status_im/ui/screens/notifications_settings/views.cljs
  src/legacy/status_im/ui/screens/screens.cljs
  src/native_module/push_notifications.cljs
  src/quo/components/settings/settings_item/style.cljs
  src/react_native/firebase.cljc
  src/react_native/firebase/firebase_fdroid.cljs
  src/react_native/firebase/firebase_google.cljs
  src/react_native/firebase/firebase_unsupported.cljs
  src/react_native/permissions.cljs
  src/react_native/push_notification_ios.cljs
  src/status_im/config.cljs
  src/status_im/contexts/onboarding/events.cljs
  src/status_im/contexts/profile/login/events.cljs
  src/status_im/contexts/profile/logout/events.cljs
  src/status_im/contexts/profile/push_notifications/effects.cljs
  src/status_im/contexts/profile/push_notifications/events.cljs
  src/status_im/contexts/profile/settings/list_items.cljs
  src/status_im/contexts/profile/settings/screens/notifications/view.cljs
  src/status_im/contexts/push_notifications/notifications.cljs
  src/status_im/contexts/push_notifications/permissions.cljs
  src/status_im/contexts/push_notifications/remote_token.cljs
  src/status_im/feature_flags.cljs
  src/status_im/navigation/screens.cljs
  src/status_im/subs/profile.cljs
  test/appium/views/profile_view.py
  translations/en.json
  yarn.lock
Labels: android, Tested - OK, push-notifications, request-manual-qa, mobile-core

#22487 chore: update status-go with status news-feed setting
  status-go-version.json
Labels: Tested - OK, request-manual-qa, status-go, mobile-core

#22505 e2e: saving logs as zip archive
  test/appium/support/base_test_report.py
  test/appium/tests/base_test_case.py
Labels: tests

#22504 fix(wallet)_: Paraswap partner address for Base chain
  VERSION
  status-go-version.json
Labels: Tested - OK, request-manual-qa, wallet-core

#22495 Support images in dropdown component (#22382)
  src/quo/components/dropdowns/network_dropdown/component_spec.cljs
  src/quo/components/dropdowns/network_dropdown/style.cljs
  src/quo/components/dropdowns/network_dropdown/view.cljs
  src/status_im/contexts/preview/quo/dropdowns/network_dropdown.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22517 e2e: separate TestRail status for xfailed tests
  test/appium/support/testrail_report.py
Labels: tests

#22327 [#22234] feat: add tx params settings for swap
  src/status_im/contexts/wallet/common/transaction_settings/core.cljs
  src/status_im/contexts/wallet/common/transaction_settings/gas_amount/view.cljs
  src/status_im/contexts/wallet/common/transaction_settings/max_fee/view.cljs
  src/status_im/contexts/wallet/common/transaction_settings/nonce/view.cljs
  src/status_im/contexts/wallet/common/transaction_settings/priority_fee/view.cljs
  src/status_im/contexts/wallet/common/transaction_settings/view.cljs
  src/status_im/contexts/wallet/data_store.cljs
  src/status_im/contexts/wallet/events.cljs
  src/status_im/contexts/wallet/router/core.cljs
  src/status_im/contexts/wallet/router/schema.cljs
  src/status_im/contexts/wallet/send/events.cljs
  src/status_im/contexts/wallet/send/transaction_confirmation/view.cljs
  src/status_im/contexts/wallet/send/utils.cljs
  src/status_im/contexts/wallet/swap/swap_confirmation/view.cljs
  src/status_im/navigation/screens.cljs
  src/status_im/subs/wallet/send.cljs
  src/status_im/subs/wallet/swap.cljs
  src/status_im/subs/wallet/wallet.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa, status-go, test cases added, wallet-core

#22511 [#22010] fix: wrong selected account for bridging
  src/status_im/contexts/wallet/events.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22507 [#22439] fix: open from page when multi operable account exist
  src/status_im/contexts/wallet/home/view.cljs
Labels: Tested - OK, request-manual-qa, wallet-core

#22525 chore: update Podfile and Gradle dependencies for safe-area deps
  ios/Podfile.lock
  nix/deps/gradle/proj.list
Labels: ios, android, Tested - OK, build, infra, skip-manual-qa

#22501 e2e: changed navigation in tests using view id tracker
  test/appium/tests/activity_center/test_activity_center.py
  test/appium/tests/communities/test_community.py
  test/appium/tests/private_chats/test_group_chat.py
  test/appium/tests/private_chats/test_one_to_one_chat.py
  test/appium/tests/profile/test_fallback.py
  test/appium/tests/profile/test_profile.py
  test/appium/views/base_view.py
  test/appium/views/profile_view.py
Labels: tests

#22460 🔖 refactor: update references from "Mainnet" to "Ethereum"
  src/quo/components/list_items/network_list/component_spec.cljs
  src/quo/components/wallet/network_bridge/view.cljs
  src/quo/components/wallet/transaction_progress/component_spec.cljs
  src/status_im/contexts/preview/quo/list_items/network_list.cljs
  src/status_im/contexts/preview/quo/navigation/page_nav.cljs
  src/status_im/contexts/preview/quo/notifications/activity_logs.cljs
  src/status_im/contexts/preview/quo/tags/summary_tag.cljs
  src/status_im/contexts/preview/quo/wallet/network_bridge.cljs
  src/status_im/contexts/preview/quo/wallet/transaction_progress.cljs
  src/status_im/contexts/preview/quo/wallet/transaction_summary.cljs
  src/status_im/contexts/preview/quo/wallet/wallet_activity.cljs
  src/status_im/contexts/wallet/bridge/bridge_to/view.cljs
  src/status_im/contexts/wallet/collectible/tabs/overview/view.cljs
  src/status_im/contexts/wallet/send/input_amount/component_spec.cljs
  src/status_im/contexts/wallet/send/transaction_confirmation/view.cljs
  src/status_im/subs/wallet/send_test.cljs
  src/status_im/subs/wallet/swap_test.cljs
  src/utils/ethereum/chain.cljs
  status-go-version.json
  test/appium/tests/wallet/test_wallet_mainnet_no_send.py
  translations/en.json
Labels: Tested - OK, request-manual-qa, status-go, wallet-core

#22541 e2e: false failures fixes
  test/appium/tests/deep_links/test_deep_and_universal_links.py
  test/appium/tests/profile/test_profile.py
  test/appium/views/base_view.py
  test/appium/views/dapps_view.py
Labels: tests

#22523 Basic market page
  .env
  resources/images/icons2/24x24/swap@2x.png
  resources/images/icons2/24x24/swap@3x.png
  src/quo/components/list_items/market_token/style.cljs
  src/status_im/contexts/market/style.cljs
  src/status_im/contexts/market/view.cljs
  src/status_im/contexts/shell/bottom_tabs/view.cljs
  src/status_im/contexts/shell/constants.cljs
  src/status_im/contexts/shell/home_stack/view.cljs
  src/status_im/contexts/shell/state.cljs
  src/status_im/contexts/shell/utils.cljs
  src/status_im/feature_flags.cljs
  src/status_im/subs/market.cljs
  src/status_im/subs/root.cljs
  translations/en.json
Labels: skip-manual-qa

#22528 2.33.x: Update metadata for F-Droid
  fastlane/metadata/android/ar-SA/full_description.txt
  fastlane/metadata/android/en-US/full_description.txt
  fastlane/metadata/android/en-US/images/phoneScreenshots/1.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/2.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/3.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/4.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/5.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/6.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/7.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/8.png
  fastlane/metadata/android/es-ES/full_description.txt
  fastlane/metadata/android/fr-FR/full_description.txt
  fastlane/metadata/android/ja-JP/full_description.txt
  fastlane/metadata/android/ko-KR/full_description.txt
  fastlane/metadata/android/pt-BR/full_description.txt
  fastlane/metadata/android/ru-RU/full_description.txt
  fastlane/metadata/android/tr-TR/full_description.txt
  fastlane/metadata/android/uk-UA/full_description.txt
  fastlane/metadata/android/zh-CN/full_description.txt
Labels: skip-manual-qa

#22553 Allow user to unpin messages straight from pinned messages drawer
  src/status_im/contexts/chat/messenger/menus/pinned_messages/view.cljs
  src/status_im/contexts/chat/messenger/messages/pin/events.cljs
Labels: Tested - OK, request-manual-qa, test cases required
