Repository status-im/status-mobile, pull requests merged in 2025-05, with the labels that each got.

#22563 e2e: fixes for unpin messages and community logo
  test/appium/tests/deep_links/test_deep_and_universal_links.py
  test/appium/tests/private_chats/test_group_chat.py
  test/appium/tests/private_chats/test_one_to_one_chat.py
  test/appium/views/chat_view.py
  test/appium/views/elements_templates/status_community_logo.png
Labels: tests

#22556 [#22522] fix: apply new router changes
  modules/react-native-status/nodejs/status.cpp
  src/status_im/contexts/wallet/send/events.cljs
  src/status_im/contexts/wallet/swap/events.cljs
  status-go-version.json
Labels: Tested - OK, request-manual-qa, status-go, wallet-core

#22564 Allow user to toggle feature flags from shake gesture drawer
  .env
  .env.jenkins
  src/legacy/status_im/utils/logging/view.cljs
  src/status_im/config.cljs
  src/status_im/contexts/onboarding/create_profile/view.cljs
  src/status_im/contexts/onboarding/log_in/view.cljs
  src/status_im/contexts/profile/profiles/view.cljs
  src/status_im/contexts/profile/settings/list_items.cljs
  src/status_im/core.cljs
  src/status_im/navigation/screens.cljs
  translations/en.json
Labels: skip-manual-qa

#22512 e2e: added wallet connect tests
  test/appium/support/testrail_report.py
  test/appium/tests/wallet/test_wallet_connect.py
  test/appium/views/base_view.py
  test/appium/views/wallet_view.py
  test/appium/views/web_views/external_browser_view.py
Labels: tests

#22569 Tests/custom tx params and nonce
  test/appium/requirements.txt
  test/appium/support/api/lightweight_browser_api.py
  test/appium/support/api/network_api.py
  test/appium/tests/base_test_case.py
  test/appium/tests/wallet_txs/test_wallet_mainnet_txs.py
  test/appium/tests/wallet_txs/test_wallet_testnet.py
  test/appium/views/wallet_view.py
Labels: tests

#22572 e2e: fix for pinned messages test
  test/appium/views/chat_view.py
Labels: tests

#22568 [#22385] fix: tx setting current value as a range
  src/status_im/contexts/wallet/common/transaction_settings/max_fee/view.cljs
  src/status_im/contexts/wallet/common/transaction_settings/priority_fee/view.cljs
  src/status_im/contexts/wallet/common/transaction_settings/view.cljs
  src/status_im/subs/wallet/wallet.cljs
  translations/en.json
Labels: request-manual-qa, wallet-core

#22576 Redo advanced settings
  src/legacy/status_im/backup/core.cljs
  src/legacy/status_im/events.cljs
  src/legacy/status_im/fleet/core.cljs
  src/legacy/status_im/ui/screens/advanced_settings/views.cljs
  src/legacy/status_im/ui/screens/backup_settings/view.cljs
  src/legacy/status_im/ui/screens/default_sync_period_settings/view.cljs
  src/legacy/status_im/ui/screens/fleet_settings/styles.cljs
  src/legacy/status_im/ui/screens/fleet_settings/views.cljs
  src/legacy/status_im/ui/screens/log_level_settings/views.cljs
  src/legacy/status_im/ui/screens/peers_stats.cljs
  src/legacy/status_im/ui/screens/screens.cljs
  src/legacy/status_im/ui/screens/sync_settings/views.cljs
  src/legacy/status_im/ui/screens/wakuv2_settings/edit_node/styles.cljs
  src/legacy/status_im/ui/screens/wakuv2_settings/edit_node/views.cljs
  src/legacy/status_im/ui/screens/wakuv2_settings/styles.cljs
  src/legacy/status_im/ui/screens/wakuv2_settings/views.cljs
  src/quo/components/drawers/drawer_action/view.cljs
  src/quo/components/settings/category/settings/view.cljs
  src/quo/components/settings/settings_item/style.cljs
  src/quo/components/settings/settings_item/view.cljs
  src/status_im/common/signals/events.cljs
  src/status_im/contexts/profile/logout/events.cljs
  src/status_im/contexts/profile/settings/list_items.cljs
  src/status_im/contexts/profile/settings/style.cljs
  src/status_im/contexts/profile/settings/view.cljs
  src/status_im/contexts/settings/advanced/events.cljs
  src/status_im/contexts/settings/advanced/style.cljs
  src/status_im/contexts/settings/advanced/view.cljs
  src/status_im/events.cljs
  src/status_im/navigation/screens.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa

#22589 e2e: fixes for profile and wallet tests
  test/appium/tests/profile/test_profile.py
  test/appium/tests/wallet_txs/test_wallet_testnet.py
Labels: tests

#22496 Token details page UI (#22380)
  src/quo/components/list_items/market_token/view.cljs
  src/quo/components/list_items/token_value/view.cljs
  src/quo/core.cljs
  src/status_im/contexts/market/token/style.cljs
  src/status_im/contexts/market/token/view.cljs
  src/status_im/contexts/market/view.cljs
  src/status_im/feature_flags.cljs
  src/status_im/navigation/screens.cljs
  src/utils/number.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, wallet-core

#22561 fix: prevent adding more participants than the allowed group chat limit
  src/status_im/contexts/chat/group/details/style.cljs
  src/status_im/contexts/chat/group/details/view.cljs
  src/status_im/contexts/chat/group/events.cljs
  src/status_im/subs/chats.cljs
  src/status_im/subs/chats_test.cljs
  src/status_im/subs/root.cljs
Labels: Tested - OK, request-manual-qa, external

#22582 [#22579] Add link to docs to create a community
  src/status_im/common/home/title_column/style.cljs
  src/status_im/common/home/title_column/view.cljs
  src/status_im/constants.cljs
  src/status_im/contexts/chat/home/view.cljs
  src/status_im/contexts/communities/actions/home_plus/view.cljs
  src/status_im/contexts/communities/home/view.cljs
  src/status_im/contexts/shell/home_stack/style.cljs
  src/status_im/contexts/shell/home_stack/view.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa

#22583 fix Incorrect error reporting when creating a new profile
  src/status_im/contexts/onboarding/create_password/view.cljs
Labels: request-manual-qa

#22524 feat: Update the enable-notifications flows and notification settings UI
  ios/GoogleService-Info.plist
  shadow-cljs.edn
  src/legacy/status_im/events.cljs
  src/react_native/permissions.cljs
  src/status_im/common/kv_storage/effects.cljs
  src/status_im/contexts/onboarding/enable_biometrics/view.cljs
  src/status_im/contexts/onboarding/enable_notifications/style.cljs
  src/status_im/contexts/onboarding/enable_notifications/view.cljs
  src/status_im/contexts/onboarding/events.cljs
  src/status_im/contexts/onboarding/interceptors.cljs
  src/status_im/contexts/profile/events.cljs
  src/status_im/contexts/profile/login/events.cljs
  src/status_im/contexts/profile/push_notifications/effects.cljs
  src/status_im/contexts/profile/push_notifications/events.cljs
  src/status_im/contexts/profile/settings/screens/notifications/styles.cljs
  src/status_im/contexts/profile/settings/screens/notifications/view.cljs
  src/status_im/contexts/push_notifications/permissions.cljs
  src/status_im/events.cljs
  src/status_im/subs/onboarding.cljs
  src/status_im/subs/profile.cljs
  translations/en.json
Labels: ios, android, Tested - OK, push-notifications, request-manual-qa, test cases required, mobile-core

#22612 e2e: fix for waku backup and wallet connect tests
  test/appium/tests/communities/test_community.py
  test/appium/views/profile_view.py
  test/appium/views/web_views/external_browser_view.py
Labels: tests

#22588 [#22548] fix: correct exchange rate order for swap
  src/status_im/subs/wallet/swap.cljs
  translations/en.json
Labels: Tested - OK, request-manual-qa, wallet-core

#22587 e2e: added more wallet connect tests
  test/appium/tests/wallet/test_wallet_connect.py
  test/appium/views/base_view.py
  test/appium/views/wallet_view.py
Labels: tests

#22597 fix(wallet)_: Fee mode and custom TX fields for non EIP 1559 TX
  src/status_im/contexts/wallet/account/view.cljs
  src/status_im/contexts/wallet/common/transaction_settings/gas_price/view.cljs
  src/status_im/contexts/wallet/common/transaction_settings/view.cljs
  src/status_im/contexts/wallet/data_store.cljs
  src/status_im/contexts/wallet/events.cljs
  src/status_im/contexts/wallet/router/core.cljs
  src/status_im/contexts/wallet/router/router_test.cljs
  src/status_im/contexts/wallet/router/schema.cljs
  src/status_im/contexts/wallet/send/utils.cljs
  src/status_im/navigation/screens.cljs
  src/status_im/subs/wallet/wallet.cljs
  status-go-version.json
  translations/en.json
Labels: Tested - OK, request-manual-qa, status-go, wallet-core
